{% extends 'settings/layout.html' %}
{% load i18n %}
{% load humanize %}
{% load utilities %}

{% block title %}
{% trans "Auto-moderation rules" %}
{% endblock %}

{% block header %}
{% trans "Auto-moderation rules" %}
{% endblock %}

{% block panel %}

<div class="notification content">
    <p>
        {% trans "Auto-moderation rules will create reports for any local user or status with fields matching the provided string." %}
        {% trans "Users or statuses that have already been reported (regardless of whether the report was resolved) will not be flagged." %}
    </p>
</div>
<div class="box block">
    {% if task %}
    <dl class="block">
        <dt class="is-pulled-left mr-5 has-text-weight-bold">
            {% trans "Schedule:" %}
        </dt>
        <dd>
            {{ task.schedule }}
        </dd>

        <dt class="is-pulled-left mr-5 has-text-weight-bold">
            {% trans "Last run:" %}
        </dt>
        <dd>
            {{ task.last_run_at|naturaltime }}
        </dd>

        <dt class="is-pulled-left mr-5 has-text-weight-bold">
            {% trans "Total run count:" %}
        </dt>
        <dd>
            {{ task.total_run_count }}
        </dd>

        <dt class="is-pulled-left mr-5 has-text-weight-bold">
            {% trans "Enabled:" %}
        </dt>
        <dd>
            <span class="tag {% if task.enabled %}is-success{% else %}is-danger{% endif %}">
                {{ task.enabled|yesno }}
            </span>
        </dd>
    </dl>

    <div class="is-flex is-justify-content-space-between block">
        <form name="unschedule-scan" method="POST" action="{% url 'settings-automod-unschedule' task.id %}">
            {% csrf_token %}
            <button class="button is-danger">{% trans "Delete schedule" %}</button>
        </form>
        <form name="run-scan" method="POST" action="{% url 'settings-automod-run' %}">
            {% csrf_token %}
            <button class="button">{% trans "Run now" %}</button>
            <p class="help">{% trans "Last run date will not be updated" %}</p>
        </form>
    </div>

    {% else %}
    <h2 class="title is-4">{% trans "Schedule scan" %}</h2>
    <form name="schedule-scan" method="POST" action="{% url 'settings-automod-schedule' %}">
        {% csrf_token %}
        <div class="field">
            <label class="label" for="id_every">
                {{ task_form.every.label }}
            </label>
            {{ task_form.every }}
            <p class="help" id="desc_every">
                {{ task_form.every.help_text }}
            </p>
        </div>
        <div class="field">
            <label class="label" for="id_period">
            {{ task_form.period.label }}
            </label>
            <div class="select">
                {{ task_form.period }}
            </div>
            <p class="help" id="desc_period">
                {{ task_form.period.help_text }}
            </p>
        </div>
        <button class="button is-warning">{% trans "Schedule scan" %}</button>
    </form>
    {% endif %}
</div>

{% if success %}
<div class="notification is-success is-light">
    <span class="icon icon-check" aria-hidden="true"></span>
    <span>
        {% trans "Successfully added rule" %}
    </span>
</div>
{% endif %}

<div class="block content">
    <h2 class="title is-4">{% trans "Add Rule" %}</h2>
    <div class="box">
        <form action="{% url 'settings-automod' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ request.user.id }}" name="created_by">

            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label" for="id_string_match">{% trans "String match" %}</label>
                        {{ form.string_match }}
                        {% include 'snippets/form_errors.html' with errors_list=form.string_match.errors id="desc_string_match" %}
                    </div>
                </div>

                <div class="column">
                    <div class="field">
                        <label class="label" for="id_flag_users">
                            {{ form.flag_users }}
                            {% trans "Flag users" %}
                        </label>
                    </div>

                    <div class="field">
                        <label class="label" for="id_flag_statuses">
                            {{ form.flag_statuses }}
                            {% trans "Flag statuses" %}
                        </label>
                    </div>
                </div>
            </div>

            <div class="field">
                <button type="submit" class="button is-primary">{% trans "Add rule" %}</button>
            </div>
        </form>
    </div>
</div>

<div class="block content">
    <h2 class="title is-4">{% trans "Current Rules" %}</h2>
    <details class="details-panel">
        <summary>
            <span class="title is-5" role="heading" aria-level="3">
                {% trans "Show rules" %} ({{ rules.count }})
            </span>
            <span class="details-close icon icon-x" aria-hidden="true"></span>
        </summary>

        <div class="table-container">
            <table class="table is-striped is-fullwidth">
                <tr>
                    <th>
                        <label for="id_string_match">{% trans "String match" %}</label>
                    </th>
                    <th>
                        <label for="id_flag_users">{% trans "Flag users" %}</label>
                    </th>
                    <th>
                        <label for="id_flag_statuses">{% trans "Flag statuses" %}</label>
                    </th>
                    <th>
                    </th>
                </tr>
                {% for rule in rules %}
                <tr>
                    <td>
                        <code>{{ rule.string_match }}</code>
                    </td>
                    <td>
                        {{ rule.flag_users|yesno }}
                    </td>
                    <td>
                        {{ rule.flag_statuses|yesno }}
                    </td>
                    <td>
                        <form action="{% url 'settings-automod-delete' rule.id %}" method="POST">
                            {% csrf_token %}
                            <div class="control">
                                <button type="submit" class="button is-danger is-light is-small">
                                    <span class="icon icon-x m-0-mobile" aria-hidden="true"></span>
                                    <span class="is-sr-only-mobile">{% trans "Remove rule" %}</span>
                                </button>
                            </div>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </details>
</div>
{% endblock %}

