{% extends 'settings/layout.html' %}
{% load i18n %}
{% block title %}{% trans "Federation Settings" %}{% endblock %}

{% block header %}{% trans "Federated Settings" %}{% endblock %}

{% block panel %}
{% if success %}
<div class="notification is-success is-light">
    <span class="icon icon-check" aria-hidden="true"></span>
    <span>
        {% trans "Settings saved" %}
    </span>
</div>
{% endif %}

{% if form.errors %}
<div class="notification is-danger is-light">
    <span class="icon icon-x" aria-hidden="true"></span>
    <span>
        {% trans "Unable to save settings" %}
    </span>
</div>
{% endif %}

<form
    name="federation-settings"
    class="content"
    action="{% url 'settings-federation-settings' %}"
    method="POST"
>
    {% csrf_token %}
    <section class="block box">
        <div class="field">
            <label class="label" for="id_require_signed_get">
                {{ form.require_signed_get }}
                <span>{% trans "Require signed GET requests" %}</span>
                <span class="tag is-success">{% trans 'Recommended' %}</span>
            </label>

            <span class="help" id="desc_require_signed_get">
                {% trans "Prevents anonymous requests from federated instances. Roughly equivalent to Mastodon's 'secure mode' or 'AUTHORIZED_FETCH'" %}
            </span>
        </div>
        <div class="field">
            <label class="label" for="id_require_login_everywhere">
                {{ form.require_login_everywhere }}
                {% trans "Prevent unauthenticated views" %}
            </label>
            <span class="help" id="desc_require_login_everywhere">
                {% trans "Prevents anonymous users from seeing most pages. To block JSON requests as well, enable 'Require signed GET requests'" %}
            </span>
        </div>
        <div class="field">
            <label class="label" for="id_disable_federation">
                {{ form.disable_federation }}
                <span>{% trans "Disable federation" %}</span>
                <span class="tag is-warning">{% trans 'Caution' %}</span>
            </label>
            <span class="help" id="desc_disable_federation">
                {% trans "Prevents your instance from interacting with other federated services. Existing data from other instances will still be present." %}
            </span>
        </div>
        <div class="field">
            <label class="label" for="id_block_incoming_search">
                {{ form.block_incoming_search }}
                <span>{% trans "Block incoming search" %}</span>
                <span class="tag is-danger">{% trans 'Not Recommended' %}</span>
            </label>
            <span class="help" id="desc_block_incoming_search">
                {% trans "Prevents other servers from searching your instance. It is strongly recommended you do NOT enable this setting." %}
            </span>


        </div>
    </section>
    <footer class="block">
        <button class="button is-primary" type="submit">{% trans "Save" %}</button>
    </footer>
</form>


{% endblock %}

