{% load bookwyrm_tags %}
{% include 'snippets/avatar.html' with user=status.user %}
{% include 'snippets/username.html' with user=status.user %}

{% if status.status_type == 'GeneratedNote' %}
    {{ status.content | safe }}
{% elif status.status_type == 'Review' and not status.name and not status.content%}
    rated
{% elif status.status_type == 'Review' %}
    reviewed
{% elif status.status_type == 'Comment' %}
    commented on
{% elif status.status_type == 'Quotation' %}
    quoted
{% elif status.reply_parent %}
    {% with parent_status=status|parent %}
    replied to {% include 'snippets/username.html' with user=parent_status.user possessive=True %} <a href="{{parent_status.remote_id }}">{% if parent_status.status_type == 'GeneratedNote' %}update{% else %}{{ parent_status.status_type | lower }}{% endif %}</a>
    {% endwith %}
{% endif %}
{% if status.book %}
<a href="/book/{{ status.book.id }}">{{ status.book.title }}</a>
{% elif status.mention_books %}
<a href="/book/{{ status.mention_books.first.id }}">{{ status.mention_books.first.title }}</a>
{% endif %}
