{% extends 'components/dropdown.html' %}
{% load i18n %}
{% load bookwyrm_tags %}

{% block dropdown-trigger %}
<span class="icon icon-dots-three">
    <span class="is-sr-only">{% trans "More options" %}</span>
</span>
{% endblock %}

{% block dropdown-list %}
{% if status.user == request.user %}
{# things you can do to your own statuses #}
<li role="menuitem">
    <form class="dropdown-item pt-0 pb-0" name="delete-{{status.id}}" action="/delete-status/{{ status.id }}" method="post">
        {% csrf_token %}
        <button class="button is-danger is-light is-fullwidth is-small" type="submit">
            {% trans "Delete status" %}
        </button>
    </form>
</li>
{% if status.status_type != 'GeneratedNote' and status.status_type != 'Rating' %}
<li role="menuitem">
    <form class="dropdown-item pt-0 pb-0" name="delete-{{status.id}}" action="{% url 'redraft' status.id %}" method="post">
        {% csrf_token %}
        <button class="button is-danger is-light is-fullwidth is-small" type="submit">
            {% trans "Delete & re-draft" %}
        </button>
    </form>
</li>
{% endif %}
{% else %}
{# things you can do to other people's statuses #}
<li role="menuitem">
    <a href="{% url 'direct-messages-user' status.user|username %}" class="button is-small is-fullwidth">{% trans "Send direct message" %}</a>
</li>
<li role="menuitem">
    {% include 'snippets/report_button.html' with user=status.user status=status %}
</li>
<li role="menuitem">
    {% include 'snippets/block_button.html' with user=status.user class="is-fullwidth" %}
</li>
{% endif %}
{% endblock %}
