{% extends 'components/card.html' %}
{% load i18n %}

{% load bookwyrm_tags %}
{% load humanize %}

{% block card-header %}
    <h3 class="card-header-title has-background-white-ter is-block">
        {% include 'snippets/status/status_header.html' with status=status %}
    </h3>
{% endblock %}


{% block card-content %}
    {% include 'snippets/status/status_content.html' with status=status %}
{% endblock %}


{% block card-footer %}
<div class="card-footer-item">
    {% if moderation_mode and perms.bookwyrm.moderate_post %}

    {# moderation options #}
    <form class="dropdown-item pt-0 pb-0" name="delete-{{status.id}}" action="/delete-status/{{ status.id }}" method="post">
        {% csrf_token %}
        <button class="button is-danger is-light" type="submit">
            {% trans "Delete status" %}
        </button>
    </form>

    {% elif request.user.is_authenticated %}
    <div class="field has-addons">
        <div class="control">
            {% trans "Reply" as button_text %}
            {% include 'snippets/toggle/toggle_button.html' with controls_text="show-comment" controls_uid=status.id text=button_text icon="comment" class="is-small toggle-button" focus="id_content_reply" %}
        </div>
        <div class="control">
            {% include 'snippets/boost_button.html' with status=status %}
        </div>
        <div class="control">
            {% include 'snippets/fav_button.html' with status=status %}
        </div>
    </div>

    {% else %}
    <a href="/login">
        <span class="icon icon-comment" title="{% trans 'Reply' %}">
            <span class="is-sr-only">{% trans "Reply" %}</span>
        </span>

        <span class="icon icon-boost" title="{% trans 'Boost status' %}">
            <span class="is-sr-only">{% trans "Boost status" %}</span>
        </span>

        <span class="icon icon-heart" title="{% trans 'Like status' %}">
            <span class="is-sr-only">{% trans "Like status" %}</span>
        </span>
    </a>
    {% endif %}
</div>

<div class="card-footer-item">
    {% include 'snippets/privacy-icons.html' with item=status %}
</div>

<div class="card-footer-item">
    <a href="{{ status.remote_id }}">{{ status.published_date | post_date }}</a>
</div>
{% if not moderation_mode %}
<div class="card-footer-item">
    {% include 'snippets/status/status_options.html' with class="is-small" right=True %}
</div>
{% endif %}
{% endblock %}


{% block card-bonus %}
{% if request.user.is_authenticated and not moderation_mode %}
{% with status.id|uuid as uuid %}
<section class="hidden" id="show-comment-{{ status.id }}">
    <div class="card-footer">
        <div class="card-footer-item">
            {% include 'snippets/create_status_form.html' with reply_parent=status type="reply" %}
        </div>
    </div>
</section>
{% endwith %}
{% endif %}
{% endblock %}
