{% extends 'layout.html' %}
{% load i18n %}
{% load bookwyrm_tags %}

{% block title %}{{ author.name }}{% endblock %}

{% block content %}
<div class="block">
    <div class="columns is-mobile">
        <div class="column">
            <h1 class="title">{{ author.name }}</h1>
        </div>
        {% if request.user.is_authenticated and perms.bookwyrm.edit_book %}
        <div class="column is-narrow">
            <a href="{{ author.local_path }}/edit">
                <span class="icon icon-pencil" title="{% trans 'Edit Author' %}">
                    <span class="is-sr-only">{% trans "Edit Author" %}</span>
                </span>
            </a>
        </div>
        {% endif %}
    </div>
</div>

<div class="block">
    {% if author.bio %}
    <p>
        {{ author.bio | to_markdown | safe }}
    </p>
    {% endif %}
    {% if author.wikipedia_link %}
    <p><a href="{{ author.wikipedia_link }}" rel=”noopener” target="_blank">{% trans "Wikipedia" %}</a></p>
    {% endif %}
</div>

<div class="block">
    <h3 class="title is-4">{% blocktrans with name=author.name %}Books by {{ name }}{% endblocktrans %}</h3>
    {% include 'snippets/book_tiles.html' with books=books %}
</div>
{% endblock %}

