{% extends 'layout.html' %}
{% load i18n %}
{% load utilities %}

{% block title %}{% trans "Compose status" %}{% endblock %}
{% block content %}
<header class="block content">
    <h1>{% trans "Compose status" %}</h1>
</header>

{% with 0|uuid as uuid %}
<div class="box columns">
    {% if book %}
    <div class="column is-3 is-cover">
        <div class="block">
            <a href="{{ book.local_path }}">{% include 'snippets/book_cover.html' with book=book cover_class='is-w-auto-tablet is-h-l-mobile' %}</a>
        </div>

        <h3 class="title is-6">{% include 'snippets/book_titleby.html' with book=book %}</h3>
    </div>
    {% endif %}
    <div class="column">
        {% if draft.reply_parent %}
        {% include 'snippets/status/status.html' with status=draft.reply_parent no_interact=True %}
        {% endif %}

        {% if not draft %}
        {% include 'snippets/create_status.html' %}
        {% else %}
        {% include 'snippets/create_status_form.html' %}
        {% endif %}
    </div>
</div>
{% endwith %}
{% endblock %}
