{% extends 'layout.html' %}
{% load bookwyrm_tags %}
{% block content %}
<div class="block">
    <h1 class="title">
        {% if is_self %}Your
        {% else %}
        {% include 'snippets/username.html' with user=user possessive=True %}
        {% endif %}
        followers
    </h1>
</div>

{% include 'snippets/user_header.html' with user=user %}

<div class="block">
    <h2 class="title">Followers</h2>
    {% for followers in followers %}
    <div class="block">
        <div class="field is-grouped">
            <div class="control">
                {% include 'snippets/avatar.html' with user=followers %}
            </div>
            <div class="control">
                {% include 'snippets/username.html' with user=followers show_full=True  %}
            </div>
            <div class="control">
                {% include 'snippets/follow_button.html' with user=followers %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% if not followers.count %}
    <div>{{ user|username }} has no followers</div>
    {% endif %}
</div>

{% endblock %}
