{% extends 'layout.html' %}
{% load fr_display %}
{% block content %}
{% include 'snippets/user_header.html' with user=user %}

<div class="block">
    <h2 class="title">Followers</h2>
    {% for followers in followers %}
    <div class="block">
        <div class="field is-grouped">
            <div class="control">
                {% include 'snippets/avatar.html' with user=followers %}
            </div>
            <div class="control">
                {% include 'snippets/username.html' with user=followers show_full=True  %}
            </div>
            <div class="control">
                {% include 'snippets/follow_button.html' with user=followers %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% if not followers.count %}
    <div>{{ user|username }} has no followers</div>
    {% endif %}
</div>

{% endblock %}
