{% extends 'layout.html' %}
{% load bookwyrm_tags %}
{% block content %}
<div class="block">
    <h1 class="title">
        Users following
        {% if is_self %}you
        {% else %}
        {% include 'snippets/username.html' with user=user %}
        {% endif %}
    </h1>
</div>

{% include 'snippets/user_header.html' with user=user %}

<div class="block">
    <h2 class="title">Following</h2>
    {% for follower in user.following.all %}
    <div class="block">
        <div class="field is-grouped">
            <div class="control">
                {% include 'snippets/avatar.html' with user=follower %}
            </div>
            <div class="control">
                {% include 'snippets/username.html' with user=follower show_full=True  %}
            </div>
            <div class="control">
                {% include 'snippets/follow_button.html' with user=follower %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% if not following.count %}
    <div>No one is following {{ user|username }}</div>
    {% endif %}
</div>

{% endblock %}
