{% extends 'user/layout.html' %}
{% load i18n %}

{% block header %}
<div class="columns is-mobile">
    <div class="column">
        <h1 class="title">{% blocktrans %}{{ year }} Reading Progress{% endblocktrans %}</h1>
    </div>
    {% if is_self and goal %}
    <div class="column is-narrow">
        {% trans "Edit Goal" as button_text %}
        {% include 'snippets/toggle/open_button.html' with text=button_text icon_with_text="pencil" controls_text="show-edit-goal" focus="edit-form-header" %}
    </div>
    {% endif %}
</div>
{% endblock %}

{% block panel %}
<section class="block">
    {% if user == request.user %}
    <div class="block">
        {% now 'Y' as year %}
        <section class="card {% if goal %}is-hidden{% endif %}" id="show-edit-goal">
            <header class="card-header">
                <h2 class="card-header-title has-background-primary has-text-white" tabindex="0" id="edit-form-header">
                    <span class="icon icon-book is-size-3 mr-2" aria-hidden="true"></span> {% blocktrans %}{{ year }} Reading Goal{% endblocktrans %}
                </h2>
            </header>
            <section class="card-content content">
                <p>{% blocktrans %}Set a goal for how many books you'll finish reading in {{ year }}, and track your progress throughout the year.{% endblocktrans %}</p>

                {% include 'snippets/goal_form.html' with goal=goal year=year %}
            </section>
        </section>
    </div>
    {% endif %}

    {% if not goal and user != request.user %}
    <p>{% blocktrans with name=user.display_name %}{{ name }} hasn't set a reading goal for {{ year }}.{% endblocktrans %}</p>
    {% endif %}

    {% if goal %}
    {% include 'snippets/goal_progress.html' with goal=goal %}
    {% endif %}
</section>

{% if goal.books %}
<section>
    <h2 class="title is-4">
        {% if goal.user == request.user %}
        {% blocktrans %}Your {{ year }} Books{% endblocktrans %}
        {% else %}
        {% blocktrans with username=goal.user.display_name %}{{ username }}'s {{ year }} Books{% endblocktrans %}
        {% endif %}
    </h2>

    <div class="columns is-mobile is-multiline">
        {% for book in goal.books %}
            <div class="column is-cover">
                <a href="{{ book.book.local_path }}">
                    {% include 'snippets/book_cover.html' with book=book.book cover_class='is-h-xl is-h-l-mobile' %}
                </a>
            </div>
        {% endfor %}
    </div>
</section>
{% endif %}
{% endblock %}
