{% extends 'layout.html' %}
{% load i18n %}
{% load humanize %}

{% block title %}{% trans "Import Books" %}{% endblock %}

{% block content %}
<div class="block">
    <h1 class="title">{% trans "Import Books" %}</h1>
    <form name="import" action="/import" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label class="label" for="source">
            <p>{% trans "Data source" %}</p>
        <div class="select {{ class }}">
            <select name="source" id="source">
                <option value="GoodReads" {% if current == 'GoodReads' %}selected{% endif %}>
                    GoodReads
                </option>
                <option value="LibraryThing" {% if current == 'LibraryThing' %}selected{% endif %}>
                    LibraryThing
                </option>
            </select>
        </div>
        </label>

        <div class="field">
            {{ import_form.as_p }}
        </div>
        <div class="field">
            <label class="label">
                <input type="checkbox" name="include_reviews" checked> {% trans "Include reviews" %}
            </label>
        </div>
        <div class="field">
            <label class="label">
                <p>{% trans "Privacy setting for imported reviews:" %}</p>
                {% include 'snippets/privacy_select.html' with no_label=True %}
            </label>
        </div>
        <button class="button is-primary" type="submit">{% trans "Import" %}</button>
    </form>
</div>

<div class="content block">
    <h2 class="title">{% trans "Recent Imports" %}</h2>
    {% if not jobs %}
    <p>{% trans "No recent imports" %}</p>
    {% endif %}
    <ul>
        {% for job in jobs %}
            <li><a href="/import/{{ job.id }}">{{ job.created_date | naturaltime }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
