{% extends 'layout.html' %}
{% load bookwyrm_tags %}
{% load humanize %}
{% block content %}
<div class="block">
    <h1 class="title">Import Status</h1>

    <p>
        Import started: {{ job.created_date | naturaltime }}
    </p>
    {% if task.successful %}
    <p>
        Import completed: {{ task.date_done | naturaltime }}
    </p>
    {% elif task.failed %}
    <div class="notification is-danger">TASK FAILED</div>
    {% endif %}
</div>

<div class="block">
    {% if not task.ready %}
    Import still in progress.
    <p>
        (Hit reload to update!)
    </p>
    {% endif %}
</div>

{% if failed_items %}
<div class="block">
    <h2 class="title is-4">Failed to load</h2>
    {% if not job.retry %}
    <form name="retry" action="/retry-import/" method="post">
        {% csrf_token %}
        <input type="hidden" name="import_job" value="{{ job.id }}">
        <ul>
            <fieldset>
            {% for item in failed_items %}
                <li class="pb-1">
                    <input class="checkbox" type="checkbox" name="import_item" value="{{ item.id }}" id="import-item-{{ item.id }}">
                    <label for="import-item-{{ item.id }}">
                        Line {{ item.index }}:
                        <strong>{{ item.data|dict_key:'Title' }}</strong> by
                        {{ item.data|dict_key:'Author' }}
                    </label>
                    <p>
                        {{ item.fail_reason }}.
                    </p>
                </li>
            {% endfor %}
            </fieldset>
        </ul>
        <div class="block pt-1" onclick="selectAll(this)">
            <label class="label">
                <input type="checkbox" class="checkbox">
                Select all
            </label>
        </div>
        <button class="button" type="submit">Retry items</button>
        {% else %}
        <ul>
            {% for item in failed_items %}
            <li class="pb-1">
                <p>
                    Line {{ item.index }}:
                    <strong>{{ item.data|dict_key:'Title' }}</strong> by
                    {{ item.data|dict_key:'Author' }}
                </p>
                <p>
                    {{ item.fail_reason }}.
                </p>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </form>
</div>
{% endif %}

<div class="block">
    <h2 class="title is-4">Successfully imported</h2>
    <table class="table">
        <tr>
            <th>
                Book
            </th>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
            </th>
        </tr>
        {% for item in items %}
        <tr>
            <td>
                {% if item.book %}
                <a href="/book/{{ item.book.id }}">
                {% include 'snippets/book_cover.html' with book=item.book size='small' %}
                </a>
                {% endif %}
            </td>
            <td>
                {{ item.data|dict_key:'Title' }}
            </td>
            <td>
                {{ item.data|dict_key:'Author' }}
            </td>
            <td>
                {% if item.book %}
                <span class="icon icon-check">
                    <span class="is-sr-only">Imported</span>
                </span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
{% endblock %}
