{% extends 'layout.html' %}
{% load fr_display %}
{% load humanize %}
{% block content %}
<div class="block">
    <h1 class="title">Import Status</h1>

    <p>
        Import started: {{ job.created_date | naturaltime }}
    </p>
    {% if task.successful %}
    <p>
        Import completed: {{ task.date_done | naturaltime }}
    </p>
    {% elif task.failed %}
    <div class="notification is-danger">TASK FAILED</div>
    {% endif %}
</div>

<div class="block">
    {% if task.status == 'PENDING' %}
    Import still in progress.
    <p>
        (Hit reload to update!)
    </p>
    {% endif %}
</div>

<div class="block">
    <table class="table">
        <tr>
            <th>
                Book
            </th>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
            </th>
        </tr>
        {% for item in items %}
        <tr>
            <td>
                {% if item.book %}
                <a href="/book/{{ item.book.id }}">
                {% include 'snippets/book_cover.html' with book=item.book size='small' %}
                </a>
                {% endif %}
            </td>
            <td>
                {{ item.data|dict_key:'Title' }}
            </td>
            <td>
                {{ item.data|dict_key:'Author' }}
            </td>
            <td>
                {% if item.book %}✓
                {% elif item.fail_reason %}
                    {{ item.fail_reason }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
{% endblock %}
