{% extends 'layout.html' %}
{% block content %}

<div class="columns">
    <div class="column">
        <div class="block login">
            <h1 class="title">Create an Account</h1>
            <div>
                <form name="register" method="post" action="/user-register">
                    <input type=hidden name="invite_code" value="{{ invite.code }}">
                    {% include 'snippets/register_form.html' %}
                </form>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="block">
            {% include 'snippets/about.html' %}
        </div>
    </div>
</div>

{% endblock %}
