{% extends 'layout.html' %}
{% load humanize %}
{% block content %}
<div class="block">
    <h1 class="title">Invites</h1>
    <table class="table is-striped">
        <tr>
            <th>Link</th>
            <th>Expires</th>
            <th>Max uses</th>
            <th>Times used</th>
        </tr>
        {% if not invites %}
        <tr><td colspan="4">No active invites</td></tr>
        {% endif %}
        {% for invite in invites %}
        <tr>
            <td><a href="{{ invite.link }}">{{ invite.link }}</td>
            <td>{{ invite.expiry|naturaltime }}</td>
            <td>{{ invite.use_limit }}</td>
            <td>{{ invite.times_used }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="block">
    <h2 class="title is-4">Generate New Invite</h2>

    <form name="invite" action="/create-invite/" method="post">
        {% csrf_token %}
        <div class="field is-grouped">
            <div class="control">
                <label class="label" for="id_expiry">Expiry:</label>
                <div class="select">
                    {{ form.expiry }}
                </div>
            </div>
            <div class="control">
                <label class="label" for="id_use_limit">Use limit:</label>
                <div class="select">
                    {{ form.use_limit }}
                </div>
            </div>
        </div>

        <button class="button is-primary" type="submit">Create Invite</button>
    </form>
</div>
{% endblock %}
