{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans "Reset Password" %}{% endblock %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-half">
        <div class="block">
            <h1 class="title">{% trans "Reset Password" %}</h1>

            {% if message %}<p class="notification is-primary">{{ message }}</p>{% endif %}

            <p>{% trans "A link to reset your password will be sent to your email address" %}</p>
            <form name="password-reset" method="post" action="/password-reset">
                {% csrf_token %}
                <div class="field">
                    <label class="label" for="id_email_register">{% trans "Email address:" %}</label>
                    <div class="control">
                        <input type="email" name="email" maxlength="254" class="input" id="id_email_register">
                        {% if error %}
                        <p class="help is-danger">{{ error }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link" type="submit">{% trans "Reset password" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


