{% extends 'layout.html' %}
{% block content %}

<div class="columns">
    <div class="column">
        <div class="block">
            <h1 class="title">Reset Password</h1>
            {% for error in errors %}
            <p class="is-danger">{{ error }}</p>
            {% endfor %}
            <form name="reset-password" method="post" action="/reset-password">
                {% csrf_token %}
                <input type="hidden" name="reset-code" value="{{ code }}">
                <div class="field">
                    <label class="label" for="id_password">Password:</label>
                    <div class="control">
                        <input type="password" name="password" maxlength="128" class="input" required="" id="id_password">
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="id_confirm_password">Confirm password:</label>
                    <div class="control">
                        <input type="password" name="confirm-password" maxlength="128" class="input" required="" id="id_confirm_password">
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary" type="submit">Confirm</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="column">
        <div class="block">
            {% include 'snippets/about.html' %}
        </div>
    </div>

</div>
{% endblock %}

