{% extends 'layout.html' %}
{% block content %}

<div class="columns is-centered">
    <div class="column is-half">
        <div class="block">
            <h1 class="title">Reset Password</h1>
            {% if message %}<p>{{ message }}</p>{% endif %}
            <p>A link to reset your password will be sent to your email address</p>
            <form name="reset-password" method="post" action="/reset-password-request">
                {% csrf_token %}
                <div class="field">
                    <label class="label" for="id_email_register">Email address:</label>
                    <div class="control">
                        <input type="email" name="email" maxlength="254" class="input" id="id_email_register">
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link" type="submit">Reset password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


