{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans "Reset Password" %}{% endblock %}

{% block content %}
<div class="columns">
    <div class="column">
        <div class="block">
            <h1 class="title">{% trans "Reset Password" %}</h1>
            {% for error in errors %}
            <p class="is-danger">{{ error }}</p>
            {% endfor %}
            <form name="password-reset" method="post" action="/password-reset/{{ code }}">
                {% csrf_token %}
                <div class="field">
                    <label class="label" for="id_password">{% trans "Password:" %}</label>
                    <div class="control">
                        <input type="password" name="password" maxlength="128" class="input" required="" id="id_password">
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="id_confirm_password">{% trans "Confirm password:" %}</label>
                    <div class="control">
                        <input type="password" name="confirm-password" maxlength="128" class="input" required="" id="id_confirm_password">
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary" type="submit">{% trans "Confirm" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="column">
        <div class="block">
            {% include 'snippets/about.html' %}
        </div>
    </div>
</div>
{% endblock %}

