{% extends 'layout.html' %}
{% block content %}

<div class="columns">
<div class="column">
    <h2 class="title">About {{ site_settings.name }}</h2>
    <p class="block">
        {{ site_settings.instance_description }}
    </p>

    <p class="block">
        <a href="/about/">More about this site</a>
    </p>

    <p class="block">
        <a href="/login" class="button is-link">Log In</a>
    </p>
</div>

<div class="column">
    <h2 class="title">Create an Account</h2>

    <div class="block">
        <form name="register" method="post" action="/user-register">
            {% csrf_token %}
            <div class="field">
                <label class="label" for="id_username">Username:</label>
                <div class="control">{{ register_form.username }}</div>
            </div>
            <div class="field">
                <label class="label" for="id_email">Email address:</label>
                <div class="control">{{ register_form.email }}</div>
            </div>
            <div class="field">
                <label class="label" for="id_password">Password:</label>
                <div class="control">{{ register_form.password }}</div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-primary" type="submit">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</div>

</div>
{% endblock %}

