{% extends 'layout.html' %}
{% block content %}

<div class="block">
{% include 'user_header.html' with user=user %}
</div>

<div>
    <div class="block">
        <h2 class="title">User Activity</h2>
    </div>
    {% for activity in activities %}
    <div class="block">
        {% include 'snippets/status.html' with status=activity %}
    </div>
    {% endfor %}
    {% if not activities %}
    <div class="content-container">
        <p>No activities yet!</a>
    </div>
    {% endif %}
</div>

{% endblock %}
