{% extends 'layout.html' %}
{% block content %}

{% include 'user_header.html' with user=user %}
{% include 'snippets/covers_shelf.html' with shelves=shelves user=user %}

<div>
    <div class="content-container"><h2>User Activity</h2></div>
    {% for activity in activities %}
    <div class="content-container">
        {% include 'snippets/status.html' with status=activity %}
    </div>
    {% endfor %}
    {% if not activities %}
    <div class="content-container">
        <p>No activities yet!</a>
    </div>
    {% endif %}
</div>

{% endblock %}
