{% extends 'feed/layout.html' %}
{% load i18n %}

{% block panel %}

<h1 class="title">
    {{ tab.name }}
</h1>
<div class="tabs">
    <ul>
        {% for stream in streams %}
        <li class="{% if tab.key == stream.key %}is-active{% endif %}"{% if tab.key == stream.key %} aria-current="page"{% endif %}>
            <a href="/{{ stream.key }}#feed">{{ stream.shortname }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

{# announcements and system messages #}
{% if not activities.number > 1 %}
<a href="{{ request.path }}" class="transition-y is-hidden notification is-primary is-block" data-poll-wrapper>
    {% blocktrans with tab_key=tab.key %}load <span data-poll="stream/{{ tab_key }}">0</span> unread status(es){% endblocktrans %}
</a>

{% if request.user.show_goal and not goal and tab.key == 'home' %}
{% now 'Y' as year %}
<section class="block">
    {% include 'snippets/goal_card.html' with year=year %}
    <hr>
</section>
{% endif %}

{% endif %}

{# activity feed #}
{% if not activities %}
<div class="block content">
    <p>{% trans "There aren't any activities right now! Try following a user to get started" %}</p>

    {% if request.user.show_suggested_users and suggested_users %}
    {# suggested users for when things are very lonely #}
    {% include 'feed/suggested_users.html' with suggested_users=suggested_users %}
    {% endif %}
</div>
{% endif %}

{% for activity in activities %}

{% if request.user.show_suggested_users and not activities.number > 1 and forloop.counter0 == 2 and suggested_users %}
{# suggested users on the first page, two statuses down #}
{% include 'feed/suggested_users.html' with suggested_users=suggested_users %}
{% endif %}
<div class="block">
    {% include 'snippets/status/status.html' with status=activity %}
</div>
{% endfor %}

{% endblock %}
