{% extends 'components/card.html' %}
{% load i18n %}

{% block card-body-style %}notification{% endblock %}

{% block card-header %}
<h3 class="title is-5 is-flex is-align-items-center">
    <span class="icon icon-book is-size-3 mr-2 ml-1" aria-hidden="true"></span> {% blocktrans %}{{ year }} Reading Goal{% endblocktrans %}
</h3>
{% endblock %}

{% block card-content %}
{% include 'snippets/goal_form.html' %}
{% endblock %}

{% block card-footer %}
<form class="card-footer-item is-flex-direction-column" method="post" action="{% url 'hide-goal' %}">
    {% csrf_token %}
    <button type="submit" class="button is-danger is-light is-block set-display" >{% trans "Dismiss message" %}</button>
    <p class="help">{% blocktrans with path=request.user.local_path %}You can set or change your reading goal any time from your <a href="{{ path }}">profile page</a>{% endblocktrans %}</p>
</form>
{% endblock %}
