{% extends 'layout.html' %}
{% load i18n %}
{% load utilities %}

{% block title %}{% trans "Updates" %}{% endblock %}

{% block content %}
{% if user.moved_to %}
<div class="container my-6">
    <div class="notification is-info has-text-centered">
        <p>
            {% trans "You have have moved to" %}
            <a href="{{user.moved_to}}">{% id_to_username user.moved_to %}</a>
        </p>
        <p> {% trans "You can undo this move to restore full functionality, but some followers may have already unfollowed this account." %}</p>
        <form name="remove-alias" action="{% url 'prefs-unmove' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="remote_id" id="remote_id" value="{{user.moved_to}}">
            <button type="submit" class="button is-small">{% trans "Undo move" %}</button>
        </form>
    </div>
</div>
{% else %}
<div class="columns">
    {% if user.is_authenticated %}
    <div class="column is-one-third">
        {% include "feed/suggested_books.html" %}
        {% if goal %}
        <section class="block">
            <div class="block">
                <h3 class="title is-4">{% blocktrans with yar=goal.year %}{{ year }} Reading Goal{% endblocktrans %}</h3>
                {% include 'snippets/goal_progress.html' with goal=goal %}
            </div>
        </section>
        {% endif %}
    </div>
    {% endif %}

    <div class="column is-two-thirds" id="feed">
        {% block panel %}{% endblock %}

        {% if activities %}
        {% include 'snippets/pagination.html' with page=activities path=path anchor="#feed" mode="chronological" %}
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}


