{% extends 'feed/layout.html' %}
{% load i18n %}
{% load bookwyrm_tags %}

{% block panel %}
<header class="block">
    <a href="/#feed" class="button" data-back>
        <span class="icon icon-arrow-left" aria-hidden="true"></span>
        <span>{% trans "Back" %}</span>
    </a>
</header>

<div class="thread-parent is-relative block">
    <div class="thread">
        {% for parent in ancestors %}
        {% if parent.id %}
        <div class="block">
            {% include 'snippets/status/status.html' with status=parent|load_subclass %}
        </div>
        {% endif %}
        {% endfor %}
        <div class="is-main block" id="anchor-{{ status.id }}">
            {% include 'snippets/status/status.html' with status=status main=True %}
        </div>

        {% for child in children %}
        <div class="block">
            {% include 'snippets/status/status.html' with status=child %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

