{% load status_display %}
<div class="block">

{% with depth=depth|add:1 %}
    {% if depth <= max_depth and status.reply_parent and direction <= 0 %}
        {% with direction=-1 %}
        {% include 'feed/thread.html' with status=status|parent is_root=False %}
        {% endwith %}
    {% endif %}

{% include 'snippets/status/status.html' with status=status main=is_root %}

{% if depth <= max_depth and direction >= 0 %}
    {% for reply in status|replies  %}
        {% with direction=1 %}
            {% include 'feed/thread.html' with status=reply is_root=False %}
        {% endwith %}
    {% endfor %}
{% endif %}
{% endwith %}

</div>
