{% load bookwyrm_tags %}
<div class="columns">
    <div class="column is-narrow">
        {% include 'snippets/book_cover.html' with book=book size="large" %}
        {% include 'snippets/stars.html' with rating=book.review__rating__avg %}
    </div>
    <div class="column">
        <h3 class="title is-5"><a href="/book/{{ book.id }}">{{ book.title }}</a></h3>
        {% if book.authors %}
        <p class="subtitle is-5">by {% include 'snippets/authors.html' with book=book %}</p>
        {% endif %}
        <blockquote class="content">{{ book|book_description|to_markdown|safe|truncatewords_html:50 }}</blockquote>
    </div>
</div>
