{% load i18n %}{% load utilities %}

{% blocktrans with book_path=status.book.local_path book=status.book|book_title %}rated <a href="{{ book_path }}">{{ book }}</a>:{% endblocktrans %} {% include 'snippets/stars.html' with rating=status.rating %}
<span
    itemprop="reviewRating"
    itemscope
    itemtype="https://schema.org/Rating"
>
    <span class="is-hidden" {{ rating_type }}>
        <meta itemprop="ratingValue" content="{{ status.rating|floatformat }}">

        <span
            itemprop="reviewRating"
            itemscope
            itemtype="https://schema.org/Rating"
        >
            <span class="is-hidden" {{ rating_type }}>
                <meta itemprop="ratingValue" content="{{ status.rating|floatformat }}">
            </span>
        </span>
    </span>
</span>
