{% extends 'components/modal.html' %}
{% load i18n %}

{% block modal-title %}
    {% blocktrans %}
        Scan Barcode
    {% endblocktrans %}
{% endblock %}

{% block modal-body %}
    <div class="block">
        <div id="barcode-scanner"></div>
    </div>

    <div id="barcode-camera-list" class="select is-small">
        <select>
        </select>
    </div>
    
    <div id="barcode-status" class="block">
        <div class="grant-access is-hidden">
            <span class="icon icon-lock"></span>
            <span class="is-size-5">{% trans "Requesting camera..." %}</span></br>
            <span>{% trans "Grant access to the camera to scan a book's barcode." %}</span>
        </div>
        <div class="access-denied is-hidden">
            <span class="icon icon-warning"></span>
            <span class="is-size-5">Access denied</span><br/>
            <span>{% trans "Could not access camera" %}</span>
        </div>
        <div class="scanning is-hidden">
            <span class="icon icon-barcode"></span>
            <span class="is-size-5">{% trans "Scanning..." context "barcode scanner" %}</span><br/>
            <span>{% trans "Align your book's barcode with the camera." %}</span>
        </div>
        <div class="found is-hidden">
            <span class="icon icon-check"></span>
            <span class="is-size-5">{% trans "ISBN scanned" context "barcode scanner" %}</span><br/>
            {% trans "Searching for book:" context "followed by ISBN" %} <span class="isbn"></span>...
        </div>
    </div>
{% endblock %}

{% block modal-footer %}
    <button class="button" type="button" data-modal-close>{% trans "Cancel" %}</button>
{% endblock %}


