{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans "Genres" %}{% endblock %}

{% block content %}

<head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css">
</head>



<script type="text/javascript">
    $(function() {
        $(".chosen-select").chosen({width: "70%"})
    });
</script>

<form method="POST"> {% csrf_token %}
    <div class="field">
        <!-- <form action="" method="POST"> {% csrf_token %}
            <select multiple="multiple"  name="genres" id="genres" size="5">
                {% for genre in genre_tags %}
                    <option value="{{genre.id}}">{{genre.genre_name}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" type="submit">Search</button>
        </form> -->

        <div class="control">
            <label class="radio">
                <input type="radio" name="search_buttons" value="search_and">
                Must include all selected genres
            </label>
            <label class="radio">
                <input type="radio" name="search_buttons" value="search_or">
                Can include any of the selected genres
            </label>
            <label class="radio">
                <input type="radio" name="search_buttons" value="search_exclude">
                Exclude specified genres
            </label>
        </div>

        <select data-placeholder="Click to start selecting genres!" multiple class="chosen-select" name="genres" id="genres">
            <option value=""></option>
            {% for genre in genre_tags %}
            <option value="{{genre.id}}">{{genre.genre_name}}</option>
            {% endfor %}
        </select>

    </div>
    <div class="field">
        <button class="button is-primary" type="submit">Search</button>
    </div>


</form>
<div>
    <ul class="block">
    {% for result in listed_books %}
        <li class="pd-4 mb-5 local-book-search-result" id="tour-local-book-search-result">
            <div class="columns is-mobile is-gapless mb-0">
                <div class="column is-cover">
                    {% include 'snippets/book_cover.html' with book=result cover_class='is-w-xs is-h-xs' %}
                </div>
    
                <div class="column is-10 ml-3">
                    <p>
                        <strong>
                            {% include "snippets/book_titleby.html" with book=result %}
                        </strong>
                    </p>
                    <p>
                        {% if result.first_published_date or result.published_date %}
                            ({% firstof result.first_published_date.year result.published_date.year %})
                        {% endif %}
                    </p>
                    <p>
                        {% for gena in result.genres.all %}
                            <strong>
                                {{gena.genre_name}}
                            </strong>
                        {% endfor %}
                    </p>
                </div>
            </div>
            </li>
    
    {% endfor %}
    </ul>
</div>
{% endblock %}