{% extends 'settings/layout.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% load utilities %}
{% load date_ext %}

{% block title %}
{% blocktrans %}
Merge {{plural_model}}
{% endblocktrans %}
{% endblock %}

{% block header %}
{% blocktrans %}
Merge {{plural_model}}
{% endblocktrans %}
{% endblock %}

{% block panel %}
{% with tab_id=request.GET.tab_id canonical_id=canonical.id %}
<div class="block">
    {% if not simple_fields and not array_fields %}
    <form class="form" method="post" action="{% url 'settings-confirm-manual-merge' model_name canonical_id %}?source={{source}}">
        {% csrf_token %}
        <div class="has-text-centered m-4">
            <p>
            {% blocktrans trimmed %}
            All mergable fields in {{ model_name }} {{ canonical_id }} and its duplicate {{ plural_model }} are identical.
            {% endblocktrans %}
            </p>
            <button type="submit" class="button is-primary m-4">{% trans 'Merge' %}</button>
        </div>
    </form>
    {% else %}
    <section>
        <p class="mb-4">
            {% trans 'Choose which values to use in the merged object. Only values that differ are shown – other values will automatically merge.' %}
        </p>
    </section>
    <table class="table is-fullwidth">
    <form class="form" method="post">
    {% csrf_token %}
        <thead class="has-background-secondary">
            <tr class="has-text-centered">
                <td>{% trans 'Field' %}</td>
                <td colspan="2">{% trans 'Canonical values' %}</td>
                <td colspan="2">{% trans 'Duplicate values' %}</td>
            </tr>
        </thead>
        <tbody>
            {% for field in simple_fields %}
            <tr>
                {% with canonical|getattr_filter:field.name as canonical_value %}
                <td class="has-background-secondary">
                    <strong>{{field.trans_name}}</strong>
                </td>
                <td colspan="2">
                    {% if canonical_value %}
                    <input
                        type="radio" name="{{field.name}}" value="{{canonical|getattr_filter:field.name}}"
                        checked
                    />
                    {% else %}
                    <input type="radio" name="{{field.name}}" value=""/>
                    <span class="is-italic" >{% trans 'no value' %}</span>
                    {% endif %}
                    <label for="{{field.name}}" class="mr-4">{{canonical|getattr_filter:field.name}}</label>
                </td>
                <td>
                {% for val in field.values %}
                    <div>
                        <input
                        type="radio"
                        name="{{field.name}}"
                        {% if field.name in datetime_fields %}
                        value="{{ val|date:'Y-m-d' }}"
                        {% else %}
                        value="{{val}}"
                        {% endif %}
                        {% if field.values|length == 1 and not canonical_value %}checked{% endif %}
                        />
                        <label for="{{field.name}}" class="mr-4">
                            {% if field.name in datetime_fields %}
                            {{ val|date:'Y-m-d' }}
                            {% else %}
                            {{val}}
                            {% endif %}
                        </label>
                    </div>
                {% endfor %}
                </td>
                {% endwith %}
            </tr>
            {% endfor %}
            {% for field in array_fields %}
            <tr>
                <td class="has-background-secondary">
                    <strong>{{field.trans_name}}</strong>
                </td>
                <td colspan="2">
                    {% for val in canonical|getattr_filter:field.name %}
                    <div>
                        <input type="checkbox" name="{{field.name}}" value="{{val}}" checked/>
                        <label for="{{field.name}}" class="mr-4">{{ val }}</label>
                    </div>
                    {% endfor %}
                </td>
                <td colspan="2">
                    {% for val in field.values %}
                    <div>
                        <input type="checkbox" name="{{field.name}}" value="{{val}}" checked/>
                        <label for="{{field.name}}" class="mr-4">{{ val }}</label>
                    </div>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="5">
                <button type="submit" class="button is-pulled-right is-primary">{% trans 'Next' %}</button>
                </td>
            </tr>
        </tbody>
    </div>
    </form>
    </table>
    {% endif %}
</div>
{% endwith %}
{% endblock %}
