[Unit]
Description=BookWyrm worker
After=network.target postgresql.service redis.service

[Service]
User=bookwyrm
Group=bookwyrm
WorkingDirectory=/opt/bookwyrm/
ExecStart=/opt/bookwyrm/venv/bin/celery -A celerywyrm worker -l info -Q high_priority,medium_priority,low_priority,imports,broadcast
StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target
