{% load i18n %}
<div class="block content">
    <h3>{% trans "Actions" %}</h3>
    <div class="is-flex">
        <p class="mr-1">
            <a class="button" href="{% url 'direct-messages-user' user.username %}">{% trans "Send direct message" %}</a>
        </p>
        <form name="deactivate" method="post" action="{% url 'settings-report-deactivate' report.id  %}">
            {% csrf_token %}
            {% if user.is_active %}
            <button type="submit" class="button is-danger is-light">{% trans "Deactivate user" %}</button>
            {% else %}
            <button class="button">{% trans "Reactivate user" %}</button>
            {% endif %}
        </form>
    </div>
</div>
