{% load i18n %}
<div class="block content">
    {% if not user.is_active and user.deactivation_reason == "self_deletion" or user.deactivation_reason == "moderator_deletion" %}
    <div class="notification is-danger">
        {% trans "Permanently deleted" %}
    </div>
    {% else %}
    <h3>{% trans "Actions" %}</h3>

    <div class="is-flex">
        {% if user.is_active %}
        <p class="mr-1">
            <a class="button" href="{% url 'direct-messages-user' user.username %}">{% trans "Send direct message" %}</a>
        </p>
        {% endif %}

        {% if user.is_active or user.deactivation_reason == "pending" %}
        <form name="suspend" method="post" action="{% url 'settings-report-suspend' user.id  %}" class="mr-1">
            {% csrf_token %}
            <button type="submit" class="button is-danger is-light">{% trans "Suspend user" %}</button>
        </form>
        {% else %}
        <form name="unsuspend" method="post" action="{% url 'settings-report-unsuspend' user.id  %}" class="mr-1">
            {% csrf_token %}
            <button class="button">{% trans "Un-suspend user" %}</button>
        </form>
        {% endif %}

        {% if user.local %}
        <div>
            {% trans "Permanently delete user" as button_text %}
            {% include "snippets/toggle/open_button.html" with controls_text="delete_user" text=button_text class="is-danger is-light" %}
        </div>
        {% endif %}
    </div>

    {% if user.local %}
    <div>
        {% include "user_admin/delete_user_form.html" with controls_text="delete_user" class="mt-2 mb-2" %}
    </div>
    {% endif %}

    {% if user.local %}
    <div>
        <form name="permission" method="post" action="{% url 'settings-user' user.id %}">
            {% csrf_token %}
            <label class="label" for="id_user_group">{% trans "Access level:" %}</label>
            {% if group_form.non_field_errors %}
            {{ group_form.non_field_errors }}
            {% endif %}
            {% with group=user.groups.first %}
            <div class="select">
                <select name="groups" id="id_user_group">
                    {% for value, name in group_form.fields.groups.choices %}
                    <option value="{{ value }}" {% if name == group.name %}selected{% endif %}>{{ name|title }}</option>
                    {% endfor %}
                    <option value="" {% if not group %}selected{% endif %}>User</option>
                </select>
            </div>
            {% for error in group_form.groups.errors %}
            <p class="help is-danger">{{ error | escape }}</p>
            {% endfor %}
            {% endwith %}
            <button class="button">{% trans "Save" %}</button>
        </form>
    </div>
    {% endif %}

    {% endif %}
</div>
