# Python
/venv
*.pyc
*.swp
**/__pycache__
.local

# VSCode
/.vscode

# sqlite
*.db
*.db-journal

# BookWyrm
.env
/images/

# Testing
.coverage

#PyCharm
.idea

#Node tools
/node_modules/

#nginx
nginx/default.conf
