[MAIN]
ignore=migrations
load-plugins=pylint.extensions.no_self_use

[MESSAGES CONTROL]
disable =
    cyclic-import,
    duplicate-code,
    fixme,
    no-member,
    raise-missing-from,
    too-few-public-methods,
    too-many-ancestors,
    too-many-instance-attributes,
    unnecessary-lambda-assignment,
    unsubscriptable-object,
enable =
    useless-suppression

[FORMAT]
max-line-length=88
