aiohttp==3.9.2
bleach==5.0.1
celery==5.2.7
colorthief==0.2.1
Django==3.2.23
django-celery-beat==2.4.0
bw-file-resubmit==0.6.0rc2
django-compressor==4.3.1
django-imagekit==4.1.0
django-model-utils==4.3.1
django-sass-processor==1.2.2
django-csp==3.7
environs==9.5.0
flower==1.2.0
libsass==0.22.0
Markdown==3.4.1
Pillow==10.0.1
psycopg2==2.9.5
pycryptodome==3.19.1
python-dateutil==2.8.2
redis==4.5.4
requests==2.31.0
responses==0.22.0
pytz>=2022.7
boto3==1.26.57
django-storages==1.13.2
django-storages[azure]
django-redis==5.2.0
opentelemetry-api==1.16.0
opentelemetry-exporter-otlp-proto-grpc==1.16.0
opentelemetry-instrumentation-celery==0.37b0
opentelemetry-instrumentation-django==0.37b0
opentelemetry-instrumentation-psycopg2==0.37b0
opentelemetry-sdk==1.16.0
protobuf==3.20.*
pyotp==2.8.0
qrcode==7.3.1

# Dev
pytest-django==4.1.0
pytest==6.1.2
pytest-cov==2.10.1
pytest-env==0.6.2
pytest-xdist==2.3.0
pytidylib==0.3.2
pylint==2.14.0
mypy==1.5.1
celery-types==0.18.0
django-stubs[compatible-mypy]==4.2.4
types-bleach==6.0.0.4
types-dataclasses==0.6.6
types-Markdown==3.4.2.10
types-Pillow==10.0.0.3
types-psycopg2==2.9.21.11
types-python-dateutil==2.8.19.14
types-requests==2.31.0.2
types-requests==2.31.0.2
