celery==4.4.2
coverage==5.1
Django==3.0.7
django-model-utils==4.0.0
environs==7.2.0
flower==0.9.4
Pillow>=7.1.0
psycopg2==2.8.4
pycryptodome==3.9.4
pytest-django==4.1.0
pytest==6.1.2
pytest-cov==2.10.1
python-dateutil==2.8.1
redis==3.4.1
requests==2.22.0
responses==0.10.14
django-rename-app==0.1.2
