{% extends 'settings/layout.html' %}
{% load i18n %}
{% load utilities %}
{% load humanize %}

{% block title %}
{% trans "Force Password Reset" %}
{% endblock %}

{% block header %}
{% trans "Force Password Reset" %}
{% endblock %}

{% block panel %}

<p class="notification">
    {% trans "All users in the selected category will be logged out and required to set a new password to log back in." %}
    {% trans "If your account is in the group, you will be logged out out after submitting." %}
</p>
{% if submitted %}
<p class="notification is-warning">
    {% trans "Users given password resets:" %} <strong>{{ force_count}}</strong>
</p>
{% endif %}

<div class="box">
    {% if count != 0 and not count %}
    <form name="force-reset-confirm" method="GET">
        <div class="field">
            <label class="label" for="id_group">
                Force reset for users of group:
            </label>
            <div class="select">
                <select name="group" id="id_group">
                    <option value="all">{% trans "All users" %}</option>
                    {% for name in groups %}
                    <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                    <option value="user">{% trans "users" %}</option>
                </select>
            </div>
        </div>
        <input type="submit" class="button is-warning" value="{% trans 'Force password reset' %}">
    </form>

    {% else %}

    <p>{% trans "Number of users that will be effected:" %} <strong>{{ count|intcomma }}</strong></p>
    <form name="force-reset" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{ group }}" name="group">
        <p>
            <strong>{% trans "Are you sure you want to force password reset for these users:" %}</strong>
        </p>
        <input type="submit" class="button is-warning" value="{% trans 'Confirm' %}">
    </form>

    {% endif %}
</div>

{% endblock %}
