{% extends 'settings/layout.html' %}
{% load i18n %}
{% load utilities %}

{% block title %}
{% trans "Force Password Reset" %}
{% endblock %}

{% block header %}
{% trans "Force Password Reset" %}
{% endblock %}

{% block panel %}

<p class="notification">
    {% trans "All users in the selected category will be logged out and required to set a new password to log back in." %}
    {% trans "If your account is in the group, you will be logged out out after submitting." %}
</p>
{% if submitted %}
<p class="notification is-warning">
    {% trans "Users given password resets:" %} <strong>{{ force_count}}</strong>
</p>
{% endif %}

<div class="box">
    <form name="force-reset" method="POST">
        {% csrf_token %}
        <div class="field">
            <div class="select">
                <select name="group" id="id_group">
                    <option value="">{% trans "All users" %}</option>
                    {% for name in groups %}
                    <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <input type="submit" class="button is-warning" value="{% trans 'Force password reset' %}">
    </form>
</div>

{% endblock %}
