{% extends 'settings/layout.html' %}
{% load i18n %}
{% load utilities %}

{% block title %}{{ user.username }}{% endblock %}
{% block header %}
{{ user.username }}
{% endblock %}

{% block breadcrumbs %}
<nav class="breadcrumb subtitle" aria-label="breadcrumbs">
    <ul>
        <li><a href="{% url 'settings-users' %}">{% trans "Users" %}</a></li>
        <li class="is-active">
            <a href="#" aria-current="page">
                {{ user|username }}
            </a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block panel %}
{% include 'settings/users/user_info.html' with user=user %}

{% include 'settings/users/user_moderation_actions.html' with user=user %}

{% endblock %}

