{% extends 'user/user_layout.html' %}
{% load i18n %}
{% load bookwyrm_tags %}

{% block header %}
<h1 class="title">
    {% trans "User Profile" %}
</h1>
{% endblock %}

{% block panel %}
<div class="block">
    <h2 class="title">{% trans "Following" %}</h2>
    {% for follower in user.following.all %}
    <div class="block columns">
        <div class="column">
            <a href="{{ follower.local_path }}">
                {% include 'snippets/avatar.html' with user=follower %}
                {{ follower.display_name }}
            </a>
            ({{ follower.username }})
        </div>
        <div class="column">
            {% include 'snippets/follow_button.html' with user=follower %}
        </div>
    </div>
    {% endfor %}
    {% if not following.count %}
    <div>{% blocktrans with username=user|username %}{{ username }} isn't following any users{% endblocktrans %}</div>
    {% endif %}
</div>
{% endblock %}
