{% extends 'user/layout.html' %}
{% load utilities %}
{% load i18n %}

{% block title %}
{% trans "Groups" %} - {{ user|username }}
{% endblock %}

{% block header %}
<div class="columns is-mobile">
    <div class="column">
        <h1 class="title">
            {% if is_self %}
            {% trans "Your Groups" %}
            {% else %}
            {% blocktrans with username=user.display_name %}Groups: {{ username }}{% endblocktrans %}
            {% endif %}
        </h1>
    </div>
    {% if is_self %}
    <div class="column is-narrow" id="tour-create-group">
        {% trans "Create group" as button_text %}
        {% include 'snippets/toggle/open_button.html' with controls_text="create_group" icon_with_text="plus" text=button_text %}
    </div>
    {% endif %}
</div>
{% endblock %}


{% block panel %}
<section class="block">

    {% if request.user.is_authenticated %}
    <div class="block">
        {% include 'groups/create_form.html' with controls_text="create_group" %}
    </div>
    {% endif %}

    {% include 'groups/user_groups.html' with memberships=memberships %}
</section>
<div>
    {% include 'snippets/pagination.html' with page=user.memberships path=path %}
</div>
{% endblock %}

{% block scripts %}
{% if request.user.show_guided_tour %}
    {% include 'guided_tour/user_groups.html' %}
{% endif %}
{% endblock %}
