{% extends 'layout.html' %}
{% load i18n %}
{% load humanize %}
{% load utilities %}
{% load markdown %}

{% block title %}{{ user.display_name }}{% endblock %}

{% block content %}
<header class="block">
    {% block header %}
    <h1 class="title">
        {% trans "User Profile" %}
    </h1>
    {% endblock %}
</header>

{# user bio #}
<div class="block">
    <div class="columns">
        <div class="column is-two-fifths">
            {% include 'user/user_preview.html' with user=user %}
        </div>

        {% if user.summary %}
        <div class="column box has-background-white-bis content">
            {{ user.summary|to_markdown|safe }}
        </div>
        {% endif %}
    </div>
    {% if not is_self and request.user.is_authenticated %}
    {% include 'snippets/follow_button.html' with user=user %}
    {% endif %}

    {% if is_self and user.follower_requests.all %}
    <div class="follow-requests">
        <h2>{% trans "Follow Requests" %}</h2>
        {% for requester in user.follower_requests.all %}
            <div class="row shrink">
                <p>
                    <a href="{{ requester.local_path }}">{{ requester.display_name }}</a> ({{ requester.username }})
                </p>
                {% include 'snippets/follow_request_buttons.html' with user=requester %}
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% block tabs %}
{% with user|username as username %}
<nav class="tabs">
    <ul>
        {% url 'user-feed' user|username as url %}
        <li{% if url == request.path or url == request.path|add:'/' %} class="is-active"{% endif %}>
            <a href="{{ url }}">{% trans "Activity" %}</a>
        </li>
        {% if is_self or user.goal.exists %}
        {% now 'Y' as year %}
        {% url 'user-goal' user|username year as url %}
        <li{% if url in request.path %} class="is-active"{% endif %}>
            <a href="{{ url }}">{% trans "Reading Goal" %}</a>
        </li>
        {% endif %}
        {% if is_self or user.list_set.exists %}
        {% url 'user-lists' user|username as url %}
        <li{% if url in request.path %} class="is-active"{% endif %}>
            <a href="{{ url }}">{% trans "Lists" %}</a>
        </li>
        {% endif %}
        {% if user.shelf_set.exists %}
        {% url 'user-shelves' user|username as url %}
        <li{% if url in request.path %} class="is-active"{% endif %}>
            <a href="{{ url }}">{% trans "Books" %}</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endwith %}
{% endblock %}

{% block panel %}{% endblock %}

{% endblock %}
