{% extends 'layout.html' %}
{% load i18n %}
{% load humanize %}
{% load utilities %}
{% load markdown %}
{% load layout %}

{% block title %}{{ user.display_name }}{% endblock %}

{% block opengraph_images %}
    {% include 'snippets/opengraph_images.html' with image=user.preview_image %}
{% endblock %}

{% block content %}
<header class="block">
    {% block header %}
    <h1 class="title">
        {% trans "User Profile" %}
    </h1>
    {% endblock %}
</header>


{% block tabs %}
{% with user|username as username %}
<nav class="tabs">
    <ul>
        {% url 'user-feed' user|username as url %}
        <li{% if url == request.path or url == request.path|add:'/' %} class="is-active"{% endif %}>
            <a href="{{ url }}">{% trans "Activity" %}</a>
        </li>
        {% if is_self or user.goal.exists %}
        {% now 'Y' as year %}
        {% url 'user-goal' user|username year as url %}
        <li{% if url in request.path %} class="is-active"{% endif %}>
            <a href="{{ url }}">{% trans "Reading Goal" %}</a>
        </li>
        {% endif %}
        {% if is_self or user.list_set.exists %}
        {% url 'user-lists' user|username as url %}
        <li{% if url in request.path %} class="is-active"{% endif %}>
            <a href="{{ url }}">{% trans "Lists" %}</a>
        </li>
        {% endif %}
        {% if user.shelf_set.exists %}
        {% url 'user-shelves' user|username as url %}
        <li{% if url in request.path %} class="is-active"{% endif %}>
            <a href="{{ url }}">{% trans "Books" %}</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endwith %}
{% endblock %}

{% block panel %}{% endblock %}

{% endblock %}
