{% extends 'user/layout.html' %}
{% load i18n %}

{% block header %}
<div class="columns is-mobile">
    <div class="column">
        <h1 class="title">
            {% if is_self %}
            {% trans "Your Lists" %}
            {% else %}
            {% blocktrans with username=user.display_name %}Lists: {{ username }}{% endblocktrans %}
            {% endif %}
        </h1>
    </div>
    {% if is_self %}
    <div class="column is-narrow">
        {% trans "Create list" as button_text %}
        {% include 'snippets/toggle/open_button.html' with controls_text="create-list" icon_with_text="plus" text=button_text %}
    </div>
    {% endif %}
</div>
{% endblock %}


{% block panel %}
<section class="block">
    <form name="create-list" method="post" action="{% url 'lists' %}" class="box is-hidden" id="create-list">
        <header class="columns">
            <h3 class="title column">{% trans "Create list" %}</h3>
            <div class="column is-narrow">
                {% include 'snippets/toggle/toggle_button.html' with controls_text="create-list" label="close" class="delete" nonbutton=True %}
            </div>
        </header>
        {% include 'lists/form.html' %}
    </form>

    {% include 'lists/list_items.html' with lists=lists %}
</section>
<div>
    {% include 'snippets/pagination.html' with page=lists path=path %}
</div>
{% endblock %}
