{% extends 'user/user_layout.html' %}
{% load bookwyrm_tags %}

{% block header %}
<header class="columns">
    <h1 class="title">
        {% if is_self %}Your
        {% else %}
        {% include 'snippets/username.html' with user=user possessive=True %}
        {% endif %}
        shelves
    </h1>
</header>
{% endblock %}

{% block panel %}
<div class="block columns">
    <div class="column">
        <div class="tabs" role="tablist">
            <ul>
                {% for shelf_tab in shelves %}
                <li class="{% if shelf_tab.identifier == shelf.identifier %}is-active{% endif %}">
                    <a href="/user/{{ user | username }}/shelf/{{ shelf_tab.identifier }}" role="tab" aria-selected="{% if shelf_tab.identifier == shelf.identifier %}true{% else %}false{% endif %}">{{ shelf_tab.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% if is_self %}
    <div class="column is-narrow">
        {% include 'snippets/toggle/open_button.html' with text="Create shelf" icon="plus" controls_text="create-shelf-form" focus="create-shelf-form-header" %}
    </div>
    {% endif %}
</div>

<div class="block">
    {% include 'user/create_shelf_form.html' with controls_text='create-shelf-form' %}
</div>

<div class="block columns">
    <div class="column">
        <h2 class="title is-3">
            {{ shelf.name }}
            <span class="subtitle">
                {% include 'snippets/privacy-icons.html' with item=shelf %}
            </span>
        </h2>
    </div>
    {% if is_self %}
    <div class="column is-narrow">
        {% include 'snippets/toggle/open_button.html' with text="Edit shelf" icon="pencil" class="is-clickable" controls_text="edit-shelf-form" %}
    </div>
    {% endif %}
</div>

<div class="hidden box mb-5" id="edit-shelf-form">
    <h2 class="title is-4">Edit shelf</h2>
    <form name="create-shelf" action="{{ shelf.local_path }}" method="post">
        {% csrf_token %}
        <input type="hidden" name="user" value="{{ request.user.id }}">
        {% if shelf.editable %}
        <div class="field">
            <label class="label" for="id_name">Name:</label>
            <input type="text" name="name" maxlength="100" class="input" required="true" value="{{ shelf.name }}" id="id_name">
        </div>
        {% else %}
        <input type="hidden" name="name" required="true" value="{{ shelf.name }}">
        {% endif %}

        <label class="label">
            <p>Shelf privacy:</p>
            {% include 'snippets/privacy_select.html' with no_label=True current=shelf.privacy %}
        </label>
        <div class="field is-grouped">
            <button class="button is-primary" type="submit">Update shelf</button>
            {% include 'snippets/toggle/close_button.html' with text="Cancel" controls_text="edit-shelf-form" %}
        </div>
    </form>
</div>

<div class="block">
    <div>
        {% include 'snippets/shelf.html' with shelf=shelf books=books ratings=ratings %}
    </div>
</div>
{% endblock %}
