{% extends 'layout.html' %}
{% load humanize %}
{% load bookwyrm_tags %}

{% block content %}
<header class="block">
    {% block header %}{% endblock %}
</header>

{# user bio #}
<div class="block">
    <div class="columns">
        <div class="column is-narrow">
            <div class="media">
                <div class="media-left">
                    <a href="{{ user.local_path }}">
                    {% include 'snippets/avatar.html' with user=user large=True %}
                    </a>
                </div>
                <div class="media-content">
                    <p>{% if user.name %}{{ user.name }}{% else %}{{ user.localname }}{% endif %}</p>
                    <p><a href="{{ user.remote_id }}">{{ user.username }}</a></p>
                    <p>Joined {{ user.created_date | naturaltime }}</p>
                    <p>
                        <a href="{{ user.local_path }}/followers">{{ user.followers.count }} follower{{ user.followers.count | pluralize }}</a>,
                        <a href="{{ user.local_path }}/following">{{ user.following.count }} following</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="column">
            {% if user.summary %}
            <div class="columns">
                <div class="column is-narrow">
                    <span class="icon icon-quote-open"></span>
                </div>
                <div class="column">
                    <blockquote>{{ user.summary | to_markdown | safe }}</blockquote>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% if not is_self and request.user.is_authenticated %}
    <div class="field has-addons">
        <div class="control">
            {% include 'snippets/follow_button.html' with user=user %}
        </div>
        <div class="control">
            {% include 'snippets/user_options.html' with user=user class="is-small" %}
        </div>
    </div>
    {% endif %}

    {% if is_self and user.follower_requests.all %}
    <div class="follow-requests">
        <h2>Follow Requests</h2>
        {% for requester in user.follower_requests.all %}
            <div class="row shrink">
                <p>
                    {% include 'snippets/username.html' with user=requester show_full=True %}
                </p>
                {% include 'snippets/follow_request_buttons.html' with user=requester %}
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% with user|username as username %}
{% if 'user/'|add:username|add:'/shelf' not in request.path  and 'user/'|add:username|add:'/shelves' not in request.path %}
<nav class="tabs">
    <ul>
        {% url 'user-feed' user|username as url %}
        <li{% if url == request.path or url == request.path|add:'/' %} class="is-active"{% endif %}>
            <a href="{{ url }}">Activity</a>
        </li>
        {% now 'Y' as year %}
        {% url 'user-goal' user|username year as url %}
        <li{% if url in request.path %} class="is-active"{% endif %}>
            <a href="{{ url }}">Reading Goal</a>
        </li>
        {% url 'user-lists' user|username as url %}
        <li{% if url in request.path %} class="is-active"{% endif %}>
            <a href="{{ url }}">Lists</a>
        </li>
        {% url 'user-shelves' user|username as url %}
        <li{% if url in request.path %} class="is-active"{% endif %}>
            <a href="{{ url }}">Shelves</a>
        </li>
    </ul>
</nav>
{% endif %}
{% endwith %}

{% block panel %}{% endblock %}

{% endblock %}
