{% load i18n %}
{% load humanize %}
{% load utilities %}
{% load bookwyrm_tags %}

<div class="media block">
    <div class="media-left">
        <a href="{{ user.local_path }}">
        {% include 'snippets/avatar.html' with user=user large=True %}
        </a>
    </div>
    <div class="media-content">
        <p>{% if user.name %}{{ user.name }}{% else %}{{ user.localname }}{% endif %}</p>
        <p><a href="{{ user.remote_id }}">{{ user.username }}</a></p>
        <p>{% blocktrans with date=user.created_date|naturaltime %}Joined {{ date }}{% endblocktrans %}</p>
        <p>
            {% if is_self %}

            <a href="{% url 'user-followers' user|username %}">{% blocktrans count counter=user.followers.count %}{{ counter }} follower{% plural %}{{ counter }} followers{% endblocktrans %}</a>,
            <a href="{% url 'user-following' user|username %}">{% blocktrans with counter=user.following.count %}{{ counter }} following{% endblocktrans %}</a>

            {% elif request.user.is_authenticated %}

            {% mutuals_count user as mutuals %}
            <a href="{% url 'user-followers' user|username %}">
                {% blocktrans with mutuals_display=mutuals|intcomma count counter=mutuals %}{{ mutuals_display }} follower you follow{% plural %}{{ mutuals_display }} followers you follow{% endblocktrans %}
            </a>

            {% endif %}
        </p>
    </div>
</div>

