{% extends "snippets/merge_banner/layout.html" %}
{% load i18n %}
{% load utilities %}
{% load book_display_tags %}

{% block content %}

{% blocktrans trimmed with dupe_url=dupe.remote_id dupe_title=dupe|book_title %}
This edition been identified as a duplicate of <strong><a href="{{ dupe_url }}">{{ dupe_title }}</a></strong>.
{% endblocktrans %}
<span class="details-close mt-4 mr-4 icon icon-x is-small" aria-hidden></span>

{% endblock %}

{% block candidate_link %}
<a href="{{ candidate.local_path }}">
    {{ candidate|book_title }}
    (#{{ candidate.id }})
</a>
{% endblock %}
