{% load i18n %}
{% load utilities %}
{% load humanize %}

{% if dupe %}
<aside class="notification has-background-danger-light">
    <details class="content">
        <summary>
            <p>
            <span class="icon icon-warning" aria-hidden="true"></span>
            {% block content %}
            {% endblock %}

            {% if original.prevent_automatic_merge %}
            {% trans "Automatic merging has been blocked for this item." %}
            {% elif original.pending_merge_date and merge_scheduled %}
                {% blocktrans trimmed with date=original.pending_merge_date|naturalday %}
                After {{ date }}, these will be automatically merged.
                {% endblocktrans %}
            {% endif %}
            </p>
        </summary>
        <div class="block">
            <p>{% trans "These identifiers are the same for both:" %}</p>
            <ol>
                {% for field in original|dedupe_fields:dupe %}
                <li>{{ field }}</li>
                {% endfor %}
            </ol>
        </div>
        {% if not original.prevent_automatic_merge %}
        <div class="block">
            <strong>{% trans "Is this mistaken?" %}</strong>
            <form class="control" name="stop-merge" method="POST" action="{% block merge_path %}{% endblock %}">
                {% csrf_token %}
                <button class="button is-small" type="submit">{% trans "Block automatic merge" %}</button>
            </form>
        </div>
        {% endif %}
    </details>
</aside>
{% endif %}
