{% extends "snippets/merge_banner/layout.html" %}
{% load i18n %}
{% load utilities %}
{% load humanize %}

{% block content %}

{% if dupe.default_edition %}
    {% blocktrans trimmed with dupe_url=dupe.local_path dupe_title=dupe|book_title %}
    This edition's work been identified as a duplicate of <strong><a href="{{ dupe_url }}">{{ dupe_title }}</a></strong>.
    {% endblocktrans %}
{% else %}
    {% blocktrans trimmed with dupe_url=dupe.local_path dupe_title=dupe|book_title %}
    This edition's work been identified as a duplicate of <strong>{{ dupe_title }}</strong> (orphaned work).
    {% endblocktrans %}
{% endif %}
<span class="details-close mt-4 mr-4 icon icon-x is-small" aria-hidden></span>

{% endblock %}

{% block candidates_text %}
    {% blocktrans trimmed count counter=candidates.count with display_count=candidates.count|intcomma %}
        A duplicate of this edition's work has been identified.
        {% plural %}
        {{ display_count }} duplicates of this edition's work have been detected.
    {% endblocktrans %}
{% endblock %}


{% block merge_path %}{{ original.local_path }}/editions{% endblock %}
