{% extends 'components/inline_form.html' %}
{% load i18n %}

{% block header %}
{% if announcement %}
{% trans "Edit Announcement" %}
{% else %}
{% trans "Create Announcement" %}
{% endif %}
{% endblock %}

{% block form %}
{% csrf_token %}
<input type="hidden" name="user" value="{{ request.user.id }}">
<p>
    <label class="label" for="id_preview">
        {% trans "Preview:" %}
    </label>
    {{ form.preview }}
    
    {% include 'snippets/form_errors.html' with errors_list=form.preview.errors id="desc_preview" %}
</p>
<p>
    <label class="label" for="id_content">
        {% trans "Content:" %}
    </label>
    {{ form.content }}
    
    {% include 'snippets/form_errors.html' with errors_list=form.content.errors id="desc_content" %}
</p>
<p>
    <label class="label" for="id_event_date">
        {% trans "Event date:" %}
    </label>
    <input type="date" name="event_date" value="{{ form.event_date.value|date:'Y-m-d' }}" class="input" id="id_event_date">
    
    {% include 'snippets/form_errors.html' with errors_list=form.event_date.errors id="desc_event_date" %}
</p>
<hr aria-hidden="true">
<div class="columns">
    <div class="column">
        <p>
            <label class="label" for="id_start_date">
                {% trans "Start date:" %}
            </label>
            <input type="date" name="start_date" class="input" value="{{ form.start_date.value|date:'Y-m-d' }}" id="id_start_date">
            
            {% include 'snippets/form_errors.html' with errors_list=form.start_date.errors id="desc_start_date" %}
        </p>
    </div>
    <div class="column">
        <p>
            <label class="label" for="id_end_date">
                {% trans "End date:" %}
            </label>
            <input type="date" name="end_date" class="input" id="id_end_date" value="{{ form.end_date.value|date:'Y-m-d' }}">
            
            {% include 'snippets/form_errors.html' with errors_list=form.end_date.errors id="desc_end_date" %}
        </p>
    </div>
    <div class="column is-narrow">
        <p>
            <label class="label" for="id_active">
                {% trans "Active:" %}
            </label>
            {{ form.active }}
            
            {% include 'snippets/form_errors.html' with errors_list=form.active.errors id="desc_active" %}
        </p>
    </div>
</div>

<div class="field has-addons">
    <div class="control">
        <button type="submit" class="button is-primary">
            {% trans "Save" %}
        </button>
    </div>
</div>
{% endblock %}
