.summary-on-open {
    display: none;
}

@media only screen and (max-width: 768px) {
    .navbar-menu {
        text-align: right;
        padding-right: 1rem;

        .tags {
            justify-content: flex-end;
        }

        #navbar-dropdown {
            &[open] {
                .summary-on-open {
                    display: initial;
                    position: fixed;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 3rem;
                    z-index: 31;
                    background-color: $dropdown-content-background-color;
                    padding: 1rem 1.75rem;
                    line-height: 1;
                }
            }

            .dropdown-menu {
                padding-top: 0;
                top: 3rem;
            }

            .dropdown-content {
                padding-top: 0;
                box-shadow: none;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

            .navbar-item {
                /* see ../components/_details.scss :: Navbar details */
                padding-right: 1.75rem;
                font-size: 1rem;
            }
        }
    }
}

.image {
    overflow: hidden;
}

.navbar .logo {
    max-height: 50px;
}

.card {
    overflow: visible;
}

.card.has-border {
    border: 1px solid $border;
}

.scroll-x {
    overflow: hidden;
    overflow-x: auto;
}

.modal-card {
    pointer-events: none;
}

.modal-card > * {
    pointer-events: all;
}

/* stylelint-disable no-descending-specificity */
.modal-card:focus {
    outline-style: auto;
}

.modal-card:focus:not(:focus-visible) {
    outline-style: initial;
}

.modal-card:focus-visible {
    outline-style: auto;
}
/* stylelint-enable no-descending-specificity */

.modal-card.is-fullwidth {
    min-width: 75% !important;
}

@media only screen and (min-width: 769px) {
    .modal-card.is-thin {
        width: 350px !important;
    }
}

.modal-card-body {
    max-height: 70vh;
}

.clip-text {
    max-height: 35em;
    overflow: hidden;
}

.dropdown-menu .button {
    @include mobile {
        font-size: $size-6;
    }
}
