{% extends 'components/modal.html' %}
{% load i18n %}

{% block modal-title %}{% trans "Delete this group?" %}{% endblock %}

{% block modal-body %}
{% trans "This action cannot be un-done" %}
{% endblock %}

{% block modal-footer %}
<form name="delete-group-{{ group.id }}" action="{% url 'delete-group' group.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ group.id }}">
    <button class="button is-danger" type="submit">
        {% trans "Delete" %}
    </button>
    <button type="button" class="button" data-modal-close>{% trans "Cancel" %}</button>
</form>
{% endblock %}

