{% load i18n %}
{% csrf_token %}

<div class="columns">
    <div class="column is-two-thirds">
        <input type="hidden" name="user" value="{{ request.user.id }}" />
        <div class="field">
            <label class="label" for="group_form_id_name">{% trans "Group Name:" %}</label>
            {{ group_form.name }}
        </div>
        <div class="field">
            <label class="label" for="group_form_id_description">{% trans "Group Description:" %}</label>
            {{ group_form.description }}
        </div>
    </div>
</div>
<div class="is-flex">
    {% if group.id %}
    <div>
        <button type="button" data-modal-open="delete_group" class="button is-danger">
            {% trans "Delete group" %}
        </button>
    </div>
    {% endif %}

    <div class="is-flex is-flex-grow-1 is-justify-content-flex-end">
        <div class="field has-addons">
            <div class="control">
                {% include 'snippets/privacy_select_no_followers.html' with current=group.privacy %}
            </div>
            <div class="control">
                <button type="submit" class="button is-primary">{% trans "Save" %}</button>
            </div>
        </div>
    </div>
</div>
