{% extends 'layout.html' %}
{% load i18n %}
{% load bookwyrm_group_tags %}

{% block title %}{{ group.name }}{% endblock %}

{% block content %}
<header class="columns content is-mobile">
    <div class="column">
        <h1 class="title">{{ group.name }} <span class="subtitle">{% include 'snippets/privacy-icons.html' with item=group %}</span></h1>
        <p class="subtitle help">
            {% include 'groups/created_text.html' with group=group %}
        </p>
    </div>
    {% if request.user == group.user %}
    <div class="column is-narrow is-flex">
        {% trans "Edit group" as button_text %}
        {% include 'snippets/toggle/open_button.html' with text=button_text icon_with_text="pencil" controls_text="edit_group" focus="edit_group_header" %}
    </div>
    {% endif %}
</header>

<div class="block content">
    {% include 'snippets/trimmed_text.html' with full=group.description %}
</div>

<div class="block">
    {% include 'groups/edit_form.html' with controls_text="edit_group" %}
</div>

{% block panel %}{% endblock %}

{% endblock %}
