{% load i18n %}
{% if request.user == user %}
{% else %}

<div class="field mb-0">
    <div class="control">
        <a class="button is-small is-link" href="{% url 'remote-follow-page' %}?user={{ user.username }}" target="_blank" rel="noopener noreferrer" onclick="BookWyrm.displayPopUp(`{% url 'remote-follow-page' %}?user={{ user.username }}`, `remoteFollow`); return false">
            {% blocktrans with username=user.localname %}Follow on Fediverse{% endblocktrans %}
        </a>
    </div>
</div>
{% endif %}
