{% load layout %}
{% load i18n %}
{% load static %}
{% load utilities %}
{% load markdown %}

<!DOCTYPE html>
<html lang="{% get_lang %}">
<head>
    <title>{% block title %}{% endblock %}{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/vendor/bulma.min.css" %}">
    <link rel="stylesheet" href="{% static "css/vendor/icons.css" %}">
    <link rel="stylesheet" href="{% static "css/bookwyrm.css" %}">

    <link rel="search" type="application/opensearchdescription+xml" href="{% url 'opensearch' %}" title="{% blocktrans with site_name=site.name %}{{ site_name }} search{% endblocktrans %}" />

    <link rel="shortcut icon" type="image/x-icon" href="{% if site.favicon %}{% get_media_prefix %}{{ site.favicon }}{% else %}{% static "images/favicon.ico" %}{% endif %}">

    <script>
        function closeWindow() {
            window.close();
        }
    </script>
</head>
<body>
<nav class="navbar" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img class="image logo" src="{% if site.logo_small %}{% get_media_prefix %}{{ site.logo_small }}{% else %}{% static "images/logo-small.png" %}{% endif %}" alt="Home page">
            </a>
            <h2 class="navbar-item subtitle">{% block heading %}{% endblock %}</h2>
        </div>
    </div>
</nav>
<div class="section is-flex-grow-1 columns is-centered">
    <div class="block column is-one-third">
        {% block content%}{% endblock %}
    </div>
</div>

{% include 'components/footer.html' %}

</body>
</html>
