{% extends 'layout.html' %}
{% load i18n %}
{% load markdown %}
{% load humanize %}

{% block title %}{{ author.name }}{% endblock %}

{% block content %}
<div class="block">
    <div class="columns is-mobile">
        <div class="column">
            <h1 class="title">{{ author.name }}</h1>
        </div>
        {% if request.user.is_authenticated and perms.bookwyrm.edit_book %}
        <div class="column is-narrow">
            <a href="{{ author.local_path }}/edit">
                <span class="icon icon-pencil" title="{% trans 'Edit Author' %}" aria-hidden="True"></span>
                <span class="is-hidden-mobile">{% trans "Edit Author" %}</span>
            </a>
        </div>
        {% endif %}
    </div>
</div>

<div class="block columns" itemscope itemtype="https://schema.org/Person">
    <meta itemprop="name" content="{{ author.name }}">

    {% if author.aliases or author.born or author.died or author.wikipedia_link or author.openlibrary_key or author.inventaire_id %}
    <div class="column is-two-fifths">
        <div class="box py-2">
            <dl>
                {% if author.aliases %}
                <div class="is-flex is-flex-wrap-wrap my-1">
                    <dt class="has-text-weight-bold mr-1">{% trans "Aliases:" %}</dt>
                    {% for alias in author.aliases %}
                        <dd itemprop="alternateName" content="{{alias}}">
                            {{alias}}{% if not forloop.last %},&nbsp;{% endif %}
                        </dd>
                    {% endfor %}
                </div>
                {% endif %}

                {% if author.born %}
                <div class="is-flex my-1">
                    <dt class="has-text-weight-bold mr-1">{% trans "Born:" %}</dt>
                    <dd itemprop="birthDate">{{ author.born|naturalday }}</dd>
                </div>
                {% endif %}

                {% if author.died %}
                <div class="is-flex my-1">
                    <dt class="has-text-weight-bold mr-1">{% trans "Died:" %}</dt>
                    <dd itemprop="deathDate">{{ author.died|naturalday }}</dd>
                </div>
                {% endif %}
            </dl>

            {% if author.wikipedia_link %}
            <p class="my-1">
                <a itemprop="sameAs" href="{{ author.wikipedia_link }}" rel=”noopener” target="_blank">
                    {% trans "Wikipedia" %}
                </a>
            </p>
            {% endif %}

            {% if author.openlibrary_key %}
            <p class="my-1">
                <a itemprop="sameAs" href="https://openlibrary.org/authors/{{ author.openlibrary_key }}" target="_blank" rel="noopener">
                    {% trans "View on OpenLibrary" %}
                </a>
            </p>
            {% endif %}
            
            {% if author.inventaire_id %}
            <p class="my-1">
                <a itemprop="sameAs" href="https://inventaire.io/entity/{{ author.inventaire_id }}" target="_blank" rel="noopener">
                    {% trans "View on Inventaire" %}
                </a>
            </p>
            {% endif %}

            {% if author.librarything_key %}
            <p class="my-1">
                <a itemprop="sameAs" href="https://www.librarything.com/author/{{ author.librarything_key }}" target="_blank" rel="noopener">
                    {% trans "View on LibraryThing" %}
                </a>
            </p>
            {% endif %}
            
            {% if author.goodreads_key %}
            <p class="my-1">
                <a itemprop="sameAs" href="https://www.goodreads.com/author/show/{{ author.goodreads_key }}" target="_blank" rel="noopener">
                    {% trans "View on Goodreads" %}
                </a>
            </p>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <div class="column">
        {% if author.bio %}
            {{ author.bio|to_markdown|safe }}
        {% endif %}
    </div>
</div>

<div class="block">
    <h3 class="title is-4">{% blocktrans with name=author.name %}Books by {{ name }}{% endblocktrans %}</h3>
    <div class="columns is-multiline is-mobile">
    {% for book in books %}
        <div class="column is-one-fifth">
            {% include 'discover/small-book.html' with book=book %}
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
