{% extends 'components/modal.html' %}
{% load i18n %}

{% block modal-title %}
{% trans "Load data" %}
{% endblock %}

{% block modal-form-open %}
<form name="{{ source }}-update" method="POST" action="{% url 'author-update-remote' author.id source %}">
    {% csrf_token %}
{% endblock %}

{% block modal-body %}
<p>
    {% blocktrans trimmed %}
    Loading data will connect to <strong>{{ source_name }}</strong> and check for any metadata about this author which aren't present here. Existing metadata will not be overwritten.
    {% endblocktrans %}
</p>
{% endblock %}

{% block modal-footer %}
<button class="button is-primary" type="submit">{% trans "Confirm" %}</button>
<button type="button" class="button" data-modal-close>{% trans "Cancel" %}</button>
{% endblock %}

{% block modal-form-close %}</form>{% endblock %}
