{% extends 'layout.html' %}
{% load fr_display %}
{% block content %}
<div class="content-container">
    <h2>Editions of <a href="/book/{{ work.id }}">"{{ work.title }}"</a></h2>
    <ol class="book-grid row wrap">
        {% for book in editions %}
        <li class="book-preview">
            <a href="{{ book.absolute_id }}">
                {% include 'snippets/book_cover.html' with book=book %}
            </a>
            {% include 'snippets/shelve_button.html' with book=book %}
        </li>
        {% endfor %}
    </ol>
</div>
{% endblock %}

