{% extends 'layout.html' %}
{% load fr_display %}
{% block content %}

<div class="all-shelves content-container">
    {% include 'snippets/covers_shelf.html' with shelves=shelves user=request.user %}
</div>

{% for shelf in shelves %}
    {% for book in shelf.books %}
<div class="compose-suggestion" id="compose-book-{{ book.id }}">
    <span class="close icon icon-close" onclick="hide_element(this)">
        <span class="hidden-text">Close</span>
    </span>
    <div class="content-container">
        {% include 'snippets/create_status.html' with book=book user=request.user %}
    </div>
</div>
    {% endfor %}
{% endfor %}

<div id="feed">
    <div class="content-container tabs">
    {% include 'snippets/tabs.html' with tabs=feed_tabs active_tab=active_tab %}
    </div>

    {% for activity in activities %}
    <div class="content-container">
        {% include 'snippets/status.html' with status=activity %}
    </div>
    {% endfor %}
</div>

<script src="/static/js/feed.js"></script>
{% endblock %}
