<!DOCTYPE html>
<html lang="en">
<head>
    <title>FediReads</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/format.css">

    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="FediReads">
    <meta name="og:title" content="FediReads">
    <meta name="twitter:description" content="Federated Social Reading">
    <meta name="og:description" content="Federated Social Reading">
    <meta name="twitter:creator" content="@tripofmice">
    <meta name="twitter:site" content="@tripofmice">

</head>

<body>

<div id="top-bar">
    <header>
        <div>
            <div id="branding"><a href="/">📚FediReads</a></div>
            <div id="actions">
                <div id="account">
                    {% if user.is_authenticated %}
                    <form name="logout" action="/logout/" method="post">
                        {% csrf_token %}
                        Welcome, {% include 'snippets/username.html' with user=request.user %}
                        <input type="submit" value="Log out"></input>
                    </form>
                    {% else %}
                    <form name="login" action="/login/" method="post">
                        {% for field in login_form %}
                            {{ field }}
                        {% endfor %}
                        <input type="submit" value="Log in"></input>
                    </form>
                    {% endif %}
                </div>
                <div id="search">
                    <form action="/search/">
                        <input type="text" name="q" placeholder="search"></input>
                        <input type="submit" value="🔍"></input>
                    </form>
                </div>
            </div>
        </div>
    </header>
</div>

<div id="main">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>

