{% extends 'layout.html' %}
{% block content %}
<div id="sidebar">
    <div class="user-profile">
        <h2>
            {% include 'snippets/avatar.html' with user=user %}
            {% if user.name %}{{ user.name }}{% endif %}
            <small>{{ user.username }}</small>
        </h2>
        {% if user.summary %}
        <blockquote>{{ user.summary | safe }}</blockquote>
        {% endif %}
        {% if not is_self %}
        {% include 'snippets/follow_button.html' with user=user %}
        {% endif %}

        {% if is_self %}
        <div class="interaction">
            <a href="/user/edit">Edit profile</a>
        </div>
        {% endif %}
    </div>
    <div>
        <h2>Followers</h2>
        {% for follower in user.followers.all %}
        <div>
            <a href="{{ follower.actor }}">{{ follower.username }}</a>
            {% if not request.user in follower.followers.all %}
            {% include 'snippets/follow_button.html' with user=follower %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

<div id="content">
    {% for shelf in shelves %}
    <div>
        <h2>{{ shelf.name }}</h2>
        {% include 'snippets/shelf.html' with shelf=shelf ratings=ratings %}
    </div>
    {% endfor %}
</div>

{% endblock %}
