{% extends 'snippets/filters_panel/filter_field.html' %}
{% load i18n %}

{% block filter %}
<legend class="label">{% trans "Relationship" %}</legend>
<label class="is-block">
    <input type="radio" class="radio" name="connection" value="following" {% if request.GET.connection == 'following' %}checked{% endif %}>
    {% trans "Following users" %}
</label>
<label class="is-block">
    <input type="radio" class="radio" name="connection" value="not_following" {% if request.GET.connection == 'not_following' %}checked{% endif %}>
    {% trans "Not following users" %}
</label>
{% endblock %}
