/* Semantic color classes */

.has-background-primary-highlight {
    background-color: $primary-highlight;
}

.has-background-info-highlight {
    background-color: $info-highlight;
}

.has-background-success-highlight {
    background-color: $success-highlight;
}

.has-background-body {
    background-color: $background-body;
}

.has-background-secondary {
    background-color: $background-secondary !important;
}

.has-background-tertiary {
    background-color: $background-tertiary !important;
}
