.has-background-primary {
    background-color: $background-primary !important;
}

.has-background-secondary {
    background-color: $background-secondary !important;
}

.has-background-tertiary {
    background-color: $background-tertiary !important;
}
