/* Semantic color classes */

.has-background-body {
    background-color: $background-body;
}

.has-background-secondary {
    background-color: $background-secondary !important;
}

.has-background-tertiary {
    background-color: $background-tertiary !important;
}
