/* Dimensions
 * @todo These could be in rem.
 ******************************************************************************/

.is-32x32 {
    min-width: 32px !important;
    min-height: 32px !important;
}

.is-96x96 {
    min-width: 96px !important;
    min-height: 96px !important;
}

.is-w-auto {
    width: auto !important;
}

.is-w-xs {
    width: 80px !important;
}

.is-w-s {
    width: 100px !important;
}

.is-w-m {
    width: 150px !important;
}

.is-w-l {
    width: 200px !important;
}

.is-w-xl {
    width: 250px !important;
}

.is-w-xxl {
    width: 500px !important;
}

.is-h-xs {
    height: 80px !important;
}

.is-h-s {
    height: 100px !important;
}

.is-h-m {
    height: 150px !important;
}

.is-h-l {
    height: 200px !important;
}

.is-h-xl {
    height: 250px !important;
}

.is-h-xxl {
    height: 500px !important;
}

@media only screen and (max-width: 768px) {
    .is-w-auto-mobile {
        width: auto !important;
    }

    .is-w-xs-mobile {
        width: 80px !important;
    }

    .is-w-s-mobile {
        width: 100px !important;
    }

    .is-w-m-mobile {
        width: 150px !important;
    }

    .is-w-l-mobile {
        width: 200px !important;
    }

    .is-w-xl-mobile {
        width: 250px !important;
    }

    .is-w-xxl-mobile {
        width: 500px !important;
    }

    .is-h-xs-mobile {
        height: 80px !important;
    }

    .is-h-s-mobile {
        height: 100px !important;
    }

    .is-h-m-mobile {
        height: 150px !important;
    }

    .is-h-l-mobile {
        height: 200px !important;
    }

    .is-h-xl-mobile {
        height: 250px !important;
    }

    .is-h-xxl-mobile {
        height: 500px !important;
    }
}

@media only screen and (min-width: 769px) {
    .is-w-auto-tablet {
        width: auto !important;
    }

    .is-w-xs-tablet {
        width: 80px !important;
    }

    .is-w-s-tablet {
        width: 100px !important;
    }

    .is-w-m-tablet {
        width: 150px !important;
    }

    .is-w-l-tablet {
        width: 200px !important;
    }

    .is-w-xl-tablet {
        width: 250px !important;
    }

    .is-w-xxl-tablet {
        width: 500px !important;
    }

    .is-h-xs-tablet {
        height: 80px !important;
    }

    .is-h-s-tablet {
        height: 100px !important;
    }

    .is-h-m-tablet {
        height: 150px !important;
    }

    .is-h-l-tablet {
        height: 200px !important;
    }

    .is-h-xl-tablet {
        height: 250px !important;
    }

    .is-h-xxl-tablet {
        height: 500px !important;
    }
}

@media only screen and (min-width: 1024px) {
    .is-w-auto-desktop {
        width: auto !important;
    }

    .is-w-xs-desktop {
        width: 80px !important;
    }

    .is-w-s-desktop {
        width: 100px !important;
    }

    .is-w-m-desktop {
        width: 150px !important;
    }

    .is-w-l-desktop {
        width: 200px !important;
    }

    .is-w-xl-desktop {
        width: 250px !important;
    }

    .is-w-xxl-desktop {
        width: 500px !important;
    }

    .is-h-xs-desktop {
        height: 80px !important;
    }

    .is-h-s-desktop {
        height: 100px !important;
    }

    .is-h-m-desktop {
        height: 150px !important;
    }

    .is-h-l-desktop {
        height: 200px !important;
    }

    .is-h-xl-desktop {
        height: 250px !important;
    }

    .is-h-xxl-desktop {
        height: 500px !important;
    }
}
