/* Spacings
 *
 * Those are supplementary rules to Bulma’s. They follow the same conventions.
 * Add those you’ll need.
 ******************************************************************************/

.mr-auto {
    margin-right: auto !important;
}

.ml-auto {
    margin-left: auto !important;
}

@media screen and (max-width: 768px) {
    .m-0-mobile {
        margin: 0 !important;
    }

    .mr-auto-mobile {
        margin-right: auto !important;
    }

    .ml-auto-mobile {
        margin-left: auto !important;
    }

    .mt-3-mobile {
        margin-top: 0.75rem !important;
    }

    .ml-3-mobile {
        margin-left: 0.75rem !important;
    }

    .mx-3-mobile {
        margin-right: 0.75rem !important;
        margin-left: 0.75rem !important;
    }

    .my-3-mobile {
        margin-top: 0.75rem !important;
        margin-bottom: 0.75rem !important;
    }
}

@media screen and (min-width: 769px) {
    .m-0-tablet {
        margin: 0 !important;
    }

    .mr-auto-tablet {
        margin-right: auto !important;
    }

    .ml-auto-tablet {
        margin-left: auto !important;
    }

    .mt-3-tablet {
        margin-top: 0.75rem !important;
    }

    .ml-3-tablet {
        margin-left: 0.75rem !important;
    }

    .mx-3-tablet {
        margin-right: 0.75rem !important;
        margin-left: 0.75rem !important;
    }

    .my-3-tablet {
        margin-top: 0.75rem !important;
        margin-bottom: 0.75rem !important;
    }
}
