/* Spacings
 *
 * Those are supplementary rules to Bulma’s. They follow the same conventions.
 * Add those you’ll need.
 ******************************************************************************/

.mr-auto {
    margin-right: auto !important;
}

.ml-auto {
    margin-left: auto !important;
}

@media screen and (max-width: 768px) {
    .m-0-mobile {
        margin: 0 !important;
    }

    .mr-auto-mobile {
        margin-right: auto !important;
    }

    .ml-auto-mobile {
        margin-left: auto !important;
    }

    .mt-3-mobile {
        margin-top: 0.75rem !important;
    }

    .ml-3-mobile {
        margin-left: 0.75rem !important;
    }

    .mx-3-mobile {
        margin-right: 0.75rem !important;
        margin-left: 0.75rem !important;
    }

    .my-3-mobile {
        margin-top: 0.75rem !important;
        margin-bottom: 0.75rem !important;
    }
}

@media screen and (min-width: 769px) {
    .m-0-tablet {
        margin: 0 !important;
    }

    .mr-auto-tablet {
        margin-right: auto !important;
    }

    .ml-auto-tablet {
        margin-left: auto !important;
    }

    .mt-3-tablet {
        margin-top: 0.75rem !important;
    }

    .ml-3-tablet {
        margin-left: 0.75rem !important;
    }

    .mx-3-tablet {
        margin-right: 0.75rem !important;
        margin-left: 0.75rem !important;
    }

    .my-3-tablet {
        margin-top: 0.75rem !important;
        margin-bottom: 0.75rem !important;
    }
}

/* Gaps (for Flexbox and Grid)
 *
 * Those are supplementary rules to Bulma’s. They follow the same conventions.
 * Add those you’ll need.
 ******************************************************************************/

.is-gap-0 {
    gap: 0;
}

.is-gap-1 {
    gap: 0.25rem;
}

.is-gap-2 {
    gap: 0.5rem;
}

.is-gap-3 {
    gap: 0.75rem;
}

.is-gap-4 {
    gap: 1rem;
}

.is-gap-5 {
    gap: 1.5rem;
}

.is-gap-6 {
    gap: 3rem;
}

.is-row-gap-0 {
    row-gap: 0;
}

.is-row-gap-1 {
    row-gap: 0.25rem;
}

.is-row-gap-2 {
    row-gap: 0.5rem;
}

.is-row-gap-3 {
    row-gap: 0.75rem;
}

.is-row-gap-4 {
    row-gap: 1rem;
}

.is-row-gap-5 {
    row-gap: 1.5rem;
}

.is-row-gap-6 {
    row-gap: 3rem;
}

.is-column-gap-0 {
    column-gap: 0;
}

.is-column-gap-1 {
    column-gap: 0.25rem;
}

.is-column-gap-2 {
    column-gap: 0.5rem;
}

.is-column-gap-3 {
    column-gap: 0.75rem;
}

.is-column-gap-4 {
    column-gap: 1rem;
}

.is-column-gap-5 {
    column-gap: 1.5rem;
}

.is-column-gap-6 {
    column-gap: 3rem;
}
