.transition-x.is-hidden,
.transition-y.is-hidden {
    display: block !important;
    height: 0 !important;
    margin: 0 !important;
    overflow: auto;
    padding: 0 !important;
    visibility: hidden !important;
    width: 0 !important;
}

.transition-x,
.transition-y {
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.transition-x {
    transition-property: width, margin-left, margin-right, padding-left, padding-right;
}

.transition-y {
    transition-property: height, margin-top, margin-bottom, padding-top, padding-bottom;
}

@media (prefers-reduced-motion: reduce) {
    .transition-x,
    .transition-y {
        transition-duration: 0.001ms !important;
    }
}
