
/* Barcode scanner CSS */
#barcode-scanner {
    position: relative;
    min-height: 200px;

    .drawingBuffer {
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        width: 100%;
    }
}

#barcode-status {
    :dir(ltr) .select {
        float: right;
    }

    :dir(rtl) .select {
        float: left;
    }
}
