/** Book cover
 *
 * - .is-cover gives the behaviour of the cover and its surrounding. (optional)
 * - .cover-container gives the dimensions and position (for borders, image and other elements).
 * - .book-cover is positioned and sized based on its container.
 *
 * To have the cover within specific dimensions, specify a width or height for
 * standard bulma’s named breapoints:
 *
 * `is-(w|h)-(auto|xs|s|m|l|xl|xxl)[-(mobile|tablet|desktop)]`
 *
 * The cover will be centered horizontally and vertically within those dimensions.
 *
 * When using `.column.is-N`, add `.is-w-auto` to the container so that the flex
 * calculations are not biased by the default `max-content`.
 ******************************************************************************/

.column.is-cover {
    flex-grow: 0 !important;
}

.column.is-cover,
.column.is-cover + .column {
    flex-basis: auto !important;
}

.cover-container {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    width: max-content;
}

/* Book cover
 * -------------------------------------------------------------------------- */

.book-cover {
    display: block;

    /* Useful when stretching under-sized images. */
    image-rendering: optimizeQuality;
    image-rendering: smooth;
    max-height: 100%;
    max-width: 100%;
}

/* Cover caption
 * -------------------------------------------------------------------------- */

.no-cover .cover-caption {
    background-color: #002549;
    bottom: 0;
    color: #fff;
    font-size: 0.75em;
    left: 0;
    padding: 0.25em;
    position: absolute;
    right: 0;
    top: 0;
}
