/* Book list
 ******************************************************************************/

ol.book-list {
    list-style: none;
    counter-reset: list-counter;

    li {
        counter-increment: list-counter;
    }

    li::before {
        content: counter(list-counter);
        position: absolute;
        left: -20px;
        width: 20px;
        height: 24px;
        background-color: #fff;
        border: 1px solid #dbdbdb;
        border-right: 0;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #888;
        font-size: 0.8em;
        font-weight: bold;
    }

    @media only screen and (max-width: 768px) {
        li::before {
            left: 0;
            z-index: 1;
            border: 0;
            border-right: 1px solid #dbdbdb;
            border-bottom: 1px solid #dbdbdb;
            border-radius: 0;
            border-bottom-right-radius: 2px;
        }
    }
}
