/* Copy
 ******************************************************************************/

.horizontal-copy {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
}

.horizontal-copy textarea {
    min-width: initial;
    white-space: nowrap;
}

.horizontal-copy button {
    align-self: stretch;
    height: unset;
}

.vertical-copy {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.75rem;
}

.vertical-copy button {
    width: 100%;
}

.copy-tooltip {
    overflow: visible;
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    margin-left: -30px;
    margin-top: -45px;
    opacity: 0;
    transition: opacity 0.3s;
}

.copy-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent;
}
