/** Stars
 ******************************************************************************/

.stars {
    white-space: nowrap;
}

/** Stars in a review form
 *
 * Specificity makes hovering taking over checked inputs.
 *
 * \e9d9: filled star
 * \e9d7: empty star;
 * -------------------------------------------------------------------------- */

.form-rate-stars {
    width: max-content;

    /* All stars are visually filled by default. */
    .icon::before {
        content: '\e9d9';
    }
    /* stylelint-disable selector-no-id, declaration-no-important */

    /* Icons directly following inputs that follow the checked input are emptied. */
    /* stylelint-disable-next-line selector-max-compound-selectors */
    input:checked ~ input + .icon::before {
        content: '\e9d7';
    }
    
    /* When a label is hovered, repeat the fill-all-then-empty-following pattern. */
    &:hover .icon.icon::before {
        content: '\e9d9';
    }

    .icon:hover ~ .icon::before {
        content: '\e9d7';
    }
}

