<article class="card">
    <header class="card-header">
        {% block card-header %}
        {% endblock %}
    </header>

    {% if not status or status.status_type != 'GeneratedNote' or status.book or status.mention_books.exists or status.mention_users.exists %}
    <section class="card-content">
        {% block card-content %}
        {% endblock %}
    </section>
    {% endif %}

    <footer class="card-footer has-background-white-bis">
        {% block card-footer %}
        {% endblock %}
    </footer>

    {% block card-bonus %}
    {% endblock %}
</article>
