{% spaceless %}
{% load utilities %}

{% with 0|uuid as uuid %}
<div
    id="menu_{{ uuid }}"
    class="
        dropdown control
        {% if right %}is-right{% endif %}
    "
>
    <button
        class="button dropdown-trigger pulldown-menu {{ class }}"
        type="button"
        aria-expanded="false"
        aria-haspopup="true"
        aria-controls="menu_options_{{ uuid }}"
        data-controls="menu_{{ uuid }}"
    >
        {% block dropdown-trigger %}{% endblock %}
    </button>

    <div class="dropdown-menu">
        <ul
            id="menu_options_{{ uuid }}"
            class="dropdown-content p-0 is-clipped"
            role="menu"
        >
            {% block dropdown-list %}{% endblock %}
        </ul>
    </div>
</div>
{% endwith %}
{% endspaceless %}
