{% load i18n %}
<div
    role="dialog"
    class="modal {% if active %}is-active{% else %}is-hidden{% endif %}"
    id="{{ controls_text }}-{{ controls_uid }}"
    aria-labelledby="modal-card-title-{{ controls_text }}-{{ controls_uid }}"
    aria-modal="true"
>
    {# @todo Implement focus traps to prevent tabbing out of the modal. #}
    <div class="modal-background"></div>
    {% trans "Close" as label %}
    <div class="modal-card">
        <header class="modal-card-head" tabindex="0" id="modal-title-{{ controls_text }}-{{ controls_uid }}">
            <h2 class="modal-card-title is-flex-shrink-1" id="modal-card-title-{{ controls_text }}-{{ controls_uid }}">
                {% block modal-title %}{% endblock %}
            </h2>
            {% include 'snippets/toggle/toggle_button.html' with label=label class="delete" nonbutton=True %}
        </header>
        {% block modal-form-open %}{% endblock %}
        {% if not no_body %}
        <section class="modal-card-body">
            {% block modal-body %}{% endblock %}
        </section>
        {% endif %}
        <footer class="modal-card-foot">
            {% block modal-footer %}{% endblock %}
        </footer>
        {% block modal-form-close %}{% endblock %}
    </div>
    {% include 'snippets/toggle/toggle_button.html' with label=label class="modal-close is-large" nonbutton=True %}
</div>

