{% load i18n %}

<h2 class="title is-3" id="suggestions-section">
    {% trans "Suggestions" %}
</h2>

{% if book.suggestion_list %}
{% with book.suggestion_list.listitem_set.all as items %}

    {% if items|length == 0 %}
    <section class="section has-background-light is-flex is-flex-direction-column is-align-items-center">
        <div class="column is-one-third is-centered">
           {% include "book/suggestion_list/search.html" %}
        </div>
    </section>
    {% else %}
    <ol class="columns is-multiline">
    {% for item in items %}
        <li class="mb-5 column is-one-quarter">
            <div class="card">
                <div class="card-content pb-3">
                    {% with book=item.book %}
                        <div class="is-cover">
                            <a href="{{ item.book.local_path }}" aria-hidden="true">
                                {% include 'snippets/book_cover.html' with cover_class='is-h-m-mobile is-h-m-tablet is-align-items-flex-start' size='medium' %}
                            </a>
                        </div>

                        <p class="mt-3">
                            {% include 'snippets/book_titleby.html' %}
                        </p>
                    {% endwith %}
                </div>
                <div class="card-footer is-stacked-mobile has-background-tertiary is-align-items-stretch">
                    <div class="card-footer-item">
                        <p>
                            {% blocktrans trimmed with username=item.user.display_name user_path=item.user.local_path %}
                            Added by <a href="{{ user_path }}">{{ username }}</a>
                            {% endblocktrans %}
                        </p>
                    </div>
                    <div class="card-footer-item">
                        <p>
                            TODO :: endorsements
                        </p>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
        <li class="mb-5 column is-one-quarter">
            {% include "book/suggestion_list/search.html" %}
        </li>
    </ol>
    {% endif %}
{% endwith %}
{% else %}
    <section class="section is-medium has-background-light">
        <form name="create-list" method="post" action="{% url 'book-create-suggestion-list' book_id=book.id %}#suggestions-section" class="has-text-centered">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{ request.user.id }}">
            <input type="hidden" name="suggests_for" value="{{ book.id }}">
            <button type="submit" class="button is-medium">{% trans "Create suggestion list" %}</button>
        </form>      
    </section>
{% endif %}
