{% load i18n %}
{% load humanize %}

<h2 class="title is-3" id="suggestions-section">
    {% trans "Suggestions" %}
    <a class="help has-text-weight-normal" href="{% url 'suggestion-list' book_id=book.id %}">
        {% blocktrans trimmed with count=book.suggestion_list.suggestionlistitem_set.count|intcomma %}
        View all {{ count }} suggestions
        {% endblocktrans %}
    </a>
</h2>

{% if book.suggestion_list %}

<p class="subtitle">
    {% blocktrans trimmed with title=book.title %}
    Readers who liked <em>{{ title }}</em> recommend giving these books a try:
    {% endblocktrans %}
</p>

{% with book.suggestion_list.suggestionlistitem_set.all|slice:3 as items %}

    {% if items|length == 0 %}
    <section class="section has-background-light is-flex is-flex-direction-column is-align-items-center">
        <div class="column is-full is-centered">
           {% include "book/suggestion_list/search.html" %}
        </div>
    </section>
    {% else %}
    <ol class="columns is-multiline">
    {% for item in items %}
        <li class="mb-5 column is-one-third">
            {% include "book/suggestion_list/book_card.html" %}
        </li>
    {% endfor %}
    </ol>

    <div class="mb-5 column is-full">
        {% include "book/suggestion_list/search.html" %}
    </div>
    {% endif %}
{% endwith %}
{% else %}
    <section class="section is-medium has-background-light">
        <form name="create-list" method="post" action="{% url 'suggestion-list' book_id=book.id %}#suggestions-section" class="has-text-centered">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{ request.user.id }}">
            <input type="hidden" name="suggests_for" value="{{ book.id }}">
            <button type="submit" class="button is-medium">{% trans "Create suggestion list" %}</button>
        </form>
    </section>
{% endif %}
