@import "../vendor/bulma/sass/utilities/derived-variables.sass";

/* Colors
 ******************************************************************************/

/* states */
$primary: #016a5b;
$info: #1f4666;
$success: #246447;
$warning: #8b6c15;
$danger: #872538;

/* book cover standins */
$no-cover-color: #002549;

/* background colors */
$scheme-main: $grey-darker;
$scheme-main-bis: $black-ter;
$background-body: $grey-darker;
$background-secondary: $grey-dark;
$background-tertiary: #555;

/* highlight colors */
$primary-highlight: $primary;
$info-highlight: $info;
$success-highlight: $success;

/* borders */
$border: $grey;
$border-hover: $grey-light;
$border-light: $grey;
$border-light-hover: $grey-light;

/* text */
$text: $grey-lightest;
$text-light: $grey-lighter;
$text-strong: $white-ter;

/* links */
$link: $white;
$link-background: $background-tertiary;
$link-hover: $white-bis;
$link-focus: $white-bis;
$link-active: $white-bis;

/* misc */

/* bulma overrides */
$background: $background-secondary;
$menu-item-active-background-color: $link-background;

/* Fonts
 ******************************************************************************/
$family-primary: $family-sans-serif;
$family-secondary: $family-sans-serif;
