@import "../vendor/bulma/sass/utilities/derived-variables.sass";

/* Colors
 ******************************************************************************/

/* book cover standins */
$no-cover-color: #002549;

/* background colors */
$scheme-main: $grey-darker;
$scheme-main-bis: $black-ter;
$background-primary: $grey-darker;
$background-secondary: $grey-dark;
$background-tertiary: $grey;

/* borders */
$border: $grey;
$border-hover: $grey-light;
$border-light: $grey;
$border-light-hover: $grey-light;

/* text */
$text: $grey-lightest;
$text-light: $grey-lighter;
$text-strong: $white-ter;

/* links */
$link: $white;
$link-hover: $white-bis;
$link-focus: $white-bis;
$link-active: $white-bis;

/* states */
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;

/* bulma overrides */
$background: $background-secondary;

/* Fonts
 ******************************************************************************/
$family-primary: $family-sans-serif;
$family-secondary: $family-sans-serif;
