@import "../vendor/bulma/sass/utilities/derived-variables.sass";

$background-primary: white;
$background-secondary: $white-ter;
$background-tertiary: $white-bis;
$text: $grey-dark;

$primary: $turquoise;
$link: $blue;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$dark: $grey-darker;

$background: $background-secondary;
