{% extends 'components/modal.html' %}
{% load i18n %}

{% block modal-title %}
{% trans "Leaving BookWyrm" %}
{% endblock %}


{% block modal-body %}

{% blocktrans trimmed with link_url=link.url %}
This link is taking you to: <code>{{ link_url }}</code>.<br>
Is that where you'd like to go?
{% endblocktrans %}

{% endblock %}


{% block modal-footer %}
{% if request.user.is_authenticated %}
<div class="is-flex-grow-1">
    <a href="{% url 'report-link' link.id %}">{% trans "Report spam" %}</a>
</div>

<button type="button" class="button" data-modal-close>{% trans "Cancel" %}</button>
<a href="{{ link.url }}" target="_blank" rel="noopener noreferrer" class="button is-primary">{% trans "Continue" %}</a>
{% endif %}

{% endblock %}
