{% extends "components/details.html" %}

{% load i18n %}

{% block always-visible %}
    {% if book.isbn_13 %}
    <div class="is-flex is-flex-wrap-wrap">
        <dt class="mr-1">{% trans "ISBN:" %}</dt>
        <dd itemprop="isbn" class="mr-1 is-flex">
            <span id="isbn_content">{{ book.hyphenated_isbn13 }}</span>
            <div>
                <button class="button is-small ml-3" data-copywithtooltip data-content-id="isbn_content" data-tooltip-id="isbn_tooltip">
                    <span class="icon icon-copy" title="{% trans "Copy ISBN" %}">
                        <span class="is-sr-only">{% trans "Copy ISBN" %}</span>
                    </span>
                </button>
                <span class="copy-tooltip" id="isbn_tooltip">{% trans "Copied ISBN!" %}</span>
            </div>
        </dd>
    </div>
    {% elif book.isbn_10 %}
    <div class="is-flex is-flex-wrap-wrap">
        <dt class="mr-1">{% trans "ISBN:" %}</dt>
        <dd itemprop="isbn" class="mr-1 is-flex">
            <span id="isbn_content">{{ book.isbn_10 }}</span>
            <div>
                <button class="button is-small ml-3" data-copywithtooltip data-content-id="isbn_content" data-tooltip-id="isbn_tooltip">
                    <span class="icon icon-copy" title="{% trans "Copy ISBN" %}">
                        <span class="is-sr-only">{% trans "Copy ISBN" %}</span>
                    </span>
                </button>
                <span class="copy-tooltip" id="isbn_tooltip">{% trans "Copied ISBN!" %}</span>
            </div>
        </dd>
    </div>
    {% endif %}
    <div>
        {% include 'book/publisher_info.html' %}
    </div>
{% endblock %}

{% block sometimes-visible %}

    <div class="control">
        {% if book.oclc_number or book.asin or book.aasin or book.isfdb or book.goodreads_key or book.finna_key or book.libris_key %}
        <dl>
            {% if book.oclc_number %}
                <div class="is-flex is-flex-wrap-wrap">
                    <dt class="mr-1">{% trans "OCLC Number:" %}</dt>
                    <dd>{{ book.oclc_number }}</dd>
                </div>
            {% endif %}

            {% if book.asin %}
                <div class="is-flex is-flex-wrap-wrap">
                    <dt class="mr-1">{% trans "ASIN:" %}</dt>
                    <dd>{{ book.asin }}</dd>
                </div>
            {% endif %}

            {% if book.aasin %}
                <div class="is-flex is-flex-wrap-wrap">
                    <dt class="mr-1">{% trans "Audible ASIN:" %}</dt>
                    <dd>{{ book.aasin }}</dd>
                </div>
            {% endif %}

            {% if book.isfdb %}
                <div class="is-flex is-flex-wrap-wrap">
                    <dt class="mr-1">{% trans "ISFDB ID:" %}</dt>
                    <dd>{{ book.isfdb }}</dd>
                </div>
            {% endif %}

            {% if book.goodreads_key %}
                <div class="is-flex is-flex-wrap-wrap">
                    <dt class="mr-1">{% trans "Goodreads:" %}</dt>
                    <dd>{{ book.goodreads_key }}</dd>
                </div>
            {% endif %}

            {% if book.finna_key %}
                <div class="is-flex is-flex-wrap-wrap">
                    <dt class="mr-1">{% trans "Finna ID:" %}</dt>
                    <dd>{{ book.finna_key}}</dd>
                </div>
            {% endif %}

            {% if book.libris_key %}
                <div class="is-flex is-flex-wrap-wrap">
                    <dt class="mr-1">{% trans "Libris ID:" %}</dt>
                    <dd>{{ book.libris_key }}</dd>
                </div>
            {% endif %}
        </dl>
        {% endif %}
    </div>

    {% trans "Load data" as button_text %}
    {% if book.openlibrary_key %}
    <p class="control">
        <a href="{{ book.openlibrary_link }}" target="_blank" rel="nofollow noopener noreferrer">
            {% trans "View on OpenLibrary" %}
        </a>
        {% if request.user.is_authenticated and perms.bookwyrm.edit_book %}
        <button class="button is-small button-paragraph" type="button" data-modal-open="openlibrary_sync">
            <span class="icon icon-download" title="{{ button_text }}"></span>
            <span class="is-sr-only-mobile">{{ button_text }}</span>
        </button>
        {% endif %}
    </p>
    {% include "book/sync_modal.html" with source="openlibrary.org" source_name="OpenLibrary" id="openlibrary_sync" %}
    {% endif %}

    {% if book.inventaire_id %}
    <p class="control">
        <a href="{{ book.inventaire_link }}" target="_blank" rel="nofollow noopener noreferrer">
            {% trans "View on Inventaire" %}
        </a>

        {% if request.user.is_authenticated and perms.bookwyrm.edit_book %}
        <button class="button is-small button-paragraph" type="button" data-modal-open="inventaire_sync">
            <span class="icon icon-download" title="{{ button_text }}"></span>
            <span class="is-sr-only-mobile">{{ button_text }}</span>
        </button>
        {% endif %}
    </p>
    {% include "book/sync_modal.html" with source="inventaire.io" source_name="Inventaire" id="inventaire_sync" %}
    {% endif %}

    {% if book.isfdb %}
    <p>
        <a href="{{ book.isfdb_link }}" target="_blank" rel="nofollow noopener noreferrer">
            {% trans "View on ISFDB" %}
        </a>
    </p>
    {% endif %}

    {% if book.finna_key %}
    <p class="control">
        <a href="{{ book.finna_link }}" target="_blank" rel="nofollow noopener noreferrer">
            {% trans "View on Finna" %}
        </a>

        {% if request.user.is_authenticated and perms.bookwyrm.edit_book %}
        <button class="button is-small button-paragraph" type="button" data-modal-open="finna_sync">
            <span class="icon icon-download" title="{{ button_text }}"></span>
            <span class="is-sr-only-mobile">{{ button_text }}</span>
        </button>
        {% endif %}
    </p>
    {% include "book/sync_modal.html" with source="api.finna.fi" source_name="Finna" id="finna_sync" %}
    {% endif %}

    {% if book.libris_key %}
    <p>
        <a href="{{ book.libris_link }}" target="_blank" rel="nofollow noopener noreferrer">
            {% trans "View on Libris" %}
        </a>
    </p>
    {% endif %}
{% endblock %}
