{% extends "components/details.html" %}

{% load i18n %}

{% block always-visible %}
    <div>
        {% include 'book/publisher_info.html' %}
    </div>
{% endblock %}

{% block sometimes-visible %}

    <div class="control">
        {% include 'book/book_identifiers.html' %}
    </div>

    {% trans "Load data" as button_text %}
    {% if book.openlibrary_key %}
    <p class="control">
        <a href="{{ book.openlibrary_link }}" target="_blank" rel="nofollow noopener noreferrer">
            {% trans "View on OpenLibrary" %}
        </a>
        {% if request.user.is_authenticated and perms.bookwyrm.edit_book %}
        <button class="button is-small button-paragraph" type="button" data-modal-open="openlibrary_sync">
            <span class="icon icon-download" title="{{ button_text }}"></span>
            <span class="is-sr-only-mobile">{{ button_text }}</span>
        </button>
        {% endif %}
    </p>
    {% include "book/sync_modal.html" with source="openlibrary.org" source_name="OpenLibrary" id="openlibrary_sync" %}
    {% endif %}

    {% if book.inventaire_id %}
    <p class="control">
        <a href="{{ book.inventaire_link }}" target="_blank" rel="nofollow noopener noreferrer">
            {% trans "View on Inventaire" %}
        </a>

        {% if request.user.is_authenticated and perms.bookwyrm.edit_book %}
        <button class="button is-small button-paragraph" type="button" data-modal-open="inventaire_sync">
            <span class="icon icon-download" title="{{ button_text }}"></span>
            <span class="is-sr-only-mobile">{{ button_text }}</span>
        </button>
        {% endif %}
    </p>
    {% include "book/sync_modal.html" with source="inventaire.io" source_name="Inventaire" id="inventaire_sync" %}
    {% endif %}

    {% if book.isfdb %}
    <p>
        <a href="{{ book.isfdb_link }}" target="_blank" rel="nofollow noopener noreferrer">
            {% trans "View on ISFDB" %}
        </a>
    </p>
    {% endif %}

    {% if book.finna_key %}
    <p class="control">
        <a href="{{ book.finna_link }}" target="_blank" rel="nofollow noopener noreferrer">
            {% trans "View on Finna" %}
        </a>

        {% if request.user.is_authenticated and perms.bookwyrm.edit_book %}
        <button class="button is-small button-paragraph" type="button" data-modal-open="finna_sync">
            <span class="icon icon-download" title="{{ button_text }}"></span>
            <span class="is-sr-only-mobile">{{ button_text }}</span>
        </button>
        {% endif %}
    </p>
    {% include "book/sync_modal.html" with source="api.finna.fi" source_name="Finna" id="finna_sync" %}
    {% endif %}

    {% if book.libris_key %}
    <p>
        <a href="{{ book.libris_link }}" target="_blank" rel="nofollow noopener noreferrer">
            {% trans "View on Libris" %}
        </a>
    </p>
    {% endif %}
{% endblock %}
