{% load i18n %}
{% load humanize %}
<section class="is-clipped">
    <details class="details-panel notification">
        <summary>
            <h2 class="title is-6 mb-0">{% trans "Edition details" %}</h2>
            <span class="details-close icon icon-x" aria-hidden="true"></span>
        </summary>
        <div>
            {% include 'book/publisher_info.html' %}
        </div>

        <div class="control">
            {% include 'book/book_identifiers.html' %}
        </div>

        {% with work=book.parent_work editions_count=book.parent_work.editions.count %}
        <p>
            <a href="{{ work.local_path }}/editions" id="tour-other-editions-link">
                {% blocktrans trimmed count counter=editions_count with count=editions_count|intcomma %}
                    {{ count }} edition
                    {% plural %}
                    {{ count }} editions
                {% endblocktrans %}
            </a>
        </p>
        {% endwith %}

        {% trans "Load data" as button_text %}
        {% if book.openlibrary_key %}
        <p class="control">
            <a href="{{ book.openlibrary_link }}" target="_blank" rel="nofollow noopener noreferrer">
                {% trans "View on OpenLibrary" %}
            </a>
            {% if request.user.is_authenticated and perms.bookwyrm.edit_book %}
            <button class="button is-small button-paragraph" type="button" data-modal-open="openlibrary_sync">
                <span class="icon icon-download" title="{{ button_text }}"></span>
                <span class="is-sr-only-mobile">{{ button_text }}</span>
            </button>
            {% endif %}
        </p>
        {% include "book/sync_modal.html" with source="openlibrary.org" source_name="OpenLibrary" id="openlibrary_sync" %}
        {% endif %}

        {% if book.inventaire_id %}
        <p class="control">
            <a href="{{ book.inventaire_link }}" target="_blank" rel="nofollow noopener noreferrer">
                {% trans "View on Inventaire" %}
            </a>

            {% if request.user.is_authenticated and perms.bookwyrm.edit_book %}
            <button class="button is-small button-paragraph" type="button" data-modal-open="inventaire_sync">
                <span class="icon icon-download" title="{{ button_text }}"></span>
                <span class="is-sr-only-mobile">{{ button_text }}</span>
            </button>
            {% endif %}
        </p>
        {% include "book/sync_modal.html" with source="inventaire.io" source_name="Inventaire" id="inventaire_sync" %}
        {% endif %}

        {% if book.isfdb %}
        <p>
            <a href="{{ book.isfdb_link }}" target="_blank" rel="nofollow noopener noreferrer">
                {% trans "View on ISFDB" %}
            </a>
        </p>
        {% endif %}

        {% if book.finna_key %}
        <p class="control">
            <a href="{{ book.finna_link }}" target="_blank" rel="nofollow noopener noreferrer">
                {% trans "View on Finna" %}
            </a>

            {% if request.user.is_authenticated and perms.bookwyrm.edit_book %}
            <button class="button is-small button-paragraph" type="button" data-modal-open="finna_sync">
                <span class="icon icon-download" title="{{ button_text }}"></span>
                <span class="is-sr-only-mobile">{{ button_text }}</span>
            </button>
            {% endif %}
        </p>
        {% include "book/sync_modal.html" with source="api.finna.fi" source_name="Finna" id="finna_sync" %}
        {% endif %}

        {% if book.libris_key %}
        <p>
            <a href="{{ book.libris_link }}" target="_blank" rel="nofollow noopener noreferrer">
                {% trans "View on Libris" %}
            </a>
        </p>
        {% endif %}

    </details>
</section>
