{% load i18n %}
{% load shelf_tags %}

{% if user_authenticated %}
<div class="block">
    <h2 class="title is-6 mb-2 mt-5">{% trans "Reading history" %}</h2>


    {% if not readthroughs.exists %}
    <p><em>{% trans "No reading activity" %}</em></p>
    {% endif %}
    {% for readthrough in readthroughs %}
    {% include 'readthrough/readthrough_list.html' with readthrough=readthrough %}
    {% endfor %}
    <div class="control">
        <button class="button is-small" data-modal-open="add-readthrough" id="tour-add-readthrough">
            <span class="icon icon-plus m-mobile-0" aria-hidden="true"></span>
            <span class="is-sr-only-mobile">
                {% trans "Add read dates" %}
            </span>
        </button>
    </div>
    {% include "readthrough/readthrough_modal.html" with id="add-readthrough" %}
</div>
{% endif %}

{% if other_edition_shelves %}
<div class="block">
    {% for shelf in other_edition_shelves %}
    <p>
    {% blocktrans with book_path=shelf.book.local_path shelf_path=shelf.shelf.local_path shelf_name=shelf.shelf|translate_shelf_name %}A <a href="{{ book_path }}">different edition</a> of this book is on your <a href="{{ shelf_path }}">{{ shelf_name }}</a> shelf.{% endblocktrans %}
        {% include 'snippets/switch_edition_button.html' with edition=book %}
    </p>
    {% endfor %}
</div>
{% endif %}
