{% load i18n %}
{% if book.subjects %}
<section class="content block">
    <h2 class="title is-5">{% trans "Subjects" %}</h2>

    <ul>
        {% for subject in book.subjects %}
            <li itemprop="about">{{ subject }}</li>
        {% endfor %}
    </ul>
</section>
{% endif %}

{% if book.subject_places %}
<section class="content block">
    <h2 class="title is-5">{% trans "Places" %}</h2>
    <ul>
    {% for place in book.subject_places %}
        <li>{{ place }}</li>
    {% endfor %}
    </ul>
</section>
{% endif %}

