{% load i18n %}
<p>
    {% if book.physical_format and not book.pages %}
    {{ book.physical_format | title }}
    {% elif book.physical_format and book.pages %}
    {% blocktrans with format=book.physical_format|title pages=book.pages %}{{ format }}, {{ pages }} pages{% endblocktrans %}
    {% elif book.pages %}
    {% blocktrans with pages=book.pages %}{{ pages }} pages{% endblocktrans %}
    {% endif %}
</p>
{% if book.languages %}
<p>
    {% blocktrans with languages=book.languages|join:", " %}{{ languages }} language{% endblocktrans %}
</p>
{% endif %}
<p>
    {% if book.published_date and book.publishers %}
      {% if book.published_year_only %}
        {% blocktrans with date=book.published_date|date:'Y' publisher=book.publishers|join:', ' %}Published {{ date }} by {{ publisher }}.{% endblocktrans %}
      {% else %}
        {% blocktrans with date=book.published_date|date:'M jS Y' publisher=book.publishers|join:', ' %}Published {{ date }} by {{ publisher }}.{% endblocktrans %}
      {% endif %}
    {% elif book.published_date %}
      {% if book.published_year_only %}
        {% blocktrans with date=book.published_date|date:'Y' %}Published {{ date }}{% endblocktrans %}
      {% else %}
        {% blocktrans with date=book.published_date|date:'M jS Y' %}Published {{ date }}{% endblocktrans %}
      {% endif %}
    {% elif book.publishers %}
      {% blocktrans with publisher=book.publishers|join:', ' %}Published by {{ publisher }}.{% endblocktrans %}
    {% endif %}
</p>
