{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans "Welcome" %}{% endblock %}

{% block content %}
{% with site_name=site.name %}
<div class="modal is-active" role="dialog" aria-modal="true">
    <div class="modal-background"></div>
    <div class="modal-card is-fullwidth">
        <header class="modal-card-head">
            <h1 class="modal-card-title">
                {% trans "Getting Started" %}
            </h1>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            {% block panel %}{% endblock %}
        </section>

        <footer class="modal-card-foot is-flex is-justify-content-flex-end">
            {% if next %}
            <a href="{% url next %}" class="button">
                <span>{% trans "Skip this step" %}</span>
                <span class="icon icon-arrow-right" aria-hidden="true"></span>
            </a>
            {% endif %}
        </footer>
    </div>
    <a href="/" class="modal-close is-large" aria-label="close"></a>
</div>
{% endwith %}
{% endblock %}


