{% extends 'lists/list_layout.html' %}
{% load i18n %}
{% block panel %}

<section class="content block">
    <h2>{% trans "Pending Books" %}</h2>
    <p><a href="{% url 'list' list.id %}">{% trans "Go to list" %}</a></p>
    {% if not pending.exists %}
    <p>{% trans "You're all set!" %}</p>
    {% else %}
    <table class="table is-striped">
        <tr>
            <th></th>
            <th>{% trans "Book" %}</th>
            <th>{% trans "Suggested by" %}</th>
            <th></th>
        </tr>
        {% for item in pending %}
        <tr>
            <td>
                <a href="{{ book.local_path }}">{% include 'snippets/book_cover.html' with book=item.book size="small" %}</a>
            </td>
            <td>
                {% include 'snippets/book_titleby.html' with book=item.book %}
            </td>
            <td>
                <a href="{{ item.user.local_path }}">{{ item.user.display_name }}</a>
            </td>
            <td>
                <div class="field has-addons">
                    <form class="control" method="POST" action="{% url 'list-curate' list.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="item" value="{{ item.id }}">
                        <input type="hidden" name="approved" value="true">
                        <button class="button">{% trans "Approve" %}</button>
                    </form>
                    <form class="control" method="POST" action="{% url 'list-curate' list.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="item" value="{{ item.id }}">
                        <input type="hidden" name="approved" value="false">
                        <button class="button is-danger is-light">{% trans "Discard" %}</button>
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</section>
{% endblock %}
