{% extends 'components/modal.html' %}
{% load i18n %}

{% block modal-title %}{% trans "Delete this list?" %}{% endblock %}

{% block modal-body %}
{% trans "This action cannot be un-done" %}
{% endblock %}

{% block modal-footer %}
<form name="delete-list-{{ list.id }}" action="{% url 'delete-list' list.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ list.id }}">
    <button class="button is-danger" type="submit">
        {% trans "Delete" %}
    </button>
    {% trans "Cancel" as button_text %}
    {% include 'snippets/toggle/toggle_button.html' with text=button_text controls_text="delete_list" controls_uid=list.id %}
</form>
{% endblock %}

