{% extends 'layout.html' %}
{% load i18n %}
{% load list_page_tags %}

{% block title %}{{ list.name }}{% endblock %}

{% block opengraph %}
    {% include 'snippets/opengraph.html' with title=list|opengraph_title description=list|opengraph_description %}
{% endblock %}

{% block content %}
<header class="columns content is-mobile">
    <div class="column">
        <h1 class="title">{{ list.name }} <span class="subtitle">{% include 'snippets/privacy-icons.html' with item=list %}</span></h1>
        <p class="subtitle help">
            {% include 'lists/created_text.html' with list=list %}
        </p>
    </div>

    <div class="column is-narrow is-flex field is-grouped">
        {% if request.user == list.user %}
        <div class="control">
            {% trans "Edit List" as button_text %}
            {% include 'snippets/toggle/open_button.html' with text=button_text icon_with_text="pencil" controls_text="edit_list" focus="edit_list_header" %}
        </div>
        {% endif %}
        <div class="control">
            {% include "lists/bookmark_button.html" with list=list %}
        </div>
    </div>
</header>

{% block breadcrumbs %}{% endblock %}

<div class="block content">
    {% include 'snippets/trimmed_text.html' with full=list.description %}
</div>

<div class="block">
    {% if request.user == list.user %}
        {% include 'lists/edit_form.html' with controls_text="edit_list" user_groups=user_groups %}
    {% endif %}
</div>

{% block panel %}{% endblock %}

{% endblock %}
