{% extends 'components/card.html' %}
{% load bookwyrm_tags %}
{% load humanize %}
{% load i18n %}

{% block card-header %}
    <h3 class="card-header-title has-background-white-ter is-block">
        {% include 'snippets/avatar.html' with user=request.user %}
        {% blocktrans with username=user.display_name list_name=list.name %}{{ username }} created a list: "{{ list_name }}"{% endblocktrans %}
    </h3>
{% endblock %}

{% block card-footer %}
<form name="list-status" action="" method="post" class="card-footer-item">
    {% csrf_token %}
    <input type="hidden" name="user" value="{{ request.user.id }}">
    <input type="hidden" name="list" value="{{ list.id  }}">

    <div class="field has-addons">
        <div class="control">
            {% include 'snippets/privacy_select.html' with current=list.privacy %}
        </div>
        <div class="control">
            <button type="submit" class="button is-primary">{% trans "Post" %}</button>
        </div>
    </div>
</form>
{% endblock %}

