{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{{ list.name }}{% endblock %}

{% block content %}
<header class="columns content is-mobile">
    <div class="column">
        <h1 class="title">{{ list.name }} <span class="subtitle">{% include 'snippets/privacy-icons.html' with item=list %}</span></h1>
        <p class="subtitle help">
            {% include 'lists/created_text.html' with list=list %}
        </p>
    </div>
    {% if request.user == list.user %}
    <div class="column is-narrow">
        {% trans "Edit List" as button_text %}
        {% include 'snippets/toggle/open_button.html' with text=button_text icon_with_text="pencil" controls_text="edit-list" focus="edit-list-header" %}
    </div>
    {% endif %}
</header>

<div class="block content">
    {% include 'snippets/trimmed_text.html' with full=list.description %}    
</div>

<div class="block">
    {% include 'lists/edit_form.html' with controls_text="edit-list" %}
</div>

{% block panel %}{% endblock %}

{% endblock %}
