{% extends 'layout.html' %}
{% load utilities %}
{% load i18n %}

{% block title %}{% trans "Lists" %}{% endblock %}

{% block content %}

<header class="block columns is-mobile">
    <div class="column">
        <h1 class="title">
            {% trans "Lists" %}
            {% if request.user.is_authenticated %}
            <a class="help has-text-weight-normal" href="{% url 'user-lists' request.user|username %}">{% trans "Your Lists" %}</a>
            {% endif %}
        </h1>
    </div>
    {% if request.user.is_authenticated %}
    <div class="column is-narrow">
        {% trans "Create List" as button_text %}
        {% include 'snippets/toggle/open_button.html' with controls_text="create-list" icon_with_text="plus" text=button_text focus="create-list-header" %}
    </div>
    {% endif %}
</header>

<div class="block">
    {% include 'lists/create_form.html' with controls_text="create-list" %}
</div>

{% if lists %}
<section class="block">
    {% include 'lists/list_items.html' with lists=lists %}
</section>

<div>
    {% include 'snippets/pagination.html' with page=lists path=path %}
</div>
{% endif %}

{% endblock %}
