{% extends 'layout.html' %}
{% load bookwyrm_tags %}
{% block content %}

<header class="columns content">
    <div class="column">
        <h1 class="title">{{ list.name }} <span class="subtitle">{% include 'snippets/privacy-icons.html' with item=list %}</span></h1>
        <p class="subtitle help">Created {% if list.curation != 'open' %} and curated{% endif %} by {% include 'snippets/username.html' with user=list.user %}</p>
        {% include 'snippets/trimmed_text.html' with full=list.description %}
    </div>
    {% if request.user == list.user %}
    <div class="column is-narrow">
        {% include 'snippets/toggle/open_button.html' with text="Edit list" icon="pencil" controls_text="edit-list" %}
    </div>
    {% endif %}
</header>

<form name="edit-list" method="post" action="{% url 'list' list.id %}" class="box hidden" id="edit-list">
    <header class="columns">
        <h3 class="title column">Edit list</h3>
        <div class="column is-narrow">
            {% include 'snippets/toggle/toggle_button.html' with controls_text="edit-list" label="close" class="delete" nonbutton=True %}
        </div>
    </header>
    {% include 'lists/form.html' %}
</form>

{% block panel %}{% endblock %}

{% endblock %}
