{% extends 'layout.html' %}
{% load bookwyrm_tags %}
{% block content %}

<header class="columns content">
    <div class="column">
        <h1 class="title">{{ list.name }} <span class="subtitle">{% include 'snippets/privacy-icons.html' with item=list %}</span></h1>
        <p class="subtitle help">Created {% if list.curation != 'open' %} and curated{% endif %} by {% include 'snippets/username.html' with user=list.user %}</p>
        {% include 'snippets/trimmed_text.html' with full=list.description %}
    </div>
    {% if request.user == list.user %}
    <div class="column is-narrow">
        {% include 'snippets/toggle/open_button.html' with text="Edit list" icon="pencil" controls_text="create-list" %}
    </div>
    {% endif %}
</header>

<form name="create-list" method="post" action="{% url 'list' list.id %}" class="box hidden" id="create-list">
    <h3 class="title">Edit list</h3>
    {% include 'lists/form.html' %}
</form>

{% if pending.exists %}
<div class="block">
    <div>
        <p>{{ pending.count }} book{{pending.count | pluralize }} awaiting your approval</p>
        {% include 'snippets/toggle/open_button.html' with text="Curate suggestions" controls_text="pending-books" class="is-small" %}
    </div>
    <div class="box content hidden" id="pending-books">
        <header class="columns is-mobile">
            <h2 class="column">Pending Books</h2>
            <div class="column is-narrow">
                {% include 'snippets/toggle/toggle_button.html' with label="close" class="delete" nonbutton=True controls_text="pending-books" %}
            </div>
        </header>
        <table class="table is-striped">
            <tr>
                <th></th>
                <th>Book</th>
                <th>Suggested by</th>
                <th></th>
            </tr>
            {% for item in pending %}
            <tr>
                <td>
                    <a href="{{ book.local_path }}">{% include 'snippets/book_cover.html' with book=item.book size="small" %}</a>
                </td>
                <td>
                    {% include 'snippets/book_titleby.html' with book=item.book %}
                </td>
                <td>
                    {% include 'snippets/username.html' with user=item.added_by %}
                </td>
                <td class="field has-addons">
                    <div class="control">
                        <button class="button">Approve</button>
                    </div>
                    <div class="control">
                        <button class="button is-danger is-light">Reject</button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}

<div class="columns content">
    <section class="column is-three-quarters">
        {% if not items.exists %}
        <p>This list is currently empty</p>
        {% else %}
        <ol>
        {% for item in items %}
            <li class="block">
                <div class="card">
                    <header class="card-header">
                        <a href="{{ book.local_path }}">{% include 'snippets/book_cover.html' with book=item.book size="medium" %}</a>
                        <div class="card-header-title is-flex-direction-column is-align-items-self-start">
                            <span>{% include 'snippets/book_titleby.html' with book=item.book %}</span>
                            {% include 'snippets/stars.html' with rating=item.book|rating:request.user %}
                            {% include 'snippets/shelve_button.html' with book=item.book %}
                        </div>
                    </header>
                    {% if item.note %}
                    <div class="card-content">
                        {% include 'snippets/trimmed_text.html' with full=item.note %}
                    </div>
                    {% endif %}
                    <div class="card-footer has-background-white-bis">
                        <div class="card-footer-item">
                            <p>Added by {% include 'snippets/username.html' with user=item.added_by %}</p>
                        </div>
                        {% if list.user == request.user or list.curation == 'open' and item.added_by == request.user %}
                        <form name="add-book" method="post" action="{% url 'list-add-book' list.id %}" class="card-footer-item">
                            {% csrf_token %}
                            <input type="hidden" name="book" value="{{ book.id }}">
                            <button type="submit" class="button is-small is-danger">Remove</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
        </ol>
        {% endif %}
    </section>

    {% if not list.curation == 'closed' or request.user == list.user %}
    <section class="column is-one-quarter">
        <h2>{% if list.curation == 'open' or request.user == list.user %}Add{% else %}Suggest{% endif %} Books</h2>
        <form name="search" action="{% url 'list' list.id %}" method="GET" class="block">
            <div class="field has-addons">
                <div class="control">
                    <input aria-label="Search for a book" class="input" type="text" name="q" placeholder="Search for a book" value="{{ query }}">
                </div>
                <div class="control">
                    <button class="button" type="submit">
                        <span class="icon icon-search" title="Search">
                            <span class="is-sr-only">search</span>
                        </span>
                    </button>
                </div>
            </div>
            {% if query %}
            <p class="help"><a href="{% url 'list' list.id %}">Clear search</a></p>
            {% endif %}
        </form>
        {% if not suggested_books %}
        <p>No books found{% if query %} matching the query "{{ query }}"{% endif %}</p>
        {% endif %}
        {% for book in suggested_books %}
        <div class="block columns">
            <div class="column is-narrow">
                <a href="{{ book.local_path }}">{% include 'snippets/book_cover.html' with book=book size="small" %}</a>
            </div>
            <div class="column">
                <p>{% include 'snippets/book_titleby.html' with book=book %}</p>
                <form name="add-book" method="post" action="{% url 'list-add-book' list.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="book" value="{{ book.id }}">
                    <button type="submit" class="button is-small is-link">{% if list.curation == 'open' or request.user == list.user %}Add{% else %}Suggest{% endif %}</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </section>
    {% endif %}
</div>
{% endblock %}
