{% extends "snippets/create_status/layout.html" %}
{% load i18n %}

{% block form_open %}{% endblock %}

{% block content_label %}
{% trans "Comment:" %}
{% if optional %}
<span class="help mt-0 has-text-weight-normal">{% trans "(Optional)" %}</span>
{% endif %}
{% endblock %}

{% block initial_fields %}
<input type="hidden" name="user" value="{{ request.user.id }}">
<input type="hidden" name="mention_books" value="{{ book.id }}">
<input type="hidden" name="book" value="{{ book.id }}">
{% endblock %}

{% block form_close %}{% endblock %}
