{% extends 'components/modal.html' %}
{% load i18n %}
{% load utilities %}

{% block modal-body %}

{% block reading-dates %}{% endblock %}

{% with 0|uuid as local_uuid %}
<div class="is-flex is-justify-content-space-between">
    <label for="post_status_start_{{ uuid }}" data-controls="reading_content_{{ local_uuid }}_{{ uuid }}" data-controls-checkbox="post_status_start_{{ local_uuid }}_{{ uuid }}" aria-pressed="true">
        <input type="checkbox" name="post-status" class="checkbox" id="post_status_start_{{ local_uuid }}_{{ uuid }}" checked>
        {% trans "Post to feed" %}
    </label>
    <div class="is-hidden" id="hide-reading_content_{{ local_uuid }}_{{ uuid }}">
        <button class="button is-link" type="submit">{% trans "Save" %}</button>
    </div>
</div>

<div id="reading_content_{{ local_uuid }}_{{ uuid }}">
    <hr aria-hidden="true">
    {% include "snippets/reading_modals/form.html" %}
</div>
{% endwith %}

{% endblock %}
