{% extends 'components/modal.html' %}
{% load i18n %}
{% load utilities %}

{% block modal-body %}

{% block reading-dates %}{% endblock %}

{% with 0|uuid as local_uuid %}
<div class="is-flex is-justify-content-space-between">
    <label for="post_status_{{ local_uuid }}_{{ uuid }}" data-controls="reading_content_{{ local_uuid }}_{{ uuid }}" data-controls-checkbox="post_status_{{ local_uuid }}_{{ uuid }}" data-disables="reading_content_fieldset_{{ local_uuid }}_{{ uuid }}" aria-pressed="true" data-allow-default="true">
        <input type="checkbox" name="post-status" class="checkbox" id="post_status_{{ local_uuid }}_{{ uuid }}" checked>
        {% trans "Post to feed" %}
    </label>
    <div class="is-hidden" id="hide_reading_content_{{ local_uuid }}_{{ uuid }}">
        <button class="button is-link" type="submit">
            <span class="icon icon-spinner" aria-hidden="true"></span>
            <span>{% trans "Save" %}</span>
        </button>
    </div>
</div>

<div id="reading_content_{{ local_uuid }}_{{ uuid }}">
    <hr aria-hidden="true">
    <fieldset id="reading_content_fieldset_{{ local_uuid }}_{{ uuid }}">
        {% block form %}{% endblock %}
    </fieldset>
</div>
{% endwith %}

{% endblock %}

{% block modal-form-close %}</form>{% endblock %}
