{% extends 'snippets/reading_modals/layout.html' %}
{% load i18n %}
{% load utilities %}

{% block modal-title %}
{% blocktrans trimmed with book_title=book|book_title %}
Stop Reading "<em>{{ book_title }}</em>"
{% endblocktrans %}
{% endblock %}

{% block modal-form-open %}
<form name="stop-reading-{{ uuid }}" action="{% url 'reading-status' 'stop' book.id %}" method="post" {% if not refresh %}class="submit-status"{% endif %}>
{% csrf_token %}
<input type="hidden" name="id" value="{{ readthrough.id }}">
<input type="hidden" name="reading_status" value="stopped-reading">
<input type="hidden" name="shelf" value="{{ move_from }}">
{% endblock %}

{% block reading-dates %}
<div class="columns">
    <div class="column is-half">
        <div class="field">
            <label class="label" for="stop_id_start_date_{{ uuid }}">
                {% trans "Started reading" %}
            </label>
            <input type="date" name="start_date" class="input" id="stop_id_start_date_{{ uuid }}" value="{{ readthrough.start_date | date:"Y-m-d" }}">
        </div>
    </div>
    <div class="column is-half">
        <div class="field">
            <label class="label" for="id_read_until_date_{{ uuid }}">
                {% trans "Stopped reading" %}
            </label>
            <input type="date" name="stopped_date" class="input" id="id_read_until_date_{{ uuid }}" value="{% now "Y-m-d" %}">
        </div>
    </div>
</div>
{% endblock %}

{% block form %}
{% include "snippets/reading_modals/form.html" with optional=True type="stop_modal" %}
{% endblock %}
