{% load layout %}
{% load sass_tags %}
{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="{% get_lang %}">
<head>
    <title>{% block title %}{% trans "Reset Password" %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% sass_src site_theme %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="navbar" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img class="image logo" src="{% if site.logo_small %}{% get_media_prefix %}{{ site.logo_small }}{% else %}{% static "images/logo-small.png" %}{% endif %}" alt="{% blocktrans with site_name=site.name %}{{ site_name }} home page{% endblocktrans %}" loading="lazy" decoding="async">
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="columns is-multiline is-centered">
            <div class="column">
                <header class="block">
                    {% block header %}
                    <h1 class="title">{% trans "Reset Password" %}</h1>
                    <p class="notification">
                        {% trans "You must set a new password before logging in." %}
                    </p>
                    {% endblock %}
                </header>

                <div class="is-centered">
                    {% if errors %}
                    <div id="form_errors">
                        {% for error in errors %}
                        <p class="is-danger">
                            {{ error }}
                        </p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <form name="password-reset" method="post" action="/force-password-reset">
                        {% csrf_token %}
                        <div class="field">
                            <label class="label" for="id_current_password">
                                {% trans "Current password:" %}
                            </label>
                            <div class="control">
                                <input
                                    type="password"
                                    name="current_password"
                                    maxlength="128"
                                    class="input"
                                    required=""
                                    id="id_current_password"
                                    aria-describedby="desc_current_password"
                                >
                                {% include 'snippets/form_errors.html' with errors_list=form.current_password.errors id="desc_current_password" %}
                            </div>
                        </div>
                        <hr class="hr">
                        <div class="field">
                            <label class="label" for="id_new_password">
                                {% trans "New password:" %}
                            </label>
                            <div class="control">
                                <input
                                    type="password"
                                    name="password"
                                    maxlength="128"
                                    class="input"
                                    required=""
                                    id="id_new_password"
                                    aria-describedby="desc_password"
                                >
                                {% include 'snippets/form_errors.html' with errors_list=form.password.errors id="desc_password" %}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="id_confirm_password">
                                {% trans "Confirm password:" %}
                            </label>
                            <div class="control">
                                {{ form.confirm_password }}
                                {% include 'snippets/form_errors.html' with errors_list=form.confirm_password.errors id="desc_confirm_password" %}
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-primary" type="submit">{% trans "Confirm" %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include 'snippets/footer.html' %}
</body>
</html>
