{% extends 'landing/layout.html' %}
{% load i18n %}
{% load cache %}
{% load landing_page_tags %}

{% block panel %}
{% if not require_login_nearly_everywhere %}
<div class="block is-hidden-tablet">
    <h2 class="title has-text-centered">{% trans "Recent Books" %}</h2>
</div>

{% get_current_language as LANGUAGE_CODE %}
{# 1 hour cache #}
{% cache 3600 landing LANGUAGE_CODE %}
{% get_landing_books as books %}
<section class="columns is-multiline is-mobile">
    {% for work in books %}
    {% with book=work.default_edition %}
    <div class="column is-one-fifth-tablet is-half-mobile">
        <a href="{{ book.local_path }}">
            {% include 'snippets/book_cover.html' with size='xxlarge' %}
        </a>
    </div>
    {% endwith %}
    {% endfor %}
</section>
{% endcache %}
{% endif %}
{% endblock %}
