{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans "Reset Password" %}{% endblock %}

{% block content %}
<div class="columns">
    <div class="column">
        <div class="block">
            <h1 class="title">{% trans "Reset Password" %}</h1>

            {% if errors %}
            <div id="form_errors">
                {% for error in errors %}
                <p class="is-danger">
                    {{ error }}
                </p>
                {% endfor %}
            </div>

            {% endif %}
            <form name="password-reset" method="post" action="/password-reset/{{ code }}">
                {% csrf_token %}
                <div class="field">
                    <label class="label" for="id_new_password">
                        {% trans "Password:" %}
                    </label>
                    <div class="control">
                        <input
                            type="password"
                            name="password"
                            maxlength="128"
                            class="input"
                            required=""
                            id="id_new_password"
                            aria-describedby="desc_password"
                        >
                        {% include 'snippets/form_errors.html' with errors_list=form.password.errors id="desc_password" %}
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="id_confirm_password">
                        {% trans "Confirm password:" %}
                    </label>
                    <div class="control">
                        {{ form.confirm_password }}
                        {% include 'snippets/form_errors.html' with errors_list=form.confirm_password.errors id="desc_confirm_password" %}
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary" type="submit">{% trans "Confirm" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="column">
        <div class="block">
            {% include 'snippets/about.html' %}
        </div>
    </div>
</div>
{% endblock %}

