{% extends 'landing/layout.html' %}
{% load humanize %}
{% load i18n %}

{% block about_panel %}
<div class="box">
    {% include "snippets/about.html" with size="m" %}
    {% if active_users %}
    <ul>
        <li class="tag is-size-6">
            <span class="mr-1">{% trans "Active users:" %}</span>
            <strong>{{ active_users|intcomma }}</strong>
        </li>
        <li class="tag is-size-6">
            <span class="mr-1">{% trans "Statuses posted:" %}</span>
            <strong>{{ status_count|intcomma }}</strong>
        </li>
        <li class="tag is-size-6">
            <span class="mr-1">{% trans "Software version:" %}</span>
            <strong>{{ version }}</strong>
        </li>
    </ul>
    {% endif %}
</div>
{% endblock %}

{% block panel %}
<div class="block columns pt-4">
    <nav class="menu column is-one-quarter">
        <h2 class="menu-label">{% blocktrans with site_name=site.name %}About {{ site_name }}{% endblocktrans %}</h2>
        <ul class="menu-list">
            <li>
                {% url 'about' as path %}
                <a href="{{ path }}" {% if request.path in path %}class="is-active"{% endif %}>
                    {% trans "About" %}
                </a>
            </li>
            <li>
                {% url 'conduct' as path %}
                <a href="{{ path }}" {% if request.path in path %}class="is-active"{% endif %}>
                    {% trans "Code of Conduct" %}
                </a>
            </li>
            <li>
                {% url 'privacy' as path %}
                <a href="{{ path }}" {% if request.path in path %}class="is-active"{% endif %}>
                    {% trans "Privacy Policy" %}
                </a>
            </li>
        </ul>
    </nav>

    <div class="column is-clipped">
        {% block about_content %}{% endblock %}
    </div>
</div>
{% endblock %}
