<button
    type="button"
    class="toggle-control button {{ class }} {% if button_type %}{{ button_type }}{% else %}toggle-button{% endif %}"
    data-controls="{{ controls_text }}{% if controls_uid %}-{{ controls_uid }}{% endif %}"
    {% if hover %}data-hover-target="{{ hover }}"{% endif %}
    {% if label %}aria-label="label"{% endif %}
    aria-pressed="false"
    >

    {% if icon %}
    <span class="icon icon-{{ icon }}" title="{{ text }}">
        <span class="is-sr-only">{{ text }}</span>
    </span>
    {% else %}
    {{ text }}
    {% endif %}
</button>
