{% load i18n %}{% load humanize %}{% load utilities $}

{% blocktrans with title=book|title path=book.remote_id display_rating=rating|floatformat:"0" username=user.display_name user_path=user.local_path count counter=rating %}<a href="{{ user_path }}">{{ username }}</a> rated <em><a href="{{ path }}">{{ title }}</a></em>: {{ display_rating }} star{% plural %}<a href="{{ user_path }}">{{ username }}</a> rated <em><a href="{{ path }}">{{ title }}</a></em>: {{ display_rating }} stars{% endblocktrans %}
