{% extends 'notifications/items/layout.html' %}

{% load i18n %}
{% load utilities %}

{% block primary_link %}{% spaceless %}
    {{ notification.related_status.local_path }}
{% endspaceless %}{% endblock %}

{% block icon %}
<span class="icon icon-heart"></span>
{% endblock %}

{% block description %}
    {% with related_status.book|book_title as book_title %}
    {% with related_status.local_path as related_path %}

    {% if related_status.status_type == 'Review' %}
    {% blocktrans trimmed %}

    liked your <a href="{{ related_path }}">review of <em>{{ book_title }}</em></a>

    {% endblocktrans %}
    {% elif related_status.status_type == 'Comment' %}
    {% blocktrans trimmed %}

    liked your <a href="{{ related_path }}">comment on <em>{{ book_title }}</em></a>

    {% endblocktrans %}
    {% elif related_status.status_type == 'Quotation' %}
    {% blocktrans trimmed %}

    liked your <a href="{{ related_path }}">quote from <em>{{ book_title }}</em></a>

    {% endblocktrans %}
    {% else %}
    {% blocktrans trimmed %}

    liked your <a href="{{ related_path }}">status</a>

    {% endblocktrans %}
    {% endif %}

    {% endwith %}
    {% endwith %}
{% endblock %}


{% block preview %}
<div class="notification py-2 {% if notification.id in unread %}is-primary is-light{% else %}has-background-body has-text-muted{% endif %}">
    <div class="columns">
        <div class="column is-clipped">
            {% include 'snippets/status_preview.html' with status=related_status %}
        </div>
        <div class="column is-narrow has-text-muted">
            {{ related_status.published_date|timesince }}
            {% include 'snippets/privacy-icons.html' with item=related_status %}
        </div>
    </div>
</div>
{% endblock %}
