{% extends 'notifications/items/layout.html' %}

{% load i18n %}
{% load utilities %}

{% block primary_link %}{% spaceless %}
{% url 'user-relationships' request.user.localname 'followers' %}
{% endspaceless %}{% endblock %}

{% block icon %}
<span class="icon icon-local"></span>
{% endblock %}

{% block description %}
{% if related_user_count == 1 %}
    {% blocktrans trimmed %}
    <a href="{{ related_user_link }}">{{ related_user }}</a> followed you
    {% endblocktrans %}
{% elif related_user_count == 2 %}
    {% blocktrans trimmed %}
    <a href="{{ related_user_link }}">{{ related_user }}</a> and
    <a href="{{ second_user_link }}">{{ second_user }}</a> followed you
    {% endblocktrans %}
{% else %}
    {% blocktrans trimmed %}
    <a href="{{ related_user_link }}">{{ related_user }}</a> and {{ other_user_display_count }} others followed you
    {% endblocktrans %}
{% endif %}

{% endblock %}
