{% extends 'notifications/items/layout.html' %}

{% load i18n %}
{% load utilities %}

{% block primary_link %}{% spaceless %}
    {{ notification.related_group.local_path }}
{% endspaceless %}{% endblock %}

{% block icon %}
    <span class="icon icon-local"></span>
{% endblock %}

{% block description %}

{% if other_user_count == 0 %}

    {% blocktrans trimmed with group_name=notification.related_group.name group_path=notification.related_group.local_path %}
    <a href="{{ related_user_link }}">{{ related_user }}</a>
    has left your group
    "<a href="{{ group_path }}">{{ group_name }}</a>"
    {% endblocktrans %}

{% elif other_user_count == 1 %}

    {% blocktrans trimmed with group_name=notification.related_group.name group_path=notification.related_group.local_path %}
    <a href="{{ related_user_link }}">{{ related_user }}</a>
    and
    <a href="{{ second_user_link }}">{{ second_user }}</a>
    have left your group
    "<a href="{{ group_path }}">{{ group_name }}</a>"
    {% endblocktrans %}

{% else %}

    {% blocktrans trimmed with group_name=notification.related_group.name group_path=notification.related_group.local_path %}
    <a href="{{ related_user_link }}">{{ related_user }}</a>
    and
    {{ other_user_display_count }} others
    have left your group
    "<a href="{{ group_path }}">{{ group_name }}</a>"
    {% endblocktrans %}

{% endif %}

{% endblock %}
