{% extends 'notifications/items/layout.html' %}

{% load i18n %}
{% load utilities %}

{% block primary_link %}{% spaceless %}
    {{ notification.related_object.local_path }}
{% endspaceless %}{% endblock %}

{% block icon %}
    <span class="icon icon-local"></span>
{% endblock %}

{% block description %}
    <!--
        TODO: a user has a 'name' but not everything does, notably a book.
        On the other hand, maybe we don't need to notify anyone if a book
        is moved, just update the remote_id?
    -->
    {% blocktrans trimmed with object_name=notification.related_object.name object_path=notification.related_object.local_path %}
    <a href="{{ related_user_link }}">{{ related_user }}</a>
    moved {{ object_name }}
    "<a href="{{ object_path }}">{{ object_name }}</a>"
    {% endblocktrans %}

    <!-- TODO maybe put a brief context message here for migrated user accounts? -->

{% endblock %}
