{% extends 'notifications/items/layout.html' %}
{% load humanize %}
{% load i18n %}

{% block primary_link %}{% spaceless %}
{% url 'settings-reports' %}
{% endspaceless %}{% endblock %}

{% block icon %}
<span class="icon icon-warning"></span>
{% endblock %}

{% block description %}
    {% url 'settings-reports' as path %}
    {% blocktrans trimmed count counter=notification.related_reports.count with display_count=notification.related_reports.count|intcomma %}
    A new <a href="{{ path }}">report</a> needs moderation
    {% plural %}
    {{ display_count }} new <a href="{{ path }}">reports</a> need moderation
    {% endblocktrans %}
{% endblock %}
