{% extends 'components/modal.html' %}
{% load i18n %}
{% load humanize %}

{% block modal-title %}
{% blocktrans with username=user.username %}Report @{{ username }}{% endblocktrans %}
{% endblock %}

{% block modal-form-open %}
<form name="report" method="post" action="{% url 'report' %}">
{% endblock %}

{% block modal-body %}

{% csrf_token %}
<input type="hidden" name="reporter" value="{{ reporter.id }}">
<input type="hidden" name="user" value="{{ user.id }}">
<input type="hidden" name="statuses" value="{{ status.id }}">

<section class="content">
    <p>{% blocktrans with site_name=site.name %}This report will be sent to {{ site_name }}'s moderators for review.{% endblocktrans %}</p>
    <label class="label" for="id_{{ controls_uid }}_report_note">{% trans "More info about this report:" %}</label>
    <textarea class="textarea" name="note" id="id_{{ controls_uid }}_report_note"></textarea>
</section>

{% endblock %}


{% block modal-footer %}

<button class="button is-success" type="submit">{% trans "Submit" %}</button>
{% trans "Cancel" as button_text %}
{% include 'snippets/toggle/toggle_button.html' with text=button_text controls_text="report" controls_uid=report_uuid class="" %}

{% endblock %}
{% block modal-form-close %}</form>{% endblock %}

