{% load i18n %}
{% if request.user == user or not request.user == group.manager or not request.user.is_authenticated %}
<!-- TODO: blocking is irrelevant here, but ...is it? -->
{% elif user in request.user.blocks.all %}
{% include 'snippets/block_button.html' with blocks=True %}
{% else %}

<div class="field{% if not minimal %} has-addons{% else %} mb-0{% endif %}">
    <div class="control">
        <form action="{% url 'add-group-member' %}" method="POST" class="interaction add_{{ user.id }} {% if user in group.members.all %}is-hidden{%endif %}" data-id="add_{{ user.id }}">
            {% csrf_token %}
            <input type="hidden" name="group" value="{{ group.id }}">
            <input type="hidden" name="user" value="{{ user.username }}">
            <button class="button is-small{% if not minimal %} is-link{% endif %}" type="submit">
                {% if show_username %}
                {% blocktrans with username=user.localname %}Add @{{ username }}{% endblocktrans %}
                {% else %}
                {% trans "Add" %}
                {% endif %}
            </button>
        </form>
        <form action="{% url 'remove-group-member' %}" method="POST" class="interaction add_{{ user.id }} {% if user not in group.members.all %}is-hidden{%endif %}" data-id="add_{{ user.id }}">
            {% csrf_token %}
            <input type="hidden" name="group" value="{{ group.id }}">
            <input type="hidden" name="user" value="{{ user.username }}">
            {% if user.manually_approves_followers and request.user not in user.followers.all %}
            <button class="button is-small is-danger is-light" type="submit">
                {% trans "Undo follow request" %}
            </button>
            {% else %}
            <button class="button is-small is-danger is-light" type="submit">
                {% if show_username %}
                {% blocktrans with username=user.localname %}Remove @{{ username }}{% endblocktrans %}
                {% else %}
                {% trans "Remove" %}
                {% endif %}
            </button>
            {% endif %}
        </form>
    </div>
    {% if not minimal %}
    <div class="control">
        {% include 'snippets/user_options.html' with user=user class="is-small" %}
    </div>
    {% endif %}
</div>
{% endif %}
