{% load bookwyrm_tags %}
<div class="columns">
    <div class="column is-narrow">
        <div>
        <a href="/book/{{ book.id }}">{% include 'snippets/book_cover.html' with book=book %}</a>
        {% include 'snippets/shelve_button.html' with book=book %}
        </div>
    </div>
    <div class="column">
        <h3 class="title is-6">{% include 'snippets/book_titleby.html' with book=book %}</h3>
        {% include 'snippets/trimmed_text.html' with full=book|book_description %}
    </div>
</div>
