{% load bookwyrm_tags %}
{% load i18n %}

{% with status.id|uuid as uuid %}
<form name="boost" action="/boost/{{ status.id }}" method="post" class="interaction boost-{{ status.id }}-{{ uuid }} {% if request.user|boosted:status  %}is-hidden{% endif %}" data-id="boost-{{ status.id }}-{{ uuid }}">
    {% csrf_token %}
    <button class="button is-small is-white" type="submit" {% if not status.boostable %}disabled{% endif %}>
        <span class="icon icon-boost" title="{% trans 'Boost status' %}"></span>
        <span>{% trans "Boost status" %}</span>
    </button>
</form>
<form name="unboost" action="/unboost/{{ status.id }}" method="post" class="interaction boost-{{ status.id }}-{{ uuid }} active {% if not request.user|boosted:status %}is-hidden{% endif %}" data-id="boost-{{ status.id }}-{{ uuid }}">
    {% csrf_token %}
    <button class="button is-small is-white" type="submit">
        <span class="icon icon-boost has-text-primary" title="{% trans 'Un-boost status' %}"></span>
        <span>{% trans "Un-boost status" %}</span>
    </button>
</form>
{% endwith %}
