{% load humanize %}
{% load i18n %}
{% load bookwyrm_tags %}

<div class="tabs is-boxed">
    <ul role="tablist">
        <li class="tab-change is-active" data-category="tab-option-{{ book.id }}" role="tab" aria-selected="true" tabindex="0" data-tab="review-{{ book.id }}">
            <a>{% trans "Review" %}</a>
        </li>
        <li class="tab-change" data-category="tab-option-{{ book.id }}" role="tab" tabindex="0" data-tab="comment-{{ book.id}}">
            <a>{% trans "Comment" %}</a>
        </li>
        <li class="tab-change" data-category="tab-option-{{ book.id }}" role="tab" tabindex="0" data-tab="quote-{{ book.id }}">
            <a>{% trans "Quote" %}</a>
        </li>
    </ul>
</div>

<div class="tab-option-{{ book.id }}" id="review-{{ book.id }}">
    {% with 0|uuid as uuid %}
    {% include 'snippets/create_status_form.html' with type='review' %}
    {% endwith %}
</div>

<div class="hidden tab-option-{{ book.id }}" id="comment-{{ book.id }}">
    {% with 0|uuid as uuid %}
    {% include 'snippets/create_status_form.html' with type="comment" placeholder="Some thoughts on '"|add:book.title|add:"'" %}
    {% endwith %}
</div>

<div class="hidden tab-option-{{ book.id }}" id="quote-{{ book.id }}">
    {% with 0|uuid as uuid %}
    {% include 'snippets/create_status_form.html' with type="quotation" placeholder="An excerpt from '"|add:book.title|add:"'" %}
    {% endwith %}
</div>
