{% extends 'components/modal.html' %}
{% load i18n %}

{% block modal-title %}{% trans "Delete these read dates?" %}{% endblock %}
{% block modal-body %}
{% if readthrough.progress_updates|length > 0 %}
{% blocktrans with count=readthrough.progress_updates|length %}You are deleting this readthrough and its {{ count }} associated progress updates.{% endblocktrans %}
{% endif %}
{% endblock %}
{% block modal-footer %}
<form name="delete-readthrough-{{ readthrough.id }}" action="/delete-readthrough" method="POST">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ readthrough.id }}">
    <button class="button is-danger" type="submit">
        {% trans "Delete" %}
    </button>
    {% trans "Cancel" as button_text %}
    {% include 'snippets/toggle/toggle_button.html' with text=button_text controls_text="delete-readthrough" controls_uid=readthrough.id %}
</form>
{% endblock %}
