{% load bookwyrm_tags %}
<div>
    <input class="toggle-control" type="checkbox" name="finish-reading-{{ uuid }}" id="finish-reading-{{ uuid }}">
    <div class="modal toggle-content hidden">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Finish "{{ book.title }}"</p>
                <label class="delete" for="finish-reading-{{ uuid }}" aria-label="close" role="button"></label>
            </header>
            {% active_read_through book user as readthrough %}
            <form name="finish-reading" action="/finish-reading/{{ book.id }}" method="post">
                <section class="modal-card-body">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ readthrough.id }}">
                    <div class="field">
                        <label class="label">
                            Started reading
                            <input type="date" name="start_date" class="input" id="finish_id_start_date-{{ uuid }}" value="{{ readthrough.start_date | date:"Y-m-d" }}">
                        </label>
                    </div>
                    <div class="field">
                        <label class="label">
                            Finished reading
                            <input type="date" name="finish_date" class="input" id="id_finish_date-{{ uuid }}" value="{% now "Y-m-d" %}">
                        </label>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <div class="columns">
                        <div class="column field">
                            <label for="post-status">
                                <input type="checkbox" name="post-status" class="checkbox" checked>
                                Post to feed
                            </label>
                            {% include 'snippets/privacy_select.html' %}
                        </div>
                        <div class="column">
                            <button type="submit" class="button is-success">Save</button>
                            <label for="finish-reading-{{ uuid }}" class="button" role="button">Cancel</button>
                        </div>
                    </div>
                </footer>
            </form>
        </div>
        <label class="modal-close is-large" for="finish-reading-{{ uuid }}" aria-label="close" role="button"></label>
    </div>
</div>

