{% if request.user == user or not request.user.is_authenticated %}
{% elif request.user in user.follower_requests.all %}

<div>
Follow request already sent.
</div>

{% else %}

<form action="/follow/" method="POST" onsubmit="interact(event)" class="follow-{{ user.id }} {% if request.user in user.followers.all %}hidden{%endif %}" data-id="follow-{{ user.id }}">
    {% csrf_token %}
    <input type="hidden" name="user" value="{{ user.username }}">
    {% if user.manually_approves_followers %}
        <button class="button is-small is-primary" type="submit">Send follow request</button>
    {% else %}
        <button class="button is-small is-primary" type="submit">Follow</button>
    {% endif %}
</form>
<form action="/unfollow/" method="POST" onsubmit="interact(event)" class="follow-{{ user.id }} {% if not request.user in user.followers.all %}hidden{%endif %}" data-id="follow-{{ user.id }}">
    {% csrf_token %}
    <input type="hidden" name="user" value="{{ user.username }}">
    <button class="button is-small is-danger is-light" type="submit">Unfollow</button>
</form>
{% endif %}
