{% load fr_display %}
{% if request.user|follow_request_exists:user %}
<form action="/accept_follow_request/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="user" value="{{ user.username }}">
    <button class="button is-small" type="submit">Accept</button>
</form>
<form action="/delete_follow_request/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="user" value="{{ user.username }}">
    <button class="button is-small" type="submit" class="warning">Delete</button>
</form>
{% endif %}
