{% load i18n %}
{% load interaction %}

{% if request.user == user or not request.user.is_authenticated %}
{# nothing to see here -- either it's yourself or your logged out #}
{% else %}

{% get_relationship user as relationship %}
{% if relationship.is_blocked %}
{% include 'snippets/block_button.html' with blocks=True %}
{% else %}

<div class="field{% if not minimal %} has-addons{% else %} mb-0{% endif %}">
    <div class="control">
        <form action="{% url 'follow' %}" method="POST" class="interaction follow_{{ user.id }} {% if relationship.is_following or relationship.is_follow_pending %}is-hidden{%endif %}" data-id="follow_{{ user.id }}">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{ user.username }}">
            <button class="button is-small{% if not minimal %} is-link{% endif %}" type="submit">
                {% if show_username %}
                {% blocktrans with username=user.localname %}Follow @{{ username }}{% endblocktrans %}
                {% else %}
                {% trans "Follow" %}
                {% endif %}
            </button>
        </form>
        <form action="{% url 'unfollow' %}" method="POST" class="interaction follow_{{ user.id }} {% if not relationship.is_following and not relationship.is_follow_pending %}is-hidden{%endif %}" data-id="follow_{{ user.id }}">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{ user.username }}">
            {% if user.manually_approves_followers and not relationship.is_following %}
            <button class="button is-small is-danger is-light" type="submit">
                {% trans "Undo follow request" %}
            </button>
            {% else %}
            <button class="button is-small is-danger is-light" type="submit">
                {% if show_username %}
                {% blocktrans with username=user.localname %}Unfollow @{{ username }}{% endblocktrans %}
                {% else %}
                {% trans "Unfollow" %}
                {% endif %}
            </button>
            {% endif %}
        </form>
    </div>
    {% if not minimal %}
    <div class="control">
        {% include 'snippets/user_options.html' with user=user class="is-small" %}
    </div>
    {% endif %}
</div>

{% endif %}

{% endif %}
