{% load i18n %}
{% if request.user in user.follow_requests.all %}
<div class="field is-grouped">
    <form action="/accept-follow-request/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="user" value="{{ user.username }}">
        <button class="button is-link is-small" type="submit">{% trans "Accept" %}</button>
    </form>
    <form action="/delete-follow-request/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="user" value="{{ user.username }}">
        <button class="button is-danger is-light is-small" type="submit" class="warning">{% trans "Delete" %}</button>
    </form>
</div>
{% endif %}
