{% load i18n %}
<div class="content">
    <p>
        {% blocktrans trimmed %}
        Set a goal for how many books you'll finish reading in {{ year }}, and track your progress throughout the year.
        {% endblocktrans %}
    </p>

    <form method="post" name="goal" action="{% url 'user-goal' request.user.localname year %}">
        {% csrf_token %}
        <input type="hidden" name="year" value="{% if goal %}{{ goal.year }}{% else %}{{ year }}{% endif %}">
        <input type="hidden" name="user" value="{{ request.user.id }}">

        <div class="columns">
            <div class="column">
                <label class="label" for="id_goal">{% trans "Reading goal:" %}</label>
                <div class="field has-addons">
                    <div class="control">
                        <input type="number" class="input" name="goal" min="1" id="id_goal" value="{% if goal %}{{ goal.goal }}{% else %}12{% endif %}">
                    </div>
                    <p class="button is-static" aria-hidden="true">{% trans "books" %}</p>
                </div>
            </div>

            <div class="column">
                <label class="label" for="privacy_{{ goal.id }}">{% trans "Goal privacy:" %}</label>
                {% include 'snippets/privacy_select.html' with no_label=True current=goal.privacy privacy_uuid=goal.id %}
            </div>
        </div>

        <label for="post_status" class="label">
            <input type="checkbox" name="post-status" id="post_status" class="checkbox" checked>
            {% trans "Post to feed" %}
        </label>

        <div class="field">
            <button type="submit" class="button is-link">{% trans "Set goal" %}</button>
        </div>
    </form>
</div>
