{% load fr_display %}
<div class="card-footer-item">
    {% if request.user.is_authenticated %}
    <form name="reply" action="/reply" method="post" onsubmit="return reply(event)">
        <div class="field is-grouped">
        {% csrf_token %}
        <input type="hidden" name="reply_parent" value="{{ activity.id }}">
        <input type="hidden" name="user" value="{{ request.user.id }}">
        <input type="hidden" name="privacy" value="public">
        <textarea name="content" placeholder="Leave a comment..." id="id_content_{{ activity.id }}" required="true"></textarea>
        <button class="button" type="submit">
            <span class="icon icon-comment">
                <span class="is-sr-only">Comment</span>
            </span>
        </button>
        </div>
    </form>

    <form name="boost" action="/boost/{{ activity.id }}" method="post" onsubmit="return interact(event)" class="boost-{{ status.id }} {% if request.user|boosted:status  %}hidden{% endif %}" data-id="boost-{{ status.id }}">
        {% csrf_token %}
        <button class="button" type="submit">
            <span class="icon icon-boost">
                <span class="is-sr-only">Boost status</span>
            </span>
        </button>
    </form>
    <form name="unboost" action="/unboost/{{ activity.id }}" method="post" onsubmit="return interact(event)" class="boost-{{ status.id }} active {% if not request.user|boosted:status %}hidden{% endif %}" data-id="boost-{{ status.id }}">
        {% csrf_token %}
        <button class="button is-success" type="submit">
            <span class="icon icon-boost">
                <span class="is-sr-only">Un-boost status</span>
            </span>
        </button>
    </form>

    <form name="favorite" action="/favorite/{{ activity.id }}" method="POST" onsubmit="return interact(event)" class="fav-{{ status.id }} {% if request.user|liked:status %}hidden{% endif %}" data-id="fav-{{ status.id }}">
        {% csrf_token %}
        <button class="button" type="submit">
            <span class="icon icon-heart">
                <span class="is-sr-only">Like status</span>
            </span>
        </button>
    </form>
    <form name="unfavorite" action="/unfavorite/{{ activity.id }}" method="POST" onsubmit="return interact(event)" class="fav-{{ status.id }} active {% if not request.user|liked:status %}hidden{% endif %}" data-id="fav-{{ status.id }}">
        {% csrf_token %}
        <button class="button is-success" type="submit">
            <span class="icon icon-heart">
                <span class="is-sr-only">Un-like status</span>
            </span>
        </button>
    </form>
    {% else %}
    <a href="/login">
    <span class="icon icon-comment">
        <span class="is-sr-only">Comment</span>
    </span>

    <span class="icon icon-boost">
        <span class="is-sr-only">Boost status</span>
    </span>

    <span class="icon icon-heart">
        <span class="is-sr-only">Like status</span>
    </span>
    </a>
    {% endif %}
</div>
