{% load static %}

{% firstof image site.preview_image as page_image %}
{% if page_image %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ media_full_url }}{{ page_image }}">
    <meta name="og:image" content="{{ media_full_url }}{{ page_image }}">
{% elif site.logo %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="{{ media_full_url }}{{ site.logo }}">
    <meta name="twitter:image:alt" content="{{ site.name }} Logo">
    <meta name="og:image" content="{{ media_full_url }}{{ site.logo }}">
{% else %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="{% static "images/logo.png" %}">
    <meta name="twitter:image:alt" content="BookWyrm Logo">
    <meta name="og:image" content="{% static "images/logo.png" %}">
{% endif %}

<meta name="twitter:title" content="{% if title %}{{ title }} - {% endif %}{{ site.name }}">
<meta name="og:title" content="{% if title %}{{ title }} - {% endif %}{{ site.name }}">

{% firstof description site.instance_tagline as description %}
<meta name="twitter:description" content="{{ description }}">
<meta name="og:description" content="{{ description }}">
