{% if preview_images_enabled is True %}
    {% if image %}
        <meta name="twitter:image" content="{{ media_path }}{{ image }}">
        <meta name="og:image" content="{{ media_path }}{{ image }}">
    {% else %}
        <meta name="twitter:image" content="{{ media_path }}{{ site.preview_image }}">
        <meta name="og:image" content="{{ media_path }}{{ site.preview_image }}">
    {% endif %}
{% else %}
    <meta name="twitter:image" content="{% if site.logo %}{{ media_path }}{{ site.logo }}{% else %}{% static "images/logo.png" %}{% endif %}">
    <meta name="og:image" content="{% if site.logo %}{{ media_path }}{{ site.logo }}{% else %}{% static "images/logo.png" %}{% endif %}">
{% endif %}
