{% load i18n %}
<nav class="pagination" aria-label="pagination">
    {% if page.has_previous %}
    <p class="pagination-previous">
        <a href="{{ path }}?page={{ page.previous_page_number }}{{ anchor }}">
            <span class="icon icon-arrow-left"></span>
            {% trans "Previous" %}
        </a>
    </p>
    {% endif %}

    {% if page.has_next %}
    <p class="pagination-next">
    <a href="{{ path }}?page={{ page.next_page_number }}{{ anchor }}">
            {% trans "Next" %}
            <span class="icon icon-arrow-right"></span>
        </a>
    </p>
    {% endif %}
</nav>
