{% load i18n %}
{% load utilities %}
<div class="select {{ class }}">
    {% with 0|uuid as uuid %}
    {% if not no_label %}
    <label class="is-sr-only" for="privacy-{{ uuid }}">{% trans "Post privacy" %}</label>
    {% endif %}
    <select name="privacy" id="privacy-{{ uuid }}">
        <option value="public" {% if not current or current == 'public' %}selected{% endif %}>
            {% trans "Public" %}
        </option>
        <option value="unlisted" {% if current == 'unlisted' %}selected{% endif %}>
            {% trans "Unlisted" %}
        </option>
        <option value="followers" {% if current == 'followers' %}selected{% endif %}>
            {% trans "Followers" %}
        </option>
        <option value="direct" {% if current == 'direct' %}selected{% endif %}>
            {% trans "Private" %}
        </option>
    </select>
    {% endwith %}
</div>

