{% load i18n %}
<div class="field has-addons">
    <div class="control">
        <input
            type="number"
            name="progress"
            class="input"
            id="id_progress_{{ readthrough.id }}{{ controls_uid }}"
            value="{{ readthrough.progress }}"
            {% if progress_required %}required{% endif %}
        >
    </div>
    <div class="control select">
        <select name="progress_mode" aria-label="Progress mode">
            <option
                value="PG"
                {% if readthrough.progress_mode == 'PG' %}selected{% endif %}>
                    {% trans "pages" %}
            </option>
            <option
                value="PCT"
                {% if readthrough.progress_mode == 'PCT' %}selected{% endif %}>
                    {% trans "percent" %}
            </option>
        </select>
    </div>
</div>
