{% csrf_token %}
<input type="hidden" name="id" value="{{ readthrough.id }}">
<div class="field">
    <label class="label">
        Started reading
        <input type="date" name="start_date" class="input" id="id_start_date-{{ readthrough.id }}" value="{{ readthrough.start_date | date:"Y-m-d" }}">
    </label>
</div>
<div class="field">
    <label class="label">
        Finished reading
        <input type="date" name="finish_date" class="input" id="id_finish_date-{{ readthrough.id }}" value="{{ readthrough.finish_date | date:"Y-m-d" }}">
    </label>
</div>
