{% load humanize %}
<div class="content block">
    <input class="toggle-control" type="radio" name="show-edit-readthrough" id="show-readthrough-{{ readthrough.id }}" checked>
    <div class="toggle-content hidden">
        <dl>
            {% if readthrough.start_date %}
            <dt>Started reading:</dt>
            <dd>{{ readthrough.start_date | naturalday }}</dd>
            {% endif %}
            {% if readthrough.finish_date %}
            <dt>Finished reading:</dt>
            <dd>{{ readthrough.finish_date | naturalday }}</dd>
            {% endif %}
        </dl>
        <div class="field is-grouped">
            <label class="button is-small" for="edit-readthrough-{{ readthrough.id }}" role="button" tabindex="0">
                <span class="icon icon-pencil">
                    <span class="is-sr-only">Edit read-through dates</span>
                </span>
            </label>
            <label class="button is-small" for="delete-readthrough-{{ readthrough.id }}" role="button" tabindex="0">
                <span class="icon icon-x">
                    <span class="is-sr-only">Delete this read-through</span>
                </span>
            </label>
        </div>
    </div>
</div>

<div class="block">
    <input class="toggle-control" type="radio" name="show-edit-readthrough" id="edit-readthrough-{{ readthrough.id }}">
    <div class="toggle-content hidden">
        <div class="box">
            <form name="edit-readthrough" action="/edit-readthrough" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ readthrough.id }}">
                <div class="field">
                    <label class="label">
                        Started reading
                        <input type="date" name="start_date" class="input" id="id_start_date-{{ readthrough.id }}" value="{{ readthrough.start_date | date:"Y-m-d" }}">
                    </label>
                </div>
                <div class="field">
                    <label class="label">
                        Finished reading
                        <input type="date" name="finish_date" class="input" id="id_finish_date-{{ readthrough.id }}" value="{{ readthrough.finish_date | date:"Y-m-d" }}">
                    </label>
                </div>
                <div class="field is-grouped">
                    <button class="button is-primary" type="submit">Save</button>
                    <label class="button" for="show-readthrough-{{ readthrough.id }}" role="button" tabindex="0">Cancel</label>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <input class="toggle-control" type="checkbox" name="delete-readthrough-{{ readthrough.id }}" id="delete-readthrough-{{ readthrough.id }}">
    <div class="modal toggle-content hidden">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Delete this read-though?</p>
                <label class="delete" for="delete-readthrough-{{ readthrough.id }}" aria-label="close"></label>
            </header>
            <footer class="modal-card-foot">
                <form name="delete-readthrough-{{ readthrough.id }}" action="/delete-readthrough" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ readthrough.id }}">
                    <button class="button is-danger is-light" type="submit">
                        Delete
                    </button>
                    <label for="delete-readthrough-{{ readthrough.id }}" class="button" role="button" tabindex="0">Cancel</button>
                </form>
            </footer>
        </div>
        <label class="modal-close is-large" for="delete-readthrough-{{ readthrough.id }}" aria-label="close"></label>
    </div>
</div>
