{% load bookwyrm_tags %}
{% with activity.id|uuid as uuid %}
<form class="is-flex-grow-1" name="reply" action="/reply" method="post" onsubmit="return reply(event)">
    <div class="columns">
        {% csrf_token %}
        <input type="hidden" name="reply_parent" value="{{ activity.id }}">
        <input type="hidden" name="user" value="{{ request.user.id }}">
        <div class="column">

            {% include 'snippets/content_warning_field.html' with parent_status=activity %}
            <div class="field">
                <textarea class="textarea" name="content" placeholder="Leave a comment..." id="id_content_{{ activity.id }}-{{ uuid }}" required="true"></textarea>
            </div>
        </div>
        <div class="column is-narrow">
            <div class="field">
                {% include 'snippets/privacy_select.html' with current=activity.privacy %}
            </div>
            <div class="field">
                <button class="button is-primary" type="submit">
                    post reply
                </button>
            </div>
        </div>
    </div>
</form>
{% endwith %}
