{% load bookwyrm_tags %}
{% if request.user.is_authenticated %}

{% with book.id|uuid as uuid %}
{% active_shelf book as active_shelf %}
<div class="field has-addons">
    <div class="control">
        {% if switch_mode and active_shelf.book != book %}
        {% include 'snippets/switch_edition_button.html' with edition=book size='is-small' %}
        {% else %}

        {% if active_shelf.shelf.identifier == 'read' %}
        <button class="button is-small" disabled>
            <span>Read</span> <span class="icon icon-check"></span>
        </button>
        {% elif active_shelf.shelf.identifier == 'reading' %}
        {% include 'snippets/toggle/toggle_button.html' with class="is-small" text="I'm done!" controls_text="finish-reading" controls_uid=uuid focus="modal-title-finish-reading" %}
        {% elif active_shelf.shelf.identifier == 'to-read' %}
        {% include 'snippets/toggle/toggle_button.html' with class="is-small" text="Start reading" controls_text="start-reading" controls_uid=uuid focus="modal-title-start-reading" %}
        {% else %}
        <form name="shelve" action="/shelve/" method="post">
            {% csrf_token %}
            <input type="hidden" name="book" value="{{ active_shelf.book.id }}">
            <input type="hidden" name="shelf" value="to-read">
            <button class="button is-small" type="submit">Want to read</button>
        </form>
        {% endif %}
    </div>
    {% include 'snippets/shelve_button_dropdown.html' with class="is-small" button_uuid=uuid%}
    {% endif %}
</div>

{% include 'snippets/start_reading_modal.html' with book=active_shelf.book controls_text="start-reading" controls_uid=uuid %}

{% latest_read_through book request.user as readthrough %}
{% include 'snippets/finish_reading_modal.html' with book=active_shelf.book controls_text="finish-reading" controls_uid=uuid readthrough=readthrough %}

{% endwith %}
{% endif %}
