{% load humanize %}
{% load fr_display %}

<div class="card{% if depth %}depth-{{ depth }} {% if main %}main{% else %}reply{% endif %}{% endif %}">
    <header class="card-header">
    {% include 'snippets/status_header.html' with status=status %}
    </header>

    <div class="card-content">
        {% if status.status_type == 'Boost' %}
        {% include 'snippets/status_content.html' with status=status.boosted_status %}
        {% else %}
        {% include 'snippets/status_content.html' with status=status %}
        {% endif %}
    </div>

    <footer class="card-footer">
        {% if status.status_type == 'Boost' %}
        {% include 'snippets/interaction.html' with activity=status.boosted_status %}
        {% else %}
        {% include 'snippets/interaction.html' with activity=status %}
        {% endif %}

        <div class="card-footer-item">
            <span class="icon icon-public">
                <span class="hidden-text">Public post</span>
            </span>
            <a href="{{ status.remote_id }}">{{ status.published_date | naturaltime }}</a>
        </div>
    </footer>
</div>
