{% extends 'snippets/components/card.html' %}

{% load bookwyrm_tags %}
{% load humanize %}

{% block card-header %}
    <h3 class="card-header-title has-background-white-ter is-block">
        {% include 'snippets/status_header.html' with status=status %}
    </h3>
{% endblock %}


{% block card-content %}
    {% include 'snippets/status_content.html' with status=status %}
{% endblock %}


{% block card-footer %}
<div class="card-footer-item">
    {% if request.user.is_authenticated %}
    <div class="field has-addons">
        <div class="control">
            {% include 'snippets/toggle/toggle_button.html' with controls_text="show-comment" controls_uid=status.id text="Reply" icon="comment" class="is-small" focus="id_content_reply" %}
        </div>
        <div class="control">
            {% include 'snippets/boost_button.html' with status=status %}
        </div>
        <div class="control">
            {% include 'snippets/fav_button.html' with status=status %}
        </div>
    </div>

    {% else %}
    <a href="/login">
        <span class="icon icon-comment" title="Reply">
            <span class="is-sr-only">Reply</span>
        </span>

        <span class="icon icon-boost" title="Boost status">
            <span class="is-sr-only">Boost status</span>
        </span>

        <span class="icon icon-heart" title="Like status">
            <span class="is-sr-only">Like status</span>
        </span>
    </a>
    {% endif %}
</div>

<div class="card-footer-item">
    {% include 'snippets/privacy-icons.html' with item=status %}
</div>

<div class="card-footer-item">
    <a href="{{ status.remote_id }}">{{ status.published_date | post_date }}</a>
</div>
<div class="card-footer-item">
    {% include 'snippets/status_options.html' with class="is-small" right=True %}
</div>
{% endblock %}


{% block card-bonus %}
{% if request.user.is_authenticated %}
{% with status.id|uuid as uuid %}
<section class="hidden" id="show-comment-{{ status.id }}">
    <div class="card-footer">
        <div class="card-footer-item">
            {% include 'snippets/create_status_form.html' with reply_parent=status type="reply" %}
        </div>
    </div>
</section>
{% endwith %}
{% endif %}
{% endblock %}
