{% load bookwyrm_tags %}
{% load humanize %}

{% if not status.deleted %}
<div class="card">
    <header class="card-header">
        <div class="card-header-title">
            <div class="columns">
                <div class="column is-narrow">
                    {% include 'snippets/status_header.html' with status=status %}
                </div>
            </div>
        </div>
    </header>

    <div class="card-content">
        {% include 'snippets/status_content.html' with status=status %}
    </div>

    <footer>
        <div class="card-footer">
            <div class="card-footer-item">
                {% if request.user.is_authenticated %}
                <label class="button is-small" for="show-comment-{{ status.id }}">
                    <div role="button" tabindex="0">
                        <span class="icon icon-comment">
                            <span class="is-sr-only">Reply</span>
                        </span>
                    </div>
                </label>
                {% include 'snippets/boost_button.html' with status=status %}
                {% include 'snippets/fav_button.html' with status=status %}

                {% else %}
                <a href="/login">
                    <span class="icon icon-comment">
                        <span class="is-sr-only">Reply</span>
                    </span>

                    <span class="icon icon-boost">
                        <span class="is-sr-only">Boost status</span>
                    </span>

                    <span class="icon icon-heart">
                        <span class="is-sr-only">Like status</span>
                    </span>
                </a>
                {% endif %}
            </div>

            <div class="card-footer-item">
                {% include 'snippets/privacy-icons.html' with item=status %}
            </div>

            <div class="card-footer-item">
                <a href="{{ status.remote_id }}">{{ status.published_date | post_date }}</a>
            </div>
            {% if status.user == request.user %}
            <div class="card-footer-item">
                <label class="button" for="more-info-{{ status.id }}">
                    <div class="icon icon-dots-three">
                        <span class="is-sr-only">More options</span>
                    </div>
                </label>
            </div>
            {% endif %}
        </div>

        {% if request.user.is_authenticated %}
        <input class="toggle-control" type="checkbox" name="show-comment-{{ status.id }}" id="show-comment-{{ status.id }}">
        <div class="toggle-content hidden">
            <div class="card-footer">
                <div class="card-footer-item">
                    {% include 'snippets/reply_form.html' with status=status %}
                </div>
            </div>
        </div>
        {% endif %}

        {% if status.user == request.user %}
        <div>
            <input class="toggle-control" type="checkbox" name="more-info-{{ status.id }}" id="more-info-{{ status.id }}">
            <div class="toggle-content hidden card-footer">
                {% if status.user == request.user %}
                <div class="card-footer-item">
                    <form name="delete-{{status.id}}" action="/delete-status/{{ status.id }}" method="post">
                        {% csrf_token %}
                        <button class="button is-danger is-light" type="submit">
                            Delete post
                        </button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </footer>
</div>
{% else %}
<div class="card">
    <header class="card-header">
        <p>
        {% include 'snippets/avatar.html' with user=status.user %}
        {% include 'snippets/username.html' with user=status.user %}
        deleted this status
        </p>
    </header>
</div>
{% endif %}
