{% load fr_display %}
<div class="card-header-title">
    <p>
        {% include 'snippets/avatar.html' with user=status.user %}

        {% include 'snippets/username.html' with user=status.user %}
        {% if status.status_type == 'GeneratedNote' %}
            {{ status.content | safe }} {% include 'snippets/book_titleby.html' with book=status.mention_books.first %}
        {% elif status.status_type == 'Boost' %}
            boosted {% include 'snippets/avatar.html' with user=status.boosted_status.user %}{% include 'snippets/username.html' with user=status.boosted_status.user possessive=True %} status
        {% elif status.status_type == 'Review' and not status.name and not status.content%}
            rated <a href="/book/{{ status.book.id }}">{{ status.book.title }}</a>
        {% elif status.status_type == 'Review' %}
            reviewed <a href="/book/{{ status.book.id }}">{{ status.book.title }}</a>
        {% elif status.status_type == 'Comment' %}
            commented on <a href="/book/{{ status.book.id }}">{{ status.book.title }}</a>
        {% elif status.status_type == 'Quotation' %}
            quoted <a href="/book/{{ status.book.id }}">{{ status.book.title }}</a>
        {% elif status.reply_parent %}
            {% with parent_status=status|parent %}
            replied to {% include 'snippets/username.html' with user=parent_status.user possessive=True %} <a href="{{parent_status.remote_id }}">{% if parent_status.status_type == 'GeneratedNote' %}update{% else %}{{ parent_status.status_type | lower }}{% endif %}</a>
            {% endwith %}
        {% endif %}
    </p>
</div>
