{% extends 'snippets/components/dropdown.html' %}

{% block dropdown-trigger %}
<span class="icon icon-dots-three">
    <span class="is-sr-only">More options</span>
</span>
{% endblock %}

{% block dropdown-list %}
<li role="menuitem">
    <form class="dropdown-item pt-0 pb-0" name="delete-{{status.id}}" action="/delete-status/{{ status.id }}" method="post">
        {% csrf_token %}
        <button class="button is-danger is-light" type="submit">
            Delete post
        </button>
    </form>
</li>
{% endblock %}
