{% load fr_display %}
<div class="block">
    {% if status.status_type == 'Review' %}
    <h3>
        {% if status.name %}{{ status.name }}<br>{% endif %}
        {% include 'snippets/stars.html' with rating=status.rating %}
    </h3>
    {% endif %}

    {% if status.quote %}
    <div class="quote block">
        <blockquote>{{ status.quote }}</blockquote>

        <p> &mdash; {% include 'snippets/book_titleby.html' with book=status.book %}</p>
    </div>
    {% endif %}

    {% if status.content and status.status_type != 'GeneratedNote' and status.status_type != 'Boost' %}
    {% include 'snippets/trimmed_text.html' with full=status.content|safe %}
    {% endif %}
</div>

{% if not hide_book %}
{% if status.book or status.mention_books.count %}
<div class="{% if status.status_type != 'GeneratedNote' %}box{% endif %}">
    {% if status.book %}
    {% include 'snippets/book_preview.html' with book=status.book %}
    {% elif status.mention_books.count %}
    {% include 'snippets/book_preview.html' with book=status.mention_books.first %}
    {% endif %}
</div>
{% endif %}
{% endif %}
