{% load humanize %}
{% load fr_display %}
<div class="level-left">
    <div>
        {% include 'snippets/avatar.html' with user=status.user %}

        {% include 'snippets/username.html' with user=status.user %}
        {% if status.status_type == 'Update' %}
            {{ status.content | safe }}
        {% elif status.status_type == 'Review' and not status.name and not status.content%}
            rated <a href="/book/{{ status.book.id }}">{{ status.book.title }}</a>
        {% elif status.status_type == 'Review' %}
            reviewed <a href="/book/{{ status.book.id }}">{{ status.book.title }}</a>
        {% elif status.status_type == 'Comment' %}
            commented on <a href="/book/{{ status.book.id }}">{{ status.book.title }}</a>
        {% elif status.status_type == 'Quotation' %}
            quoted <a href="/book/{{ status.book.id }}">{{ status.book.title }}</a>
        {% elif status.status_type == 'Boost' %}
            boosted
        {% elif status.reply_parent %}
            {% with parent_status=status|parent %}
            replied to {% include 'snippets/username.html' with user=parent_status.user possessive=True %} <a href="{{parent_status.remote_id }}">{{ parent_status.status_type | lower }}</a>
            {% endwith %}
        {% endif %}
    </div>
</div>
<div class="level-right">
    <div>
        <a href="{{ status.remote_id }}">{{ status.published_date | naturaltime }}</a>
    </div>
</div>
