{% load bookwyrm_tags %}
{% with 0|uuid as uuid %}
{% if full %}
{% with full|to_markdown|safe as full %}

{% with full|to_markdown|safe|truncatewords_html:60 as trimmed %}
{% if trimmed != full %}
<div id="hide-full-{{ uuid }}">
    <div class="content" id="trimmed-{{ uuid }}"><span dir="auto">{{ trimmed }}</span>
        {% include 'snippets/toggle/open_button.html' with text="show more" controls_text="full" controls_uid=uuid class="is-small" %}
    </div>
</div>
<div id="full-{{ uuid }}" class="hidden">
    <div class="content"><span dir="auto">{{ full }}</span>
        {% include 'snippets/toggle/close_button.html' with text="show less" controls_text="full" controls_uid=uuid class="is-small" %}
    </div>
</div>
{% else %}
<div class="content"><span dir="auto">{{ full }}</span></div>
{% endif %}
{% endwith %}

{% endwith %}
{% endif %}
{% endwith %}

