{% load i18n %}

{% if user.is_active %}
    {% if user.moved_to %}
        {% trans "Moved" as text %}
        {% include "snippets/user_active_tag_item.html" with icon="x" text=text level="info" %}
    {% else %}
        {% trans "Active" as text %}
        {% include "snippets/user_active_tag_item.html" with icon="check" text=text level="success" %}
    {% endif %}
{% elif user.is_deleted %}
    {% trans "Deleted" as text %}
    {% include "snippets/user_active_tag_item.html" with icon="x" text=text level="danger" deactivation_reason=user.get_deactivation_reason_display %}
{% else %}
    {% trans "Inactive" as text %}
    {% include "snippets/user_active_tag_item.html" with icon="x" text=text level="warning" deactivation_reason=user.get_deactivation_reason_display %}
{% endif %}
