{% load humanize %}
{% load bookwyrm_tags %}
<div class="block">
    <div class="columns">
        <div class="column is-narrow">
            <div class="media">
                <div class="media-left">
                    <a href="/user/{{ user|username }}">
                    {% include 'snippets/avatar.html' with user=user large=True %}
                    </a>
                </div>
                <div class="media-content">
                    <p>{% if user.name %}{{ user.name }}{% else %}{{ user.localname }}{% endif %}</p>
                    <p><a href="{{ user.remote_id }}">{{ user.username }}</a></p>
                    <p>Joined {{ user.created_date | naturaltime }}</p>
                    <p>
                        <a href="/user/{{ user | username }}/followers">{{ user.followers.count }} follower{{ user.followers.count | pluralize }}</a>,
                        <a href="/user/{{ user | username }}/following">{{ user.following.count }} following</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="column">
            {% if user.summary %}
            <blockquote><span class="icon icon-quote-open"></span>{{ user.summary | safe }}</blockquote>
            {% endif %}
        </div>
    </div>
    {% if not is_self %}
    {% include 'snippets/follow_button.html' with user=user %}
    {% endif %}

    {% if is_self and user.follower_requests.all %}
    <div class="follow-requests">
        <h2>Follow Requests</h2>
        {% for requester in user.follower_requests.all %}
            <div class="row shrink">
                <p>
                    {% include 'snippets/username.html' with user=requester show_full=True %}
                </p>
                {% include 'snippets/follow_request_buttons.html' with user=requester %}
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

