{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans "Administration" %}{% endblock %}

{% block content %}

<header class="block column is-offset-one-quarter pl-1">
    <div class="columns is-mobile">
        <div class="column">
            <h1 class="title">{% block header %}{% endblock %}</h1>
        </div>
        <div class="column is-narrow">
            {% block edit-button %}{% endblock %}
        </div>
    </div>
</header>

<div class="block columns">
    <nav class="menu column is-one-quarter">
        {% if perms.bookwyrm.create_invites %}
        <h2 class="menu-label">{% trans "Manage Users" %}</h2>
        <ul class="menu-list">
            <li>
                {% url 'settings-users' as url %}
                <a href="{{ url }}"{% if url in request.path %} class="is-active" aria-selected="true"{% endif %}>{% trans "Users" %}</a>
            </li>
            <li>
                {% url 'settings-invite-requests' as url %}
                {% url 'settings-invites' as alt_url %}
                <a href="{{ url }}"{% if url in request.path or request.path in alt_url %} class="is-active" aria-selected="true"{% endif %}>{% trans "Invites" %}</a>
            </li>
            <li>
                {% url 'settings-reports' as url %}
                <a href="{{ url }}"{% if url in request.path %} class="is-active" aria-selected="true"{% endif %}>{% trans "Reports" %}</a>
            </li>
            <li>
                {% url 'settings-federation' as url %}
                <a href="{{ url }}"{% if url in request.path %} class="is-active" aria-selected="true"{% endif %}>{% trans "Federated Instances" %}</a>
            </li>
        </ul>
        {% endif %}
        {% if perms.bookwyrm.edit_instance_settings %}
        <h2 class="menu-label">{% trans "Instance Settings" %}</h2>
        <ul class="menu-list">
            <li>
                {% url 'settings-announcements' as url %}
                <a href="{{ url }}"{% if url in request.path %} class="is-active" aria-selected="true"{% endif %}>{% trans "Announcements" %}</a>
            </li>
            <li>
                {% url 'settings-site' as url %}
                <a href="{{ url }}"{% if url in request.path %} class="is-active" aria-selected="true"{% endif %}>{% trans "Site Settings" %}</a>
                {% if url in request.path %}
                <ul class="emnu-list">
                    <li><a href="{{ url }}#instance-info">{% trans "Instance Info" %}</a></li>
                    <li><a href="{{ url }}#images">{% trans "Images" %}</a></li>
                    <li><a href="{{ url }}#footer">{% trans "Footer Content" %}</a></li>
                    <li><a href="{{ url }}#registration">{% trans "Registration" %}</a></li>
                </ul>
                {% endif %}
            </li>
        </ul>
        {% endif %}
    </nav>
    <div class="column">
        {% block panel %}{% endblock %}
    </div>
</div>

{% endblock %}
