{% extends 'components/inline_form.html' %}
{% load i18n %}

{% block header %}
{% trans "Create Announcement" %}
{% endblock %}

{% block form %}
<form name="create-announcement" method="post" action="{% url 'settings-announcements' %}">
<form name="create-announcement" method="post" action="/settings/announcements">
    {% csrf_token %}
    <input type="hidden" name="user" value="{{ request.user.id }}">

    <p>
        <label class="label" for="id_name">Name:</label>
        {{ form.name }}
        {% for error in form.name.errors %}
        <p class="help is-danger">{{ error | escape }}</p>
        {% endfor %}
    </p>
    <div class="columns">
        <div class="column">
            <p>
                <label class="label" for="id_start_date">Start date:</label>
                <input type="date" name="start_date" class="input" id="id_start_date">
                {% for error in form.start_date.errors %}
                <p class="help is-danger">{{ error | escape }}</p>
                {% endfor %}
            </p>
        </div>
        <div class="column">
            <p>
                <label class="label" for="id_end_date">End date:</label>
                <input type="date" name="end_date" class="input" id="id_end_date">
                {% for error in form.end_date.errors %}
                <p class="help is-danger">{{ error | escape }}</p>
                {% endfor %}
            </p>
        </div>
        <div class="column is-narrow">
            <p>
                <label class="label" for="id_active">Active:</label>
                {{ form.active }}
                {% for error in form.active.errors %}
                <p class="help is-danger">{{ error | escape }}</p>
                {% endfor %}
            </p>
        </div>
    </div>
    <hr aria-hidden="true">
    <p>
        <label class="label" for="id_preview">Preview:</label>
        {{ form.preview }}
        {% for error in form.preview.errors %}
        <p class="help is-danger">{{ error | escape }}</p>
        {% endfor %}
    </p>
    <p>
        <label class="label" for="id_content">Content:</label>
        {{ form.content }}
        {% for error in form.content.errors %}
        <p class="help is-danger">{{ error | escape }}</p>
        {% endfor %}
    </p>
    <p>
        <label class="label" for="id_event_date">Event date:</label>
        <input type="date" name="event_date" value="{{ form.event_date.value }}" class="input" id="id_event_date">
        {% for error in form.event_date.errors %}
        <p class="help is-danger">{{ error | escape }}</p>
        {% endfor %}
    </p>

    <div class="field has-addons">
        <div class="control">
            <button type="submit" class="button is-primary">{% trans "Save" %}</button>
        </div>
    </div>
</form>
{% endblock %}

