{% extends 'settings/admin_layout.html' %}
{% load i18n %}
{% block title %}{% trans "Federated Servers" %}{% endblock %}

{% block header %}{% trans "Federated Servers" %}{% endblock %}

{% block panel %}

<table class="table is-striped">
    <tr>
        <th>{% trans "Server name" %}</th>
        <th>{% trans "Software" %}</th>
        <th>{% trans "Status" %}</th>
    </tr>
    {% for server in servers %}
    <tr>
        <td><a href="{% url 'settings-federated-server' server.id %}">{{ server.server_name }}</a></td>
        <td>{{ server.application_type }} ({{ server.application_version }})</td>
        <td>{{ server.status }}</td>
    </tr>
    {% endfor %}
</table>

{% include 'snippets/pagination.html' with page=servers path=request.path %}
{% endblock %}
