{% extends 'settings/admin_layout.html' %}
{% load i18n %}

{% block header %}{% trans "Federated Servers" %}{% endblock %}

{% block panel %}

<table class="table is-striped">
    <tr>
        <th>{% trans "Server name" %}</th>
        <th>{% trans "Software" %}</th>
        <th>{% trans "Status" %}</th>
    </tr>
    {% for server in servers %}
    <tr>
        <td>{{ server.server_name }}</td>
        <td>{{ server.application_type }} ({{ server.application_version }})</td>
        <td>{{ server.status }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
