{% extends 'settings/admin_layout.html' %}
{% load i18n %}

{% block header %}{% trans "Reports" %}{% endblock %}

{% block panel %}
<div class="tabs">
    <ul>
        <li class="{% if filter == 'open' %}is-active{% endif %}"{% if filter == 'open' %} aria-current="page"{% endif %}>
            <a href="{% url 'settings-reports' %}?status=open">{% trans "Open" %}</a>
        </li>
        <li class="{% if filter == 'resolved' %}is-active{% endif %}"{% if filter == 'resolved' %} aria-current="page"{% endif %}>
            <a href="{% url 'settings-reports' %}?status=closed">{% trans "Resolved" %}</a>
        </li>
    </ul>
</div>

<div class="block">
    {% for report in reports %}
    <div class="block">
        {% include 'settings/report_preview.html' with report=report %}
    </div>
    {% endfor %}
</div>

{% endblock %}

