{% extends 'preferences/preferences_layout.html' %}
{% load i18n %}

{% block header %}
{% trans "Blocked Users" %}
{% endblock %}

{% block panel %}
{% if not request.user.blocks.exists %}
<p>{% trans "No users currently blocked." %}</p>
{% else %}
<ul>
{% for user in request.user.blocks.all %}
    <li class="is-flex">
        <p>
            {% include 'snippets/avatar.html' with user=user %} {% include 'snippets/username.html' with user=user %}
        </p>
        <p class="mr-2">
            {% include 'snippets/block_button.html' with user=user %}
        </p>
    </li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
