{% extends 'preferences/layout.html' %}
{% load i18n %}

{% block title %}{% trans "Blocked Users" %}{{ author.name }}{% endblock %}

{% block header %}
{% trans "Blocked Users" %}
{% endblock %}

{% block panel %}
{% if not request.user.blocks.exists %}
<p>{% trans "No users currently blocked." %}</p>
{% else %}
<ul>
{% for user in request.user.blocks.all %}
    <li class="is-flex">
        <p>
            <a href="{{ user.local_path }}">{% include 'snippets/avatar.html' with user=user %} {{ user.display_name }}</a>
        </p>
        <p class="mr-2">
            {% include 'snippets/block_button.html' with user=user blocks=True %}
        </p>
    </li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
