{% extends 'preferences/layout.html' %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block header %}
{% trans "Change Password" %}
{% endblock %}

{% block panel %}
{% if success %}
<div class="notification is-success is-light">
    <span class="icon icon-check" aria-hidden="true"></span>
    <span>
        {% trans "Successfully changed password" %}
    </span>
</div>
{% endif %}
<form name="edit-profile" action="{% url 'prefs-password' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="field">
        <label class="label" for="id_password">{% trans "Current password:" %}</label>
        {{ form.current_password }}
        {% include 'snippets/form_errors.html' with errors_list=form.current_password.errors id="desc_current_password" %}
    </div>
    <hr aria-hidden="true" />
    <div class="field">
        <label class="label" for="id_password">{% trans "New password:" %}</label>
        {{ form.password }}
        {% include 'snippets/form_errors.html' with errors_list=form.password.errors id="desc_current_password" %}
    </div>
    <div class="field">
        <label class="label" for="id_confirm_password">{% trans "Confirm password:" %}</label>
        {{ form.confirm_password }}
        {% include 'snippets/form_errors.html' with errors_list=form.confirm_password.errors id="desc_confirm_password" %}
    </div>
    <button class="button is-primary" type="submit">{% trans "Change Password" %}</button>
</form>
{% endblock %}
