{% extends 'preferences/layout.html' %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block header %}
{% trans "Change Password" %}
{% endblock %}

{% block panel %}
<form name="edit-profile" action="{% url 'prefs-password' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="block">
        <label class="label" for="id_password">{% trans "New password:" %}</label>
        <input type="password" name="password" maxlength="128" class="input" required="" id="id_password">
    </div>
    <div class="block">
        <label class="label" for="id_confirm_password">{% trans "Confirm password:" %}</label>
        <input type="password" name="confirm-password" maxlength="128" class="input" required="" id="id_confirm_password">
    </div>
    <button class="button is-primary" type="submit">{% trans "Change Password" %}</button>
</form>
{% endblock %}
