{% extends 'preferences/layout.html' %}
{% load i18n %}

{% block title %}{% trans "Export Book List" %}{% endblock %}

{% block header %}
{% trans "Export Book List" %}
{% endblock %}

{% block panel %}
<div class="block content">
    <p class="notification">
        {% trans "Your CSV export file will include all the books on your shelves, books you have reviewed, and books with reading activity. <br/>Use this to import into a service like Goodreads." %}
    </p>
    <p>
        <form name="export" method="POST" href="{% url 'prefs-export' %}">
            {% csrf_token %}
            <button type="submit" class="button">
                <span class="icon icon-download" aria-hidden="true"></span>
                <span>{% trans "Download file" %}</span>
            </button>
        </form>
    </p>
</div>
{% endblock %}
