{% extends 'preferences/layout.html' %}
{% load i18n %}

{% block title %}{% trans "User Export" %}{% endblock %}

{% block header %}
{% trans "User Export" %}
{% endblock %}

{% block panel %}
<div class="block content">
    <p class="notification">
        {% trans "Your exported archive file will include all user data for import into another Bookwyrm server" %}
    </p>
    {% if next_available %}
    <p class="notification is-warning">
        {% blocktrans trimmed %}
        You will be able to create a new export file at {{ next_available }}
        {% endblocktrans %}
    </p>
    {% else %}
    <form name="export" method="POST" href="{% url 'prefs-user-export' %}">
        {% csrf_token %}
        <button type="submit" class="button">
            <span class="icon icon-download" aria-hidden="true"></span>
            <span>{% trans "Create user export file" %}</span>
        </button>
    </form>
    {% endif %}

</div>
<div class="content block">
    <h2 class="title">{% trans "Recent Exports" %}</h2>
    <p class="content">
    {% trans "User export files will show 'complete' once ready. This may take a little while. Click the link to download your file." %}
    </p>
    <div class="table-container">
        <table class="table is-striped is-fullwidth">
            <tr>
                <th>
                    {% trans "Date" %}
                </th>
                <th colspan="2">
                    {% trans "Status" %}
                </th>
            </tr>
            {% if not jobs %}
            <tr>
                <td colspan="4">
                    <em>{% trans "No recent imports" %}</em>
                </td>
            </tr>
            {% endif %}
            {% for job in jobs %}
            <tr>
                <td>{{ job.updated_date }}</td>
                <td>
                    <span
                        {% if job.status == "stopped" or job.status == "failed" %}
                        class="tag is-danger"
                        {% elif job.status == "pending" %}
                        class="tag is-warning"
                        {% elif job.complete %}
                        class="tag"
                        {% else %}
                        class="tag is-success"
                        {% endif %}
                    >
                        {% if job.status %}
                        {{ job.status }}
                            {{ job.status_display }}
                        {% elif job.complete %}
                            {% trans "Complete" %}
                        {% else %}
                            {% trans "Active" %}
                        {% endif %}
                    </span>
                    {% if job.complete and not job.status == "stopped" and not job.status == "failed" %}
                </td>
                <td>
                    <p>
                        <a download="" href="/preferences/user-export/{{ job.task_id }}">
                            <span class="icon icon-download" aria-hidden="true"></span>
                            <span class="is-hidden-mobile">
                                {% trans "Download your export" %}
                            </span>
                        </a>
                    </p>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% include 'snippets/pagination.html' with page=jobs path=request.path %}
</div>
{% endblock %}
