{% load fr_display %}

<div class="all-shelves content-container">
    {% for shelf in shelves %}
    {% if shelf.books %}
    <div>
        <h2>{{ shelf.name }}
            {% if shelf.size > shelf.books|length %}
            <small>(<a href="/shelf/{{ user | username }}/{{ shelf.identifier }}">See all {{ shelf.size }}</a>)</small>
            {% endif %}
        </h2>
        <div class="covers-shelf {{ shelf.identifier }}">
            {% for book in shelf.books %}
            <div class="book-preview" onclick="show_compose(this)" id="book-{{ book.id }}">
                {% include 'snippets/book_cover.html' with book=book %}
                {% include 'snippets/shelve_button.html' with book=book %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% for shelf in shelves %}
    {% for book in shelf.books %}
<div class="compose-suggestion" id="compose-book-{{ book.id }}">
    <span class="close icon icon-close" onclick="hide_element(this)">
        <span class="hidden-text">Close</span>
    </span>
    <div class="content-container">
        {% include 'snippets/create_status.html' with book=book user=request.user %}
    </div>
</div>
    {% endfor %}
{% endfor %}
