{% load humanize %}
{% load fr_display %}

<h2>
    {% include 'snippets/avatar.html' with user=user %}
    Your thoughts on
    <a href="/book/{{ book.openlibrary_key }}">{{ book.title }}</a>
    by {% include 'snippets/authors.html' with book=book %}
</h2>

<div class="tabs secondary">
    <div class="tab active">
        Review
    </div>
    <div class="tab">
        Comment
    </div>
    <div class="tab">
        Quote
    </div>
</div>

<div class="book-preview">
    {% include 'snippets/book_cover.html' with book=book %}
    <form class="review-form" name="review" action="/review/" method="post">
        {% csrf_token %}
        {# TODO: this shouldn't use the openlibrary key #}
        <input type="hidden" name="book" value="{{ book.openlibrary_key }}"></input>
        {{ review_form.as_p }}
        <button type="submit">Post review</button>
    </form>
</div>
