{% if request.user == user %}
{% elif request.user in user.follower_requests.all %}
<div>
Follow request already sent.
</div>
{% elif not request.user in user.followers.all %}
<form action="/follow/" method="post">
    {% csrf_token %}
    <input type="hidden" name="user" value="{{ user.username }}"></input>
    {% if user.manually_approves_followers %}
        <button type="submit">Send follow request</button>
    {% else %}
        <button type="submit">Follow</button>
    {% endif %}
</form>
{% else %}
<form action="/unfollow/" method="post">
    {% csrf_token %}
    <input type="hidden" name="user" value="{{ user.username }}"></input>
    <button type="submit">Unfollow</button>
</form>
{% endif %}
