{% load fr_display %}
<div class="interaction">

    <form name="comment" action="/comment" method="post" onsubmit="return comment(e_">
        {% csrf_token %}
        <input type="hidden" name="parent" value="{{ activity.id }}"></input>
        <textarea name="content" placeholder="Leave a comment..." id="id_content" required="true"></textarea>
        <button type="submit" class="comment">
            <span class="icon icon-comment">
                <span class="hidden-text">Comment</span>
            </span>
        </button>
    </form>

    <form name="boost" action="/boost/{{ activity.id }}" method="POST" onsubmit="return interact(event)" class="{% if False %}active{% endif %}">
        {% csrf_token %}
        <button type="submit">
            <span class="icon icon-boost">
                <span class="hidden-text">Boost status</span>
            </span>
        </button>
    </form>

    <form name="favorite" action="/favorite/{{ activity.id }}" method="POST" onsubmit="return interact(event)" class="{% if request.user|liked:status %}active{% endif %}">
        {% csrf_token %}
        <button type="submit">
            <span class="icon icon-heart">
                <span class="hidden-text">Like status</span>
            </span>
        </button>
    </form>
</div>

