{% load humanize %}
{% load fr_display %}
{% if shelf.books %}
<table>
<tr class="book-preview">
    <th>
        Cover
    </th>
    <th>
        Title
    </th>
    <th>
        Author
    </th>
    <th>
        Published
    </th>
    <th>
        Shelved
    </th>
    <th>
        Started
    </th>
    <th>
        Finished
    </th>
    <th>
        External links
    </th>
    {% if ratings %}
    <th>
        Rating
    </th>
    {% endif %}
</tr>
{% for book in shelf.books.all %}
<tr class="book-preview">
    <td>
        {% include 'snippets/book_cover.html' with book=book size="small" %}
    </td>
    <td>
        <a href="/book/{{ book.id }}">{{ book.title }}</a>
    </td>
    <td>
        {{ book.authors.first.display_name }}
    </td>
    <td>
        {% if book.first_published_date %}{{ book.first_published_date }}{% endif %}
    </td>
    <td>
        {{ book.created_date | naturalday }}
    </td>
    {% latest_read_through book user as read_through %}
    <td>
        {{ read_through.start_date | naturalday |default_if_none:""}}
    </td>
    <td>
        {{ read_through.finish_date | naturalday |default_if_none:""}}
    </td>
    <td>
        <a href="https://openlibrary.org/book/{{ book.openlibrary_key }}" target="_blank">OpenLibrary</a>
    </td>
    {% if ratings %}
    <td>
        {% include 'snippets/stars.html' with rating=ratings|dict_key:book.id %}
    </td>
    {% endif %}
</tr>
{% endfor %}
</table>
{% else %}
<p>This shelf is empty.</p>
{% endif %}

