{% load fr_display %}

{% if status.status_type == 'Review' and not status.name or not status.content %}
<div class="post rating">
    <h2>
        {% include 'snippets/status_header.html' with status=status %}
        {% include 'snippets/stars.html' with book=book rating=status.rating %}
    </h2>
</div>

{% else %}

<div class="post {{ status.status_type | lower }} depth-{{ depth }} {% if main %}main{% else %}reply{% endif %}">

    <h2>
    {% if status.boosted_status %}
        {% include 'snippets/status_header.html' with status=status.boosted_status %}
        <small class="subhead">{% include 'snippets/status_header.html' with status=status %}</small>
    {% else %}
        {% include 'snippets/status_header.html' with status=status %}
    {% endif %}
    </h2>

    <div class="status-content">
        {% include 'snippets/status_content.html' with status=status %}
    </div>

</div>
{% if status.status_type == 'Boost' %}
{% include 'snippets/interaction.html' with activity=status|boosted_status %}
{% else %}
{% include 'snippets/interaction.html' with activity=status %}
{% endif %}

{% endif %}
