{% load fr_display %}

{% if not hide_book and status.mention_books.count %}
    <div class="row">
    {% for book in status.mention_books.all|slice:"0:4" %}
        <div class="row">
            <div class="cover-container">
                {% include 'snippets/book_cover.html' with book=book %}
                {% if status.mention_books.count > 1 %}
                <p>{% include 'snippets/book_titleby.html' with book=book %}</p>
                {% endif %}
                {% include 'snippets/rate_action.html' with book=book user=request.user %}
                {% include 'snippets/shelve_button.html' with book=book %}
            </div>
            {% if status.mention_books.count == 1 %}
            <div>
                <p>{% include 'snippets/book_titleby.html' with book=book %}</p>
                {% include 'snippets/book_description.html' with book=book %}
            </div>
            {% endif %}
        </div>
    {% endfor %}
    </div>
{% endif %}

<div class="row">
    {% if not hide_book and status.book %}
    <div class="cover-container">
        {% include 'snippets/book_cover.html' with book=status.book %}
        {% include 'snippets/rate_action.html' with book=status.book user=request.user %}
        {% include 'snippets/shelve_button.html' with book=status.book %}
    </div>
    {% endif %}

    <div>
        {% if status.status_type == 'Review' %}
        <h3>
            {% if status.name %}{{ status.name }}<br>{% endif %}
            {% include 'snippets/stars.html' with rating=status.rating %}
        </h3>
        {% endif %}

        {% if status.quote %}
        <div class="quote">
            <blockquote>{{ status.quote }}</blockquote>

            <p> &mdash; {% include 'snippets/book_titleby.html' with book=status.book %}</p>
        </div>
        {% endif %}

        {% if status.content and  status.status_type != 'Update' and status.status_type != 'Boost' %}
            <blockquote>{{ status.content | safe }}</blockquote>
        {% endif %}

        {% if not status.content and status.book and not hide_book and status.status_type != 'Boost' %}
            {% include 'snippets/book_description.html' with book=status.book %}
        {% endif %}

        {% if status.status_type == 'Boost' %}
            {% include 'snippets/status_content.html' with status=status|boosted_status %}
        {% endif %}

        {% if not max_depth and status.reply_parent or status|replies %}<p><a href="{{ status.absolute_id }}">Thread</a>{% endif %}
    </div>
</div>

