<div class="tag">
    <a href="/tag/{{ tag.identifier|urlencode }}">{{ tag.name }}</a>
    {% if tag.identifier in user_tags %}
    <form class="tag-form" name="tag" action="/untag/" method="post">
        {% csrf_token %}
        <input type="hidden" name="book" value="{{ book.openlibrary_key }}"></input>
        <input type="hidden" name="name" value="{{ tag.name }}"></input>
        <button type="submit">x</button>
    </form>
    {% else %}
    <form class="tag-form" name="tag" action="/tag/" method="post">
        {% csrf_token %}
        <input type="hidden" name="book" value="{{ book.openlibrary_key }}"></input>
        <input type="hidden" name="name" value="{{ tag.name }}"></input>
        <button type="submit">+</button>
    </form>
    {% endif %}
</div>


