/* some colors that are okay: #247BA0 #70C1B2 #B2DBBF #F3FFBD #FF1654 */
* {
    margin: 0;
    padding: 0;
    line-height: 1.3em;
    font-family: sans-serif;
}

html {
    background-color: #FFF;
    color: black;
}
body {
    padding-top: 90px;
}


a {
    color: #247BA0;
}

input, button {
    padding: 0.2em 0.5em;
}
button {
    cursor: pointer;
    width: max-content;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
    padding: 0.5rem 0.2rem;
    margin-bottom: 1rem;
}

#top-bar {
    overflow: visible;
    padding: 0.5rem;
    border-bottom: 3px solid #247BA0;
    margin-bottom: 1em;
    width: 100%;
    background-color: #FFF;
    position: fixed;
    top: 0;
    height: 47px;
    z-index: 1;
}

#warning {
    background-color: #FF1654;
    text-align: center;
}

#branding a {
    text-decoration: none;
}
#actions {
    margin-top: 1em;
}

#actions > * {
    display: inline-block;
}

#notifications .icon {
    font-size: 1.1rem;
}
#notifications a {
    color: black;
    text-decoration: none;
    position: relative;
    top: 0.2rem;
}
#notifications .count {
    background-color: #FF1654;
    color: white;
    font-size: 0.85rem;
    border-radius: 50%;
    display: block;
    position: absolute;
    text-align: center;
    top: -0.65rem;
    right: -0.5rem;
    height: 1rem;
    width: 1rem;
}

button .icon {
    font-size: 1.1rem;
    vertical-align: sub;
}
#search button {
    border: none;
}

#main, header {
    margin: 0 auto;
    max-width: 55rem;
    padding-right: 1em;
}
header {
    display: flex;
    flex-direction: row;
}

ul.menu {
    list-style: none;
    text-align: center;
    margin-top: 1.5rem;
    flex-grow: 1;
    font-size: 0.9em;
}
ul.menu li {
    display: inline-block;
    background-color: white;
    padding: 0 0.5em;
    text-transform: uppercase;
}
ul.menu a {
    color: #555;
    text-decoration: none;
    font-size: 0.9em;
}

.pulldown-container {
    position: relative;
}
.pulldown {
    display: none;
    position: absolute;
    list-style: none;
    background: white;
    padding: 1em;
    right: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    width: max-content;
}
.pulldown-container:hover .pulldown {
    display: block;
}
.pulldown li {
    margin-bottom: 0.5em;
}

#feed {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    position: relative;
    top: -50px;
}

.row {
    display: flex;
    flex-direction: row;
}
.row > * {
    flex-grow: 1;
    width: min-content;
}

.login form {
    margin-top: 1em;
}
.login form p {
    display: flex;
    flex-direction: row;
    padding: 0.5em 0;
}
.login form label {
    width: 0;
    flex-grow: 1;
    display: inline-block;
}
form input {
    flex-grow: 1;
}
.content-container button {
    border: none;
    background-color: #247BA0;
    color: white;
    padding: 0.3em 0.8em;
    font-size: 0.9em;
    border-radius: 0.3em;
}
button.secondary {
    background-color: #EEE;
    border: 2px solid #247BA0;
    color: #247BA0;
}

.login h2 {
    border-bottom: 3px solid #B2DBBF;
}

.tabs {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #FF1654;
    padding-left: 1em;
}
.tabs.secondary {
    border-bottom: 3px solid #247BA0;
}
.tab {
    padding: 0.5em 1em;
    border-radius: 0.25em 0.25em 0 0;
}
.secondary .tab {
    padding: 0.25em 0.5em;
}
.tabs .tab.active {
    background-color: #FF1654;
}
.tabs.secondary .tab.active {
    background-color: #247BA0;
}
.tab.active a {
    color: black;
}

.user-pic {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    vertical-align: top;
    position: relative;
    bottom: 0.35em;
}

.review-form label {
    display: block;
}

.time-ago {
    float: right;
    display: block;
}

.book-preview {
    overflow: hidden;
}

.book-preview img {
    float: left;
    margin-right: 1em;
}

.book-preview.grid {
    float: left;
}

.content-container {
    margin: 1rem;
}
.content-container > * {
    padding-left: 1em;
    padding-right: 1em;
}

.all-shelves {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    margin-left: 0;
}
.all-shelves > div {
    flex-grow: 0;
}
.all-shelves > div:last-child {
    padding-right: 0;
    flex-grow: 1;
}
.all-shelves > div > * {
    padding: 0;
}
.all-shelves > div:first-child > * {
    padding-left: 1em;
}
.all-shelves h2 {
    border-bottom: 3px solid #B2DBBF;
}

.covers-shelf {
    display: flex;
    flex-direction: row;
}
.covers-shelf .book-preview {
    margin-right: 1em;
    font-size: 0.9em;
    overflow: unset;
    width: min-content;
    position: relative;
}
.covers-shelf .book-preview button {
    display: block;
    margin: 0 auto;
    border: none;
}
.covers-shelf .book-preview:last-child {
    margin-right: 0;
}
.covers-shelf .book-preview:hover {
    cursor: pointer;
}
.covers-shelf .book-preview:hover img {
    box-shadow: #F3FFBD 0em 0em 1em 1em;
}
.covers-shelf .book-cover {
    float: none;
    height: 11rem;
    width: auto;
    margin: 0;
}

.close {
    float: right;
    cursor: pointer;
    padding: 1rem;
}

.compose-suggestion {
    display: none;
}
.compose-suggestion.visible {
    display: block;
}

.no-cover {
    position: relative;
}
.no-cover div {
    position: absolute;
    padding: 1em;
    color: white;
    top: 0;
    left: 0;
    text-align: center;
}
.no-cover .title {
    text-transform: uppercase;
    margin-bottom: 1em;
}
.book-cover {
    width: 180px;
}
.book-cover.small {
    width: 50px;
    height: auto;
}
.compose-suggestion .book-preview {
    background-color: #EEE;
    padding: 1em;
}

.tag {
    border: 1px solid black;
    display: inline-block;
    padding: 0.2em;
    border-radius: 0.2em;
    background-color: #F3FFBD;
}
.tag form {
    display: inline;
}

.review-form textarea {
    width: 30rem;
    height: 10rem;
}

blockquote {
    white-space: pre-wrap;
}

.interaction {
    background-color: #B2DBBF;
    border-radius: 0 0 0.5em 0.5em;
    display: flex;
    flex-direction: row;
    padding: 0.5em;
}
.interaction > * {
    margin-right: 0.5em;
}
.interaction button:hover {
    box-shadow: #247BA0 0em 0em 1em 0em;
    color: #247BA0;
}
.interaction .active button:hover .icon {
    color: #888;
}
.interaction button {
    background: white;
    height: 2em;
    min-width: 3em;
    padding: 0;
    color: #888;
}
.interaction .active button .icon {
    color: #FF1654;
}
.interaction textarea {
    height: 2em;
    width: 23em;
    float: left;
    padding: 0.25em;
    margin-right: 0.5em;
}
.interaction textarea:valid, .interaction textarea:focus {
    height: 4em;
}

table {
    border-collapse: collapse;
    margin: 1em;
}
tr {
    vertical-align: top;
}

tr:nth-child(even) {
    background-color: #DDD;
}

th {
    font-weight: bold;
}
th, td {
    padding: 1em;
    text-align: left;
}

.errorlist {
    list-style: none;
    font-size: 0.8em;
    color: #FF1654;
}

.comment-thread .reply h2 {
    background: none;
}
.post {
    background-color: #EFEFEF;
    padding-top: 1em;
    padding-bottom: 1em;
}
.post h2, .compose-suggestion h2 {
    position: relative;
    right: 2em;
}
.post .time-ago {
    position: relative;
    left: 2em;
}
.post .user-pic, .compose-suggestion .user-pic {
    right: 0.25em;
}

.comment-thread .post {
    margin-left: 4em;
    border-left: 2px solid #247BA0;
}
.comment-thread .post.depth-1 {
    margin-left: 0;
    border: none;
}
.comment-thread .post.depth-2 {
    margin-left: 1em;
}
.comment-thread .post.depth-3 {
    margin-left: 2em;
}
.comment-thread .post.depth-4 {
    margin-left: 3em;
}

.unread {
    background-color: #DDD;
}

.hidden-text {
    height: 0;
    width: 0;
    position: absolute;
    overflow: hidden;
}
