/* some colors that are okay: #247BA0 #70C1B2 #B2DBBF #F3FFBD #FF1654 */
* {
    margin: 0;
    padding: 0;
    line-height: 1.3em;
    font-family: sans-serif;
}

html {
    background-color: #FFF;
    color: black;
}

a {
    color: #00F;
}

a:visited {
    color: #808;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
    background-color: #B2DBBF;
    padding: 0.5rem 0.2rem;
    margin-bottom: 1rem;
    height: 1rem;
}

#top-bar {
    background-color: #70C1B3;
    overflow: hidden;
    padding: 0.5rem;
}

#warning {
    background-color: #FF1654;
    text-align: center;
}


#branding, #actions {
    margin: 0 1rem;
}
#branding {
    flex-grow: 1;
    font-size: 2rem;
}
#branding a {
    text-decoration: none;
    color: black;
}
#actions {
    flex-grow: 0;
    text-align: right;
}

#main, header > div {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    max-width: 75rem;
    width: 100%;
}

#feed, #content, #sidebar {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 1rem 0;
}

#sidebar {
    min-width: 20rem;
    margin-right: 0;
}

#feed-tabs {
    display: flex;
    flex-direction: row;
}
.active {
    background-color: #FF1654;
}

.user-pic {
    width: 2rem;
    height: auto;
    border-radius: 50%;
    vertical-align: top;
    position: relative;
    bottom: 0.5em;
}

.time-ago {
    float: right;
    display: block;
}

.book-preview {
    overflow: auto;
}

.book-preview img {
    float: left;
    margin-right: 1em;
}

.book-cover.small {
    width: 50px;
    height: auto;
}

#content > div, #feed > div, #sidebar > div {
    background-color: #EFEFEF;
    margin: 1rem 0 0 1rem;
}
#content > div > *, #feed > div > *, #sidebar > div > * {
    padding: 1rem;
}

.tag {
    border: 1px solid black;
    display: inline-block;
    padding: 0.2em;
    border-radius: 0.2em;
    background-color: #F3FFBD;
}
.tag form {
    display: inline;
}

.review-form textarea {
    width: 30rem;
    height: 10rem;
}
.review {
    margin-bottom: 1rem;
}

small {
    display: block;
}

blockquote {
    white-space: pre-wrap;
}

.interaction {
    background-color: #F3FFBD;
    clear: both;
    margin-top: 1rem;
}

table {
    border-collapse: collapse;
    margin: 1em;
}
tr {
    vertical-align: top;
}

tr:nth-child(even) {
    background-color: #DDD;
}

th {
    font-weight: bold;
}
th, td {
    padding: 1em;
    text-align: left;
}

.errorlist {
    list-style: none;
    font-size: 0.8em;
    color: #FF1654;
}
