{% load bookwyrm_tags %}
{% load utilities %}
{% load i18n %}

{% with next_shelf_identifier=active_shelf.shelf.identifier|next_shelf %}

<div
    class="{% if next_shelf_identifier != 'complete' %}is-hidden{% endif %}"
    data-shelf-identifier="complete"
>
    <button type="button" class="button {{ class }}" disabled>
        <span>{% trans "Read" %}</span>
    </button>
</div>

{% for shelf in shelves %}
    <div
        class="{% if next_shelf_identifier != shelf.identifier %}is-hidden{% endif %}"
        data-shelf-identifier="{{ shelf.identifier }}"
        data-shelf-next="{{ shelf.identifier|next_shelf }}"
    >
    {% if shelf.identifier == 'reading' %}

            {% trans "Start reading" as button_text %}
            {% url 'reading-status' 'start' book.id as fallback_url %}
            {% include 'snippets/toggle/toggle_button.html' with class=class text=button_text controls_text="start_reading" controls_uid=button_uuid focus="modal_title_start_reading" fallback_url=fallback_url %}

    {% elif shelf.identifier == 'read' %}

            {% trans "Finish reading" as button_text %}
            {% url 'reading-status' 'finish' book.id as fallback_url %}
            {% include 'snippets/toggle/toggle_button.html' with class=class text=button_text controls_text="finish_reading" controls_uid=button_uuid focus="modal_title_finish_reading" fallback_url=fallback_url %}

    {% elif shelf.identifier == 'to-read' %}

            {% trans "Want to read" as button_text %}
            {% url 'reading-status' 'want' book.id as fallback_url %}
            {% include 'snippets/toggle/toggle_button.html' with class=class text=button_text controls_text="want_to_read" controls_uid=button_uuid focus="modal_title_want_to_read" fallback_url=fallback_url %}

    {% elif shelf.editable %}

        <form name="shelve" action="/shelve/" method="post">
            {% csrf_token %}
            <input type="hidden" name="book" value="{{ active_shelf.book.id }}">
            <button class="button {{ class }}" name="shelf" type="submit" value="{{ shelf.identifier }}" {% if shelf in book.shelf_set.all %} disabled {% endif %}>
                <span>{{ shelf.name }}</span>
            </button>
        </form>

    {% endif %}
    </div>
{% endfor %}

{% endwith %}
