{% extends 'components/modal.html' %}
{% load i18n %}

{% block modal-title %}
{% blocktrans trimmed with book_title=book.title %}
Start "<em>{{ book_title }}</em>"
{% endblocktrans %}
{% endblock %}

{% block modal-form-open %}
<form name="start-reading" action="{% url 'reading-status' 'start' book.id %}" method="post">
{% endblock %}

{% block modal-body %}
<section class="modal-card-body">
    {% csrf_token %}
    <div class="field">
        <label class="label" for="start_id_start_date-{{ uuid }}">
            {% trans "Started reading" %}
        </label>
        <input type="date" name="start_date" class="input" id="start_id_start_date-{{ uuid }}" value="{% now "Y-m-d" %}">
    </div>
</section>
{% endblock %}

{% block modal-footer %}
<div class="columns">
    <div class="column field">
        <label for="post_status_start-{{ uuid }}">
            <input type="checkbox" name="post-status" class="checkbox" id="post_status_start-{{ uuid }}" checked>
            {% trans "Post to feed" %}
        </label>
        {% include 'snippets/privacy_select.html' %}
    </div>
    <div class="column has-text-right">
        <button class="button is-success" type="submit">{% trans "Save" %}</button>
        {% trans "Cancel" as button_text %}
        {% include 'snippets/toggle/toggle_button.html' with text=button_text controls_text="start-reading" controls_uid=uuid %}
    </div>
</div>
{% endblock %}
{% block modal-form-close %}</form>{% endblock %}
