{% extends 'user/relationships/layout.html' %}
{% load utilities %}
{% load i18n %}

{% block title %}
    {% trans "Following" %} - {{ user|username }}
{% endblock %}

{% block header %}
<h1 class="title">
    {% trans "Following" %}
</h1>
{% endblock %}

{% block breadcrumbs %}
<nav class="breadcrumb subtitle" aria-label="breadcrumbs">
    <ul>
        <li><a href="{% url 'user-feed' user|username %}">{% trans "User profile" %}</a></li>
        <li class="is-active">
            <a href="#" aria-current="page">
                {% trans "Following" %}
            </a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block nullstate %}
<div>
    <em>{% blocktrans with username=user.display_name %}{{ username }} isn't following any users{% endblocktrans %}</em>
</div>
{% endblock %}

