<section class="level is-mobile">
    <div class="level-item has-text-centered">
        <div>
            <p class="title has-text-weight-normal"><span class="icon icon-graphic-paperplane"></span></p>
            <p class="heading">Decentralized</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="title has-text-weight-normal"><span class="icon icon-graphic-heart"></span></p>
            <p class="heading">Friendly</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="title has-text-weight-normal"><span class="icon icon-graphic-banknote"></span></p>
            <p class="heading">Anti-Corporate</p>
        </div>
    </div>
</section>

