{% extends 'layout.html' %}
{% load humanize %}
{% load bookwyrm_tags %}
{% block content %}

<header class="block has-text-centered">
    <h1 class="title">{{ site.name }}</h1>
    <h2 class="subtitle">{{ site.instance_tagline }}</h2>
</header>

{% include 'discover/icons.html' %}

<section class="tile is-ancestor">
    <div class="tile is-7 is-parent">
        <div class="tile is-child box">
            {% include 'snippets/about.html' %}
        </div>
    </div>
    <div class="tile is-5 is-parent">
        {% if not request.user.is_authenticated %}
        <div class="tile is-child box has-background-primary-light content">
            {% if site.allow_registration %}
            <h2 class="title">Join {{ site.name }}</h2>
            <form name="register" method="post" action="/register">
                {% include 'snippets/register_form.html' %}
            </form>
            {% else %}
            <h2 class="title">This instance is closed</h2>
            <p>{{ site.registration_closed_text | safe}}</p>
            {% endif %}
        </div>
        {% else %}
        <div class="tile is-child box has-background-white-bis">
            <h2 class="title is-4">Your Account</h2>
            <div class="media block">
                <div class="media-left">
                    <a href="{{ user.local_path }}">
                    {% include 'snippets/avatar.html' with user=user large=True %}
                    </a>
                </div>
                <div class="media-content">
                    <p>{% if user.name %}{{ user.name }}{% else %}{{ user.localname }}{% endif %}</p>
                    <p><a href="{{ user.remote_id }}">{{ user.username }}</a></p>
                    <p>Joined {{ user.created_date | naturaltime }}</p>
                    <p>
                        <a href="{{ user.local_path }}/followers">{{ user.followers.count }} follower{{ user.followers.count | pluralize }}</a>,
                        <a href="{{ user.local_path }}/following">{{ user.following.count }} following</a>
                    </p>
                </div>
            </div>
            <div class="box content">
                {% if user.summary %}
                {{ user.summary | to_markdown | safe }}
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</section>

{% block panel %}{% endblock %}

{% endblock %}
