{% load rating_tags %}
{% load i18n %}
{% load utilities %}
{% load status_display %}

{% if status.book or status.mention_books.exists %}
    {% load_book status as book %}
    <div class="columns is-gapless">
        <div class="column is-6-tablet is-cover">
            <a
                class="align to-b to-l"
                href="{{ book.local_path }}"
            >{% include 'snippets/book_cover.html' with cover_class='is-w-l-mobile is-w-auto-tablet' size='xxlarge' %}</a>

            {% include 'snippets/stars.html' with rating=book|rating:request.user %}
            <h3 class="title is-6">
                <a href="{{ book.local_path }}">{{ book|book_title }}</a>
            </h3>

            {% if book.authors %}
            <p class="subtitle is-6 mb-2">
                {% trans "by" %}
                {% include 'snippets/authors.html' with limit=3 %}
            </p>
            {% endif %}

            {% include 'snippets/shelve_button/shelve_button.html' %}
        </div>

        <div class="column mt-3-mobile ml-3-tablet">
            <div class="media block mb-2">
                <figure class="media-left" aria-hidden="true">
                    <a class="image is-48x48" href="{{ status.user.local_path }}" tabindex="-1">
                        {% include 'snippets/avatar.html' with user=status.user ariaHide="true" medium="true" %}
                    </a>
                </figure>
                <div class="media-content">
                    <h3 class="title is-6">
                        {% include "discover/card-header.html" %}
                    </h3>
                </div>
            </div>

            <div class="block">
                {% include 'snippets/follow_button.html' with user=status.user show_username=True minimal=True %}
            </div>

            <div class="notification has-background-body p-2 mb-2 clip-text">
                {% include "snippets/status/content_status.html" with hide_book=True trim_length=70 hide_more=True %}
            </div>
            <a href="{{ status.remote_id }}">
                <span>{% trans "View status" %}</span>
                <span class="icon icon-arrow-right" aria-hidden="true"></span>
            </a>
        </div>
    </div>
{% endif %}
