{% load bookwyrm_tags %}
{% load utilities %}
{% load i18n %}

{% if status %}
    {% with book=status.book %}
        <a href="{{ book.local_path }}">
            {% include 'snippets/book_cover.html' with cover_class='is-w-l-mobile is-h-l-tablet is-w-auto align to-b to-l' %}
        </a>

        {% include 'snippets/stars.html' with rating=book|rating:request.user %}

        <h3 class="title is-6">
            <a href="{{ book.local_path }}">{{ book.title }}</a>
        </h3>

        {% if book.authors %}
            <p class="subtitle is-6">
                {% trans "by" %}
                {% include 'snippets/authors.html' with limit=3 %}
            </p>
        {% endif %}

        <div class="media">
            <figure class="media-left" aria-hidden="true">
                <a class="image is-48x48" href="{{ status.user.local_path }}">
                    {% include 'snippets/avatar.html' with user=status.user ariaHide="true" medium="true" %}
                </a>
            </figure>

            <div class="media-content">
                <h3 class="has-text-weight-bold">
                    <a href="{{ status.user.local_path }}">
                        <span>{{ status.user.display_name }}</span>
                    </a>
                </h3>
            </div>
        </div>

    {% endwith %}
{% endif %}
