
{% load bookwyrm_tags %}
{% load i18n %}

{% if book %}
    {% with book=book %}
        <a href="{{ book.local_path }}">
            {% include 'snippets/book_cover.html' with cover_class='is-w-l-mobile is-h-l-tablet is-w-auto align to-b to-l' %}
        </a>

        {% include 'snippets/stars.html' with rating=book|rating:request.user %}

        <h3 class="title is-6">
            <a href="{{ book.local_path }}">{{ book.title }}</a>
        </h3>

        {% if book.authors %}
            <p class="subtitle is-6">
                {% trans "by" %}
                {% include 'snippets/authors.html' %}
            </p>
        {% endif %}
    {% endwith %}
{% endif %}
