html {
    scroll-behavior: smooth;
    scroll-padding-top: 20%;
}

/* --- --- */
.image {
    overflow: hidden;
}
.navbar .logo {
    max-height: 50px;
}

.card {
    overflow: visible;
}

.scroll-x {
    overflow: hidden;
    overflow-x: auto;
}

/* --- SHELVING --- */
.shelf-option:disabled > *::after {
    font-family: "icomoon";
    content: "\e918";
    margin-left: 0.5em;
}

/* --- TOGGLES --- */
.toggle-button[aria-pressed=true], .toggle-button[aria-pressed=true]:hover {
    background-color: hsl(171, 100%, 41%);
    color: white;
}
.hide-active[aria-pressed=true], .hide-inactive[aria-pressed=false] {
    display: none;
}

.hidden {
    display: none !important;
}
.hidden.transition-y, .hidden.transition-x {
    display: block !important;
    visibility: hidden !important;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
}
.transition-y {
    transition-property: height, margin-top, margin-bottom, padding-top, padding-bottom;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
.transition-x {
    transition-property: width, margin-left, margin-right, padding-left, padding-right;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
@media (prefers-reduced-motion: reduce) {
    .transition-x, .transition-y {
        transition-duration: 0.001ms !important;
    }
}

/* --- STARS --- */
.rate-stars button.icon {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: inline;
}
.rate-stars:hover .icon:before {
    content: '\e9d9';
}
.rate-stars form:hover ~ form .icon:before{
    content: '\e9d7';
}

/* stars in a review form */
.form-rate-stars:hover .icon:before {
    content: '\e9d9';
}
.form-rate-stars input + .icon:before {
    content: '\e9d9';
}
.form-rate-stars input:checked + .icon:before {
    content: '\e9d9';
}
.form-rate-stars input:checked + * ~ .icon:before {
    content: '\e9d7';
}
.form-rate-stars:hover label.icon:before {
    content: '\e9d9';
}
.form-rate-stars label.icon:hover:before {
    content: '\e9d9';
}
.form-rate-stars label.icon:hover ~ label.icon:before{
    content: '\e9d7';
}


/* --- BOOK COVERS --- */
.cover-container {
    height: 250px;
    width: max-content;
    max-width: 250px;
}
.cover-container.is-large {
    height: max-content;
    max-width: 330px;
}
.cover-container.is-large img {
    max-height: 500px;
    height: auto;
}
.cover-container.is-medium {
    height: 150px;
}
.cover-container.is-small {
    height: 100px;
}
@media only screen and (max-width: 768px) {
    .cover-container {
        height: 200px;
        width: max-content;
    }
    .cover-container.is-medium {
        height: 100px;
    }
}

.cover-container.is-medium .no-cover div {
    font-size: 0.9em;
    padding: 0.3em;
}
.cover-container.is-small .no-cover div {
    font-size: 0.7em;
    padding: 0.1em;
}
.book-cover {
    height: 100%;
    object-fit: scale-down;
}
.no-cover {
    position: relative;
    white-space: normal;
}
.no-cover div {
    position: absolute;
    padding: 1em;
    color: white;
    top: 0;
    left: 0;
    text-align: center;
}


/* --- AVATAR --- */
.avatar {
    vertical-align: middle;
    display: inline;
}
.is-32x32 {
    min-width: 32px;
    min-height: 32px;
}
.is-96x96 {
    min-width: 96px;
    min-height: 96px;
}



/* --- QUOTES --- */
.quote blockquote {
    position: relative;
    padding-left: 2em;
}
.quote blockquote:before, .quote blockquote:after {
    font-family: 'icomoon';
    position: absolute;
}
.quote blockquote:before {
    content: "\e906";
    top: 0;
    left: 0;
}
.quote blockquote:after {
    content: "\e905";
    right: 0;
}
