@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rd4abb');
  src:  url('fonts/icomoon.eot?rd4abb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rd4abb') format('truetype'),
    url('fonts/icomoon.woff?rd4abb') format('woff'),
    url('fonts/icomoon.svg?rd4abb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dots-three-vertical:before {
  content: "\e918";
}
.icon-check:before {
  content: "\e917";
}
.icon-dots-three:before {
  content: "\e916";
}
.icon-envelope:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-bell:before {
  content: "\e902";
}
.icon-x:before {
  content: "\e903";
}
.icon-quote-close:before {
  content: "\e904";
}
.icon-quote-open:before {
  content: "\e905";
}
.icon-image:before {
  content: "\e906";
}
.icon-pencil:before {
  content: "\e907";
}
.icon-list:before {
  content: "\e908";
}
.icon-unlock:before {
  content: "\e909";
}
.icon-globe:before {
  content: "\e90a";
}
.icon-lock:before {
  content: "\e90b";
}
.icon-chain-broken:before {
  content: "\e90c";
}
.icon-chain:before {
  content: "\e90d";
}
.icon-comments:before {
  content: "\e90e";
}
.icon-comment:before {
  content: "\e90f";
}
.icon-boost:before {
  content: "\e910";
}
.icon-arrow-left:before {
  content: "\e911";
}
.icon-arrow-up:before {
  content: "\e912";
}
.icon-arrow-down:before {
  content: "\e913";
}
.icon-home:before {
  content: "\e914";
}
.icon-local:before {
  content: "\e915";
}
.icon-search:before {
  content: "\e986";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-plus:before {
  content: "\ea0a";
}
