{% load i18n %}
{% load static %}

{% if form.non_field_errors %}
<div class="block">
    <p class="notification is-danger">{{ form.non_field_errors }}</p>
</div>
{% endif %}

{% csrf_token %}

<input type="hidden" name="last_edited_by" value="{{ request.user.id }}">
{% if book.parent_work.id or form.parent_work %}
<input type="hidden" name="parent_work" value="{% firstof book.parent_work.id form.parent_work %}">
{% endif %}


{% block scripts %}
<script src="{% static "js/forms.js" %}"></script>
{% endblock %}

