{% extends "book/edit/edit_book_form.html" %}
{% load i18n %}

{% block physical_properties %}
<section class="block">
    <h2 class="title is-4">
        {% trans "Physical Properties" %}
    </h2>
    <div class="box">
        <div class="columns">
            <div class="column is-one-third">
                <div class="field">
                    <label class="label" for="id_physical_format">
                        {% trans "Format:" %}
                    </label>
                    {{ form.physical_format }}

                    {% include 'snippets/form_errors.html' with errors_list=form.physical_format.errors id="desc_physical_format" %}
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label" for="id_physical_format_detail">
                        {% trans "Format details:" %}
                    </label>
                    {{ form.physical_format_detail }}

                    {% include 'snippets/form_errors.html' with errors_list=form.physical_format_detail.errors id="desc_physical_format_detail" %}
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label" for="id_pages">
                {% trans "Pages:" %}
            </label>
            {{ form.pages }}

            {% include 'snippets/form_errors.html' with errors_list=form.pages.errors id="desc_pages" %}
        </div>
    </div>
</section>
{% endblock %}

{% block identifiers %}
<div class="field">
<label class="label" for="id_isbn_13">
    {% trans "ISBN 13:" %}
</label>
{{ form.isbn_13 }}
{% include 'snippets/form_errors.html' with errors_list=form.isbn_13.errors id="desc_isbn_13" %}
</div>

<div class="field">
<label class="label" for="id_isbn_10">
    {% trans "ISBN 10:" %}
</label>
{{ form.isbn_10 }}
{% include 'snippets/form_errors.html' with errors_list=form.isbn_10.errors id="desc_isbn_10" %}
</div>

<div class="field">
    <label class="label" for="id_oclc_number">
        {% trans "OCLC Number:" %}
    </label>
    {{ form.oclc_number }}

    {% include 'snippets/form_errors.html' with errors_list=form.oclc_number.errors id="desc_oclc_number" %}
</div>
{% endblock %}


{% block publication %}
<section class="block">
    <h2 class="title is-4">
        {% trans "Publication" %}
    </h2>
    <div class="box">
        <div class="field">
            <label class="label" for="id_publishers">
                {% trans "Publisher:" %}
            </label>
            {{ form.publishers }}
            <span class="help" id="desc_publishers_help">
                {% trans "Separate multiple values with commas." %}
            </span>

            {% include 'snippets/form_errors.html' with errors_list=form.publishers.errors id="desc_publishers" %}
        </div>

        <div class="field">
            <label class="label" for="id_first_published_date">
                {% trans "First published date:" %}
            </label>
            {{ form.first_published_date }}
            {% include 'snippets/form_errors.html' with errors_list=form.first_published_date.errors id="desc_first_published_date" %}
        </div>

        <div class="field">
            <label class="label" for="id_published_date">
                {% trans "Published date:" %}
            </label>
            {{ form.published_date }}

            {% include 'snippets/form_errors.html' with errors_list=form.published_date.errors id="desc_published_date" %}
        </div>
    </div>
</section>
{% endblock %}
