{% load i18n %}
<div
    class="field{% if not reply_parent.content_warning and not draft.content_warning %} is-hidden{% endif %}"
    id="spoilers_{{ uuid }}{{ local_uuid }}"
>
    <label
        class="label"
        for="id_content_warning_{{ uuid }}{{ local_uuid }}"
    >
        {% trans "Content warning:" %}
    </label>
    <input
        type="text"
        name="content_warning"
        maxlength="255"
        class="input"
        id="id_content_warning_{{ uuid }}{{ local_uuid }}"
        placeholder="{% trans 'Spoilers ahead!' %}"
        value="{% firstof draft.content_warning reply_parent.content_warning '' %}"
        data-cache-draft="id_content_warning_{{ book.id }}_{{ type }}"
    >
</div>
