{% extends 'settings/layout.html' %}
{% load i18n %}
{% block title %}{% trans "Manage Genres" %}{% endblock %}

{% block edit-button %}
<a href="{% url 'settings-genres-add' %}">
    <span class="icon icon-plus" title="{% trans 'Add genre' %}" aria-hidden="True"></span>
    <span class="is-hidden-mobile">{% trans "Add genre" %}</span>
</a>
{% endblock %}

{% block header %}
{% trans "Manage Genres" %}
{% endblock %}



{% block panel %}

<div class="table-container block">
    <table class="table is-striped is-fullwidth">
        <tr>
            {% url 'settings-genres' as url %}
            <th colspan="2">
                {% trans "Genre" as text %}
                {% include 'snippets/table-sort-header.html' with field="genre" sort=sort text=text %}
            </th>
        </tr>
        {% for genre in object_list %}
        <tr>

            <td class="overflow-wrap-anywhere pl-1">
                <a href="{% url 'settings-genres-mod' genre.id %}">{{ genre.genre_name }}</a>
            </td>
            <td>
                <span class="tag is-success" aria-hidden="true">
                    <span class="icon icon-check"></span>
                </span>
                <a href="{% url 'genre-view' genre.id %}">View Page</a>
            </td>

        </tr>
        {% endfor %}
    </table>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
