{% extends 'settings/layout.html' %}
{% load i18n %}
{% block title %}{% trans "Manage Genres" %}{% endblock %}

{% block header %}
{% trans "Manage Genres" %}
{% endblock %}

{% block breadcrumbs %}
<nav class="breadcrumb subtitle" aria-label="breadcrumbs">
    <ul>
        <li><a href="{% url 'settings-genres' %}">{% trans "Genres" %}</a></li>
        <li class="is-active">
            <a href="#" aria-current="page">
                Adding new genre
            </a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block panel %}

    <form method="post">{% csrf_token %}
        <div class="field">
            {{ form.as_p }}
        </div>
        
        <button type="submit" class="button is-primary">  {% trans "Create" %} </button>
    </form>
    <!-- <form method="POST">
        {% csrf_token %}
        <div class="columns">

            <div class="column is-half">
                <div class="field" for="{{ form.genre_name.id_for_label }}">
                    <label class="label">
                        {% trans "Genre name:" %}
                    </label>
                    <input type="text" name="genre_name" maxlength="255" class="input"  >
                    
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label" for="{{ form.genre_description.id_for_label }}">
                {% trans "Genre description:" %}
            </label>
            <textarea
                name="desc"
                cols="40"
                rows="5"
                class="textarea"
                id="desc_genre"
            >{{ form.notes.value|default:'' }}</textarea>
        </div>
    
        <button type="submit" class="button is-primary">
            {% trans "Save" %}
        </button>
    </form> -->

{% endblock %}
