{% extends 'settings/layout.html' %}
{% load i18n %}
{% block title %}{% trans "Suggested Genres" %}{% endblock %}

{% block header %}
{% trans "Suggested Genres" %}
{% endblock %}

{% block breadcrumbs %}
<nav class="breadcrumb subtitle" aria-label="breadcrumbs">
    <ul>
        <li><a href="{% url 'settings-suggestions' %}">{% trans "Suggestions" %}</a></li>
        <li class="is-active">
            <a href="#" aria-current="page">
                {{ object.name }}
            </a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block panel %}
    <div class="block columns">
        <div class="column is-flex is-flex-direction-column">
            <h4 class="title is-4">Editing {{ object.name }}</h4>
            <div class="box content is-flex-grow-1">
                <dl>
                    <form method="post">{% csrf_token %}
                        <div class="field">
                            {{ form.as_p }}
                        </div>

                        <button type="submit" class="button is-primary">  {% trans "Save" %} </button>
                    </form> 
                </dl>
            </div>
        </div>
        <div class="column is-flex is-flex-direction-column">
            <h4 class="title is-4">Suggestion Actions</h4>
            <div class="box content is-flex-grow-1">
                <dl class="mb-3">
                    <form method="POST" action="{% url 'settings-suggestions-approve' object.id %}">{% csrf_token %}
                        <button type="submit" class="button is-success is-light">{% trans "Approve Suggestion" %}</button>
                    </form> 
                </dl> 
                <dl>
                    <form method="POST" action="{% url 'settings-suggestions-remove' object.id %}">{% csrf_token %}
                        <button type="submit" class="button is-danger is-light">{% trans "Deny Suggestion" %}</button>
                    </form>
                </dl>
            </div>
        </div>
    </div>


    <!-- <form method="post">{% csrf_token %}
        <div class="field">
            {{ form.as_p }}
        </div>
        
        <button type="submit" class="button is-primary">  {% trans "Save" %} </button>
    </form> -->

{% endblock %}